// Structure

.banner {
	width: 100%;
	float: left;
	margin-bottom: 2em;
}

// Temp Header Styles
.banner h1 {
	font-size: 2em;
	line-height: 1.2;
}

.main-content {
	float: left;
	width: 65%;	
	margin-right: 10%;
}

.sidebar {
	float:left;
	width: 25%;
	font-size: 0.9em;
}

.sidebar {
	color: rgb(167, 169, 172);
}


$blog-pink: rgb(238,70,123);
$blog-yellow: rgb(254,221,60);
$blog-turquoise: rgb(63,212,173);
$blog-blue: rgb(0,105,166);
$blog-pink--light: rgb(241,133,206);
$blog-lime-green: rgb(196,231,106);
$blog-red: rgb(244,36,52);
$blog-blue--light: rgb(155,230,215);
$blog-orange: rgb(255,157,107);
$blog-pale-green: rgb(227,231,51);

// Category colors + backgrounds

// Background

li.code a.tag, li.code:hover a:after, li.code.active a:after, .code .post-image {
	background: $blog-pink;
}

li.inspiring a.tag, li.inspiring:hover a:after, li.inspiring.active a:after, .inspiring .post-image {
	background: $blog-yellow;
}

li.made a.tag, li.made:hover a:after, li.made.active a:after, .made .post-image {
	background: $blog-turquoise;
}

li.out-and-about a.tag, li.out-and-about:hover a:after, li.out-and-about.active a:after, .out-and-about .post-image {
	background: $blog-blue;
}

li.people a.tag, li.people:hover a:after, li.people.active a:after, .people .post-image {
	background: $blog-pink--light;
}

li.process a.tag, li.process:hover a:after, li.process.active a:after, .process .post-image {
	background: $blog-lime-green;
}

li.ideas a.tag, li.ideas:hover a:after, li.ideas.active a:after, .ideas .post-image {
	background: $blog-red;
}

li.found a.tag, li.found:hover a:after, li.found.active a:after, .found .post-image {
	background: $blog-blue--light;
}

li.present a.tag, li.present:hover a:after, li.present.active a:after, .present .post-image {
	background: $blog-orange;
}

li.studio a.tag, li.studio:hover a:after, li.studio.active a:after, .studio .post-image {
	background: $blog-pale-green;
}

// Color


li.code a:hover, li.code.active a, .single-post.code .title, .single-post.code .caption, .single-post.code h3 {
	color: $blog-pink;
}

li.inspiring a:hover, li.inspiring.active a, .single-post.inspiring .title, .single-post.inspiring .caption, .single-post.inspiring h3 {
	color: $blog-yellow;
}

li.made a:hover, li.made.active a, .single-post.made .title, .single-post.made .caption, .single-post.made h3 {
	color: $blog-turquoise;
}

li.out-and-about a:hover, li.out-and-about.active a, .single-post.out-and-about .title, .single-post.out-and-about .caption, .single-post.out-and-about h3 {
	color: $blog-blue;
}

li.people a:hover, li.people.active a, .single-post.people .title, .single-post.people .caption, .single-post.people h3 {
	color: $blog-pink--light;
}

li.process a:hover, li.process.active a, .single-post.process .title, .single-post.process .caption, .single-post.process h3 {
	color: $blog-lime-green;
}

li.ideas a:hover, li.ideas.active a, .single-post.ideas .title, .single-post.ideas .caption, .single-post.ideas h3 {
	color: $blog-red;
}

li.found a:hover, li.found.active a, .single-post.found .title, .single-post.found .caption, .single-post.found h3 {
	color: $blog-blue--light;
}

li.present a:hover, li.present.active a, .single-post.present .title, .single-post.present .caption, .single-post.present h3 {
	color: $blog-orange;
}

li.studio a:hover, li.studio.active a, .single-post.studio .title, .single-post.studio .caption, .single-post.studio h3 {
	color: $blog-pale-green;
}

// .uncategorized {
// 	color: ;
// }


// Sidebar

.sidebar h3 {
	padding: 1em 0;
	color: rgb(109, 110, 113);
	font-size: 1.2em;
}

.sidebar h3:first-of-type {
	padding-top: 0;
}


.category-links a {
	text-decoration: none;
	color: rgb(170,170,170);
	display: block;
	padding: 0.3em 0;
	position: relative;
	// font-size: 0.9em;
}

.category-icons {
	list-style: none;
	margin: 0.8em 0;
	padding: 0;
}

.category-icons li {
	display: inline-block;
}

.category-icons a.tag, .category-links a:after  {
	content: '';
	display: block;
	height: 10px;
	width: 10px;
	border-radius: 15px;
	position: relative;
	background: rgb(209, 211, 212);
}

.category-links a:after {
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.category-icons a.tag:hover:after, .category-icons a.tag.active:after {
	content: '';
	display: block;
	top: 3px;
	left: 3px;
	right: 3px;
	bottom: 3px;
	border-radius: 15px;
	background: rgb(255,255,255);
	position: absolute;
}

// Contact form

.contact-form {
	margin-bottom: 2em;
}
.contact-form > div {
	border-bottom: 1px solid rgb(170,170,170);
	margin-bottom: 0.3em;
}
.contact-form input.text {
	border: 0;
	background: transparent;
	padding: 0.7em 0;
	color: rgb(111,124,124);
	font-size: 1em;
}
.contact-form input.text:focus {
	outline: none;
}
.contact-form input.button {
	border: 0;
	background: transparent;
	padding: 0.3em 0;
	font-size: 1em;
	color: inherit;
}
.contact-form input.button:hover {
	cursor: pointer;
	color: darken(rgb(170,170,170),15%);
}

// Posts lists

.post-list {
	padding: 0;
	list-style: none;
}

.post-list > li {
	margin: 2em 0;
}

.post-list > li:first-of-type {
	margin: 0 0 2em 0;
}

// No Image styles

.post-image img {
	width: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}

.post-image {
	position: relative;
	height: 0;
	padding: 5% 5% 57.4% 5%;
	margin: 0 0 1em 0;
	overflow: hidden;

	// Temp Typography stuff - please remove me!
	font-size: 22px;

}

.post-image .category {
	color: rgba(255,255,255,0.5);
	margin: 0;

	// Temp Typography stuff - please remove me!
	font-size: 22px;
}

.post-image p {
	color: rgb(255,255,255);
	margin: 0.5em 0;
}

.post .category-icons {
	float: left;
	width: 100%;
}

.post-meta-data:after {
	content: '';
	display: block;
	clear: both;
}

.post a {
	text-decoration: none;
}

// Post -- Clean this up - seems a bit meh.

.post .title {
	text-align: center;
	display: block;
	float: left;
	width: 50%;
	color: rgb(88,89,91);
}

.post .title-long, .post .date, .single-post .title-long, .single-post .date {
	color: rgb(167,169,172);
}

.post .under {
	display: block;
	margin: 0.5em 0;
}

.post .date {
	float: left;
	width: 25%;
	display: block;
}

.post .go-to {
	float: left;
	width: 25%;
	display: block;
}

// a needs a hover state.

.post .go-to a {
	display: block;
	height: 21px;
	width: 37px;
	background: url("../images/blog-arrow.png");
	float: right;
}

// Post list pagination

.pagination a {
	text-decoration: none;
	color: rgb(167,169,172);
	padding: 2em 0;
}

.pagination .next {
	float: right;
}

.pagination .prev {
	float: left;
}



// Single Post

.single-post:after, .images:after, .sidebar:after, .wrapper:after {
	content: '';
	display: block;
	clear: both;
}

.single-post em {
	font-style: italic;
}

.single-post strong {
	font-weight: bold;
}

.single-post blockquote, .single-post q {
	margin-left: 2em;
	border-left: 3px solid rgb(204, 204, 204);
	padding-left: 1em;
}

.single-post {
	h1, h2, h3, h4, h5, h6 {
		margin: 1em 0;
	}
}

.single-post {
	margin-bottom: 2em;
}

// !!! These are using category specific colors, duplicate this for all other colors

.single-post .caption, .single-post .caption-alt {
	font-size: 0.9em;
	margin: 0.1em;
}

.single-post .title {
	color: $blog-turquoise;
}

.single-post .caption {
	color: $blog-turquoise;
}

.single-post .caption-alt {
	color: rgb(167, 169, 172);
}


.single-post .meta-data {
	float: left;
	width: 10%;
}

.single-post .meta-data .category-icons {
	margin: 0.2em 0;
}

.images .image-col-3 {
	width: 33.33%;
	float: left;
	box-sizing: border-box;
	padding: 0 10px;
}

.images .image-col-2 {
	width: 50%;
	float: left;
	box-sizing: border-box;
	padding: 0 10px;
}

.single-post img {
	margin-bottom: 0.5em;
}

.image-col-1 {
	float: left;
	margin: 2em 0;
}

.single-post .images {
	margin: 1em -10px;
	float: left;
	width: 100%;
}

.single-post img {
	max-width: 100%;
	display: block;
}

.single-post .title-img {
	margin-bottom: 2em;
}

.single-post .text {
	width: 90%;
	float: right;
}

.single-post p, .single-post ul {
	margin: 1em 0;
	line-height: 1.5;
}

.single-post a {
	color: rgb(167,169,172);
}

.single-post ul li {
	color: rgb(167,169,172);
}

// TEMP - SEPERATE INTO ELEMENTS




header {
	background: rgb(255,255,255);
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	padding: 0.25em 0;
	z-index: 2;
}
.index-open header {
	border-bottom-color: rgb(0,77,89);
}
.search-open header {
	border-bottom-color: rgb(0,207,202);
}

header .marque img {
    margin-top: 0.85em;
    height: 20px;
}

header nav {
	float: right;
	overflow: hidden;
}
header nav a {
	text-decoration: none;
	line-height: 3em;
	color: rgb(102,102,102);
	border-bottom: 1px solid transparent;
	display: block;
	padding: 0 0.6em;
	float: left;
}
header nav a:hover,
.work nav a.work,
.us nav a.us,
.journal nav a.journal {
	border-bottom: 1px solid rgb(255,48,67);
}
nav .search,
nav .index {
	padding: 0;
}
nav .search {
	text-indent: -999em;
	background: transparent url('../images/icon-sprite.png') -70px 17px no-repeat;
	height: 3em;
	width: 14px;
	margin: 0 0 0 0.6em;
	position: relative;
}
.search-open nav .search,
nav .search:hover {
	border-bottom-color: transparent;
	background-position: -70px -33px;
}
.search-open nav .search:after {
	content: ' ';
	position: absolute;
	z-index: 10;
	bottom: -1px;
	right: -1px;
	width: 0; 
	height: 0; 
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid rgb(0,207,202);
}
nav .index {
	text-indent: -999em;
	background: transparent url('../images/icon-sprite.svg') no-repeat 0 14px;
	background-size: 200%;
	height: 3em;
	width: 16px;
	margin: 0 0 0 0.6em;
	position: relative;
}
.index-open nav .index,
nav .index:hover {
	border-bottom-color: transparent;
	background-position: -16px 14px;
}
.no-svg nav .index {
	background-image: url('../images/icon-sprite.png');
}
/*
.no-svg .index-open nav .index,
.no-svg nav .index:hover {
	background-position: -16px 14px;
}
*/
.index-open nav .index:after {
	content: ' ';
	position: absolute;
	z-index: 10;
	bottom: -1px;
	right: 1px;
	width: 0; 
	height: 0; 
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid rgb(0,77,89);
}





footer {
	color: rgb(153,153,153);
	background: rgb(255,255,255);
	border-top: 1px solid rgb(231,227,222);
	padding: 1em 0;
}
footer > div {
	overflow: hidden;
}
footer .social {
	border-top: 0;
	margin: 0;
}

footer .social {
text-align: right;
width: 50%;
float: right;
padding: 1em 0;
}

.social li {
	display: inline-block;
}

.social a {
	text-decoration: none;
	color: rgb(153, 153, 153);
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.social li a:before {
	content: ' / ';
}

.social li:first-child a:before {
	content: '';
}

footer div > p {
	float: left;
width: 30%;
margin: 1em 0;
}
