.form-group{
	margin-bottom:20px;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="url"], input[type="password"], textarea {
	box-sizing: border-box;
	background-color: rgb(252, 252, 252);
	border: 1px solid rgb(220, 220, 220);
	display: block;
	font-size: 1em;
	padding: 0.4em;
	margin-bottom: 0.4em;
	width: 100%;
	vertical-align: middle;
}

label {
	color: rgb(88, 89, 91);
	border: 0;
	display: inline-block;
	font-size: 1em;
	font-weight: bold;
	line-height: 1.4em;
	margin-bottom: 0.25em;
	position: relative;
	text-transform: none;
}

textarea {
	min-height: 200px;
}

.details {
	display: none;
}

form p {
  margin: 20px 0;
}

// Ajax loader on the submit button

.loader {
	position: absolute;
	width: 15px;
	height: 15px;
	right: 0;
	top: -50%;
	border: 8px solid darken(rgb(5, 206, 123),25%);
	border-right-color: rgba(0, 0, 0, 0);
	border-right-color: rgba(0, 0, 0, 0);
	border-radius: 50%;
	opacity: 0.3;
}

.error .loader {
  border: none;
  background: url('/images/failure.png');
  height: 30px;
  width: 30px;
}

.loader.done {
  background: url('/images/success.png');
  height: 30px;
  width: 30px;
  border: none;
}

.spin {
		-webkit-animation: spin 1s linear infinite;
	-moz-animation: spin 1s linear infinite;
	-ms-animation: spin 1s linear infinite;
	-o-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
}

@keyframes spin
{
	from { transform: rotate(0deg); }
	50%  { transform: rotate(180deg); }
	to   { transform: rotate(360deg); }
}

@-webkit-keyframes spin
{
	from { -webkit-transform: rotate(0deg); }
	50%  { -webkit-transform: rotate(180deg); }
	to   { -webkit-transform: rotate(360deg); }
}

// Fade in animation testing from display none

.shown {
	display: block;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

// Issue Testing - Red glow.

input[type="email"].issue {
	border: 1px solid red;
	transition: border 1s ease-out;
}

// Notifications - from pattern library


.msg {
    margin: 0 0 2em;
    padding: 1em 0;
    position: fixed;
    top: 57px;
    left: 0;
    right: 0;
    z-index: 1;
    -webkit-transform: translateY(-57px);
    transition: all 0.4s ease-out;
}

.msg .wrapper {
	position: relative;
}

.msg.active {
	-webkit-transform: translateY(0px);
}

.msg span {
	display: block;
}

.msg a {
	color: inherit;
}

.msg.warning {
    background-color: rgb(242, 242, 202);
    color: darken(rgb(242, 242, 202),60%);
}

.msg.success {
    background-color: rgb(5, 206, 123);
    color: darken(rgb(5, 206, 123),25%);
}

.msg.error {
    background-color: rgb(255, 91, 53);
    color: darken(rgb(255, 91, 53),25%);
}

.msg.note {
	background-color: rgb(172, 224, 219);
	color: rgb(13, 126, 121);
}

// Slider 

.ui-slider {
  width: 60%;
  margin: 0 auto;
}

/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
-webkit-touch-callout: none;
-webkit-user-select: none;
-ms-touch-action: none;
-ms-user-select: none;
-moz-user-select: none;
-moz-box-sizing: border-box;
  box-sizing: border-box;
}
.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
}
.noUi-origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}
.noUi-handle {
  position: relative;
  z-index: 1;
}
.noUi-stacking .noUi-handle {
/* This class is applied to the lower origin when
   its values is > 50%. */
  z-index: 10;
}
.noUi-stacking + .noUi-origin {
/* Fix stacking order in IE7, which incorrectly
   creates a new context for the origins. */
  *z-index: -1;
}
.noUi-state-tap .noUi-origin {
-webkit-transition: left 0.3s, top 0.3s;
  transition: left 0.3s, top 0.3s;
}
.noUi-state-drag * {
  cursor: inherit !important;
}

/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 18px;
}
.noUi-horizontal .noUi-handle {
  width: 34px;
  height: 28px;
  left: -17px;
  top: -6px;
  margin: 0;
}
.noUi-horizontal.noUi-extended {
  padding: 0 15px;
}
.noUi-horizontal.noUi-extended .noUi-origin  {
  right: -15px;
}
.noUi-vertical {
  width: 18px;
}
.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  left: -6px;
  top: -17px;
}
.noUi-vertical.noUi-extended {
  padding: 15px 0;
}
.noUi-vertical.noUi-extended .noUi-origin  {
  bottom: -15px;
}

/* Styling;
 */
.noUi-background {
  background: rgb(255,255,255);
}
.noUi-connect {
  background: rgb(245,251,253);
-webkit-transition: background 450ms;
  transition: background 450ms;
}
.noUi-origin {
  
}
.noUi-target {
  
}
.noUi-target.noUi-connect {

}

/* Handles and cursors;
 */
.noUi-dragable {
  cursor: w-resize;
}
.noUi-vertical .noUi-dragable {
  cursor: n-resize;
}
.noUi-handle {
  background: rgb(64,182,228);
  cursor: default;
}
.noUi-active {

}

/* Handle stripes;
 */
.noUi-handle:before,
.noUi-handle:after {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  width: 1px;
  background: #E8E7E6;
  left: 14px;
  top: 6px;
}
.noUi-handle:after {
  left: 17px;
}

/* Disabled state;
 */
[disabled].noUi-connect,
[disabled] .noUi-connect {
  background: #B8B8B8;
}
[disabled] .noUi-handle {
  cursor: not-allowed;
}

