//Grid
$column-count: 20;
$gutter-width: 20px;
$column-width: (100% / $column-count);

// Colours
$fw-red: rgb(232,57,68);

// Type Sizes
$type-base: 15px;
$line-base: 1.4em;

$type-large: 1.3333em;
$line-large: 1.4545em;
