---
order: 15
title: "Ape"
runner: "Helping companies they believe in to innovate, develop new products and services, and be better."
meta:
- Branding
- Iconography
layout: default
header_imgs: 
  default: /images/ape/ape-topimage-600.jpg
  601px: /images/ape/ape-topimage-1100.jpg
  1101px: /images/ape/ape-topimage-1500.jpg
  1501px: /images/ape/ape-topimage-2560.jpg
thumbs: 
  1580w: /images/project-thumbs/fwlanding-ape-1580.jpg
  1100w: /images/project-thumbs/fwlanding-ape-1100.jpg
  600w: /images/project-thumbs/fwlanding-ape-600.jpg
thumb: /images/project-thumbs/fwlanding-ape-1100.jpg
---


<div class="page-section">

	<div class="wrapper">
		
		{% include project-title.html %}
		
		<div class="section-text section-text--large">
			<p>Our big challenge with Ape was in pulling lots of activity together under one coherent, easy to access company brand. Founder, Mark Shayler, is a whirlwind of activity, and we had to provide Ape with an identity and digital presence that would match his energy and personality, whilst being simple and understated enough to let him do the talking.</p>
			<p>The identity we produced is clean and minimal, yet colourful and hand-drawn, hinting at Ape’s energetic personality whilst leaving room for them to communicate in their own way. Using stamps, stencils, and letterpressed cards on which Mark can hand-write his own phrases, we gave Ape everything they need to play with the identity, let it grow with them and move as they discover new territory.</p>
			<p>Mark is great at telling his story and talking about what Ape does, so video made perfect sense as his main platform. A minimal website with simple navigation and flashes of personality create a flexible system for communicating up-to-the minute information about Ape’s services and activities.</p>
			<ul>
				<li><a href="http://thisisape.co.uk/">Ape website</a></li>
			</ul>
		</div>
	</div>	

</div>


<div class="section-inner">

	<div class="grid media-grid">
		<div class="grid-item">
			<img src="{{ site.asseturl }}/images/ape/ape-logo-1580.png" alt="" />
		</div>

		<div class="grid-item">
			<img srcset="
					{{ site.asseturl }}/images/ape/ape-drawings-1580.jpg 1580w, 
			        {{ site.asseturl }}/images/ape/ape-drawings-1100.jpg 1100w,
			        {{ site.asseturl }}/images/ape/ape-drawings-600.jpg 600w"
				sizes="(min-width: 600px) 45vw, 90vw"
				src="{{ site.asseturl }}/images/ape/ape-drawings-1580.jpg" 
				alt="" />
		</div>

		<img srcset="
				{{ site.asseturl }}/images/ape/ape-ipad1-1580.jpg 1580w, 
		        {{ site.asseturl }}/images/ape/ape-ipad1-1100.jpg 1100w,
		        {{ site.asseturl }}/images/ape/ape-ipad1-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.asseturl }}/images/ape/ape-ipad1-1580.jpg" alt="" />

		<img srcset="
				{{ site.asseturl }}/images/ape/ape-ipad2-1580.jpg 1580w, 
		        {{ site.asseturl }}/images/ape/ape-ipad2-1100.jpg 1100w,
		        {{ site.asseturl }}/images/ape/ape-ipad2-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.asseturl }}/images/ape/ape-ipad2-1580.jpg" alt="" />

		<img srcset="
				{{ site.asseturl }}/images/ape/ape-iphoneholding-1580.jpg 1580w, 
		        {{ site.asseturl }}/images/ape/ape-iphoneholding-1100.jpg 1100w,
		        {{ site.asseturl }}/images/ape/ape-iphoneholding-600.jpg 600w"
			sizes="(min-width: 600px) 45vw, 90vw"
			src="{{ site.asseturl }}/images/ape/ape-iphoneholding-1580.jpg" 
			alt="" />

		<img srcset="
				{{ site.asseturl }}/images/ape/ape-iphone1-1580.jpg 1580w, 
		        {{ site.asseturl }}/images/ape/ape-iphone1-1100.jpg 1100w,
		        {{ site.asseturl }}/images/ape/ape-iphone1-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.asseturl }}/images/ape/ape-iphone1-1580.jpg" alt="" />

		<img srcset="
				{{ site.asseturl }}/images/ape/ape-ipad3-1580.png 1580w, 
		        {{ site.asseturl }}/images/ape/ape-ipad3-1100.png 1100w,
		        {{ site.asseturl }}/images/ape/ape-ipad3-600.png 600w"
			sizes="(min-width: 600px) 45vw, 90vw"
			src="{{ site.asseturl }}/images/ape/ape-ipad3-1580.png" 
			alt="" />

		<img srcset="
				{{ site.asseturl }}/images/ape/ape-type-1580.gif 1580w,
		        {{ site.asseturl }}/images/ape/ape-type-600.gif 600w"
		    sizes="90vw"
			src="{{ site.asseturl }}/images/ape/ape-type-1580.gif" alt="" />
	
		<div class="grid-item">
			<img srcset="
					{{ site.asseturl }}/images/ape/ape-buscards-1580.jpg 1580w, 
			        {{ site.asseturl }}/images/ape/ape-buscards-1100.jpg 1100w,
			        {{ site.asseturl }}/images/ape/ape-buscards-600.jpg 600w"
				sizes="(min-width: 600px) 45vw, 90vw"
				src="{{ site.asseturl }}/images/ape/ape-buscards-1580.jpg" 
				alt="" />
		</div>

		<div class="grid-item">
			<img srcset="
					{{ site.asseturl }}/images/ape/ape-buscards-right-1580.jpg 1580w, 
			        {{ site.asseturl }}/images/ape/ape-buscards-right-1100.jpg 1100w,
			        {{ site.asseturl }}/images/ape/ape-buscards-right-600.jpg 600w"
				sizes="(min-width: 600px) 45vw, 90vw"
				src="{{ site.asseturl }}/images/ape/ape-buscards-right-1580.jpg" 
				alt="" />
		</div>

		<img srcset="
				{{ site.asseturl }}/images/ape/ape-buscardwriting2-1580.jpg 1580w, 
		        {{ site.asseturl }}/images/ape/ape-buscardwriting2-1100.jpg 1100w,
		        {{ site.asseturl }}/images/ape/ape-buscardwriting2-600.jpg 600w"
			sizes="(min-width: 600px) 45vw, 90vw"
			src="{{ site.asseturl }}/images/ape/ape-buscardwriting2-1580.jpg" 
			alt="" />

	</div>

	{% include project-footer.html %}

</div>

