---
order: 15
title: "Ape"
runner: "Ape blurb."
meta:
- Branding
- Iconography
layout: default
header_imgs: 
  default: /images/ape/ape-topimage-600.jpg
  601px: /images/ape/ape-topimage-1100.jpg
  1101px: /images/ape/ape-topimage-1500.jpg
  1501px: /images/ape/ape-topimage-2560.jpg
thumbs: 
  1580w: /images/project-thumbs/fwlanding-ape-1580.png
  1100w: /images/project-thumbs/fwlanding-ape-1100.png
  600w: /images/project-thumbs/fwlanding-ape-600.png
thumb: /images/project-thumbs/fwlanding-ape-1100.png
---


<div class="page-section">

	<div class="wrapper">
		
		{% include project-title.html %}
		
		<div class="section-text section-text--large">
			<p>Global Generation are hands-on types. They run workshops for young people where they dig, grow vegetables, and make things. This was key to our approach with their new brand identity.</p>
			<p>Beginning with a one-day workshop attended the Global Generation team, some of the young people they work with, and Fieldwork (and led by one of our regular collaborators, Mark Shayler of <a href="http://thisisape.co.uk/">Ape</a>), we spent time uncovering the identity of the organisation and learning about their core purpose.</p>
			<p>We developed a few initial, exploratory ideas for the visual identity, which we iteratively narrowed down and developed into a custom stencil typeface that the team can use to create their own signage and print materials, in true hands-on Global Generation style. We also developed bespoke iconography to provide additional tools for them to use in their communications.</p>
		</div>
	</div>	

</div>


<div class="section-inner">

	<div class="grid media-grid">
		<div class="grid-item">
			<img src="{{ site.asseturl }}/images/ape/ape-logo-1580.png" alt="" />
		</div>

		<div class="grid-item">
			<img srcset="
					{{ site.asseturl }}/images/ape/ape-drawings-1580.jpg 1580w, 
			        {{ site.asseturl }}/images/ape/ape-drawings-1100.jpg 1100w,
			        {{ site.asseturl }}/images/ape/ape-drawings-600.jpg 600w"
				sizes="(min-width: 600px) 45vw, 90vw"
				src="{{ site.asseturl }}/images/ape/ape-drawings-1580.jpg" 
				alt="" />
		</div>

		<img srcset="
				{{ site.asseturl }}/images/ape/ape-ipad1-1580.jpg 1580w, 
		        {{ site.asseturl }}/images/ape/ape-ipad1-1100.jpg 1100w,
		        {{ site.asseturl }}/images/ape/ape-ipad1-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.asseturl }}/images/ape/ape-ipad1-1580.jpg" alt="" />

		<img srcset="
				{{ site.asseturl }}/images/ape/ape-ipad2-1580.jpg 1580w, 
		        {{ site.asseturl }}/images/ape/ape-ipad2-1100.jpg 1100w,
		        {{ site.asseturl }}/images/ape/ape-ipad2-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.asseturl }}/images/ape/ape-ipad2-1580.jpg" alt="" />

		<img srcset="
				{{ site.asseturl }}/images/ape/ape-iphone1-1580.jpg 1580w, 
		        {{ site.asseturl }}/images/ape/ape-iphone1-1100.jpg 1100w,
		        {{ site.asseturl }}/images/ape/ape-iphone1-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.asseturl }}/images/ape/ape-iphone1-1580.jpg" alt="" />

		<div class="grid-item">
			<img srcset="
					{{ site.asseturl }}/images/ape/ape-iphone-journal-1580.jpg 1580w, 
			        {{ site.asseturl }}/images/ape/ape-iphone-journal-1100.jpg 1100w,
			        {{ site.asseturl }}/images/ape/ape-iphone-journal-600.jpg 600w"
				sizes="(min-width: 600px) 45vw, 90vw"
				src="{{ site.asseturl }}/images/ape/ape-iphone-journal-1580.jpg" 
				alt="" />
		</div>

		<img srcset="
				{{ site.asseturl }}/images/ape/ape-type-1580.gif 1580w,
		        {{ site.asseturl }}/images/ape/ape-type-600.gif 600w"
		    sizes="90vw"
			src="{{ site.asseturl }}/images/ape/ape-type-1580.gif" alt="" />

		

	</div>

	{% include project-footer.html %}

</div>

