---
title: "Camp Nothing"
runner: "In September 2013 Camp Nothing brought together 50 people from 15 cities across the UK to kickstart new Good for Nothing chapters, spreading the social-innovation bug far and wide."
meta:
- UI/UX
- Branding
- Design
- Development
layout: project
header_img: /images/fieldwork/fw-buscardheader.jpg
related:
- "Plan.Do": /plando
- "Up": /up
---


<div style="background-image: url('{{ site.baseurl }}{{ page.header_img }}');" class="hero-picture"></div>
<div class="hero">
	<div class="text">
		<div class="wrapper">
			
			{% include project-title.html %}

			<div class="project-description">
				<p>On the grounds of West Lexham Manor, Norfolk, Camp Nothing combined the great outdoors with purposeful, turbo-charged doing. A lovely brief. It was our job to tie all of this together with a flexible visual identity that would work alongside, yet be distinct from, the existing Good for Nothing brand.</p>
				<p>In true Good for Nothing fashion, we invited the team to our Manchester studio, and spent two energetic days rapidly developing a concept and initial visuals. This became the basis for the identity.</p>
				<p>We designed and developed an event website, attendee t-shirts, event signage, badges, and tote bags.</p>
			</div>
		</div>	
	</div>
</div>

<div class="wrapper">

	<div class="project-grid">

		<img src="{{ site.baseurl }}/images/camp-nothing/cn-ipad1.svg" alt="" />
		<div class="project-grid-col-2">
			<div><img src="{{ site.baseurl }}/images/camp-nothing/cn-rucksack.svg" alt="" /></div>
			<div><img src="{{ site.baseurl }}/images/camp-nothing/cn-rucksack.svg" alt="" /></div>
		</div>
		<div class="project-grid-col-2">
			<div><img src="{{ site.baseurl }}/images/camp-nothing/cn-sketches.jpg" alt="" /></div>
			<div><img src="{{ site.baseurl }}/images/camp-nothing/cn-sketches.jpg" alt="" /></div>
		</div>
		<img src="{{ site.baseurl }}/images/camp-nothing/cn-ipad2.jpg" alt="" />
		<img src="{{ site.baseurl }}/images/camp-nothing/cn-ipad.jpg" alt="" />
		<img src="{{ site.baseurl }}/images/camp-nothing/cn-iphone1.png" alt="" />
		<img src="{{ site.baseurl }}/images/camp-nothing/cn-iphone2.png" alt="" />
		<img src="{{ site.baseurl }}/images/camp-nothing/cn-dan.jpg" alt="" />
		<img src="{{ site.baseurl }}/images/camp-nothing/cn-table.jpg" alt="" />

	</div>

	{% if page.related %}
		<div class="project-info">
			<h2 class="elements">Related</h2>
			<ul>
				{% for link in page.related %}
					{% for l in link %}
						<li><a href="{{ l[1] }}">{{ l[0] }}</a></li>
					{% endfor %}
				{% endfor %}
			</ul>
		</div>
	{% endif %}

</div>