---
order: 5
title: "Camp Nothing"
runner: "In September 2013 Camp Nothing brought together 50 people from 15 cities across the UK to kickstart new Good for Nothing chapters, spreading the social-innovation bug far and wide."
meta:
- Website design
- Branding
- Design
- Development
layout: default
header_imgs: 
  default: /images/camp-nothing/cn-topimage-600.jpg
  601px: /images/camp-nothing/cn-topimage-1100.jpg
  1101px: /images/camp-nothing/cn-topimage-1500.jpg
  1501px: /images/camp-nothing/cn-topimage-2560.jpg
thumbs: 
  1580w: /images/project-thumbs/fwlanding-campnothing-1580.jpg
  1100w: /images/project-thumbs/fwlanding-campnothing-1100.jpg
  600w: /images/project-thumbs/fwlanding-campnothing-600.jpg
thumb: /images/project-thumbs/fwlanding-campnothing-1100.jpg
---


<div class="page-section">

	<div class="section-inner">
		
		{% include project-title.html %}

		<div class="section-text section-text--large">
			<p>Good for Nothing is a growing community of creative people who donate their time and skills to good causes with intensive 48 hour hackathons. On the grounds of West Lexham Manor, Norfolk, Camp Nothing saw the launch of Good for Nothing in new cities across the country.</p>
			<p>Our challenge was to bring together various elements—website, signage, attendee t-shirts, badges and tote bags—with a flexible visual identity that would work alongside, yet be distinct from, the existing Good for Nothing brand and capture the spirit of the event.</p>
			<p>In true Good for Nothing fashion, we invited the team to our Manchester studio, and spent two energetic days rapidly developing a concept and initial visuals, which would become the basis for the identity.</p>
			<ul>
				<li><a href="http://campnothing.goodfornothing.com/">Camp Nothing website</a></li>
			</ul>
		</div>
	</div>	

</div>

<div class="section-inner">

	<div class="grid media-grid">

		<img src="{{ site.baseurl }}/images/camp-nothing/cn-ipad1.svg" alt="" />
		
		<div class="grid-item">
			<img srcset="
					{{ site.baseurl }}/images/camp-nothing/cn-watching-1080.jpg 1080w, 
		        	{{ site.baseurl }}/images/camp-nothing/cn-watching-600.jpg 600w"
		    	sizes="(min-width: 600px) 45vw, 90vw"
				src="{{ site.baseurl }}/images/camp-nothing/cn-watching-1080.jpg" alt="" />
		</div>
		
		<div class="grid-item">
			<img src="{{ site.baseurl }}/images/camp-nothing/cn-rucksack.svg" alt="" />
		</div>
		
		<div class="grid-item">
			<img srcset="
					{{ site.baseurl }}/images/camp-nothing/cn-sketches-1580.jpg 1580w, 
		        	{{ site.baseurl }}/images/camp-nothing/cn-sketches-1100.jpg 1100w,
		        	{{ site.baseurl }}/images/camp-nothing/cn-sketches-600.jpg 600w"
		    	sizes="(min-width: 600px) 45vw, 90vw"
				src="{{ site.baseurl }}/images/camp-nothing/cn-sketches-1580.jpg" alt="" />
		</div>
		
		<div class="grid-item">
			<img srcset="
					{{ site.baseurl }}/images/camp-nothing/cn-newbadge-1080.jpg 1080w,
		        	{{ site.baseurl }}/images/camp-nothing/cn-newbadge-600.jpg 600w"
		    	sizes="(min-width: 600px) 45vw, 90vw"
				src="{{ site.baseurl }}/images/camp-nothing/cn-newbadge-1080.jpg" alt="" />
		</div>
		
		<img srcset="
				{{ site.baseurl }}/images/camp-nothing/cn-ipad2-1580.jpg 1580w, 
		        {{ site.baseurl }}/images/camp-nothing/cn-ipad2-1100.jpg 1100w,
		        {{ site.baseurl }}/images/camp-nothing/cn-ipad2-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.baseurl }}/images/camp-nothing/cn-ipad2-1580.jpg" alt="" />

		<img srcset="
				{{ site.baseurl }}/images/camp-nothing/cn-ipad-1580.jpg 1580w, 
		        {{ site.baseurl }}/images/camp-nothing/cn-ipad-1100.jpg 1100w,
		        {{ site.baseurl }}/images/camp-nothing/cn-ipad-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.baseurl }}/images/camp-nothing/cn-ipad-1580.jpg" alt="" />

		<img src="{{ site.baseurl }}/images/camp-nothing/cn-iphone1.png" alt="" />
		<img src="{{ site.baseurl }}/images/camp-nothing/cn-iphone2.png" alt="" />

		<img srcset="
				{{ site.baseurl }}/images/camp-nothing/cn-dan-1580.jpg 1580w, 
		        {{ site.baseurl }}/images/camp-nothing/cn-dan-1100.jpg 1100w,
		        {{ site.baseurl }}/images/camp-nothing/cn-dan-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.baseurl }}/images/camp-nothing/cn-dan-1580.jpg" alt="" />
		
		<img srcset="
				{{ site.baseurl }}/images/camp-nothing/cn-table-1580.jpg 1580w, 
		        {{ site.baseurl }}/images/camp-nothing/cn-table-1100.jpg 1100w,
		        {{ site.baseurl }}/images/camp-nothing/cn-table-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.baseurl }}/images/camp-nothing/cn-table-1580.jpg" alt="" />

	</div>

	{% include project-footer.html %}

</div>
