---
title: "Carbon Coop"
runner: "A groundbreaking group of residents and housing experts pioneering a new model for making homes in Greater Manchester more energy efficient."
meta:
- UI/UX
- Branding
- Design
- Development
layout: default
header_img: /images/carbon-coop/cc-topimage.jpg
related:
- "Plan.Do": /work/plando
- "Up": /work/up
thumb: /images/project-thumbs/fwlanding-carboncoop.jpg
---


<div class="page-section">

		<div class="wrapper">
			
			{% include project-title.html %}

			<div class="section-text section-text--cols">
				<p>We worked with Carbon Co-op to design a core brand, which we developed across a range of different outputs such as print, stationery and exhibition graphics. Illustrations by <a href="http://charlottetrounce.co.uk/">Charlotte Trounce</a> and bespoke iconography add extra depth and versatility to the identity.</p>
				<p>We designed and developed the first prototype of the web platform as a fast and cost-effective way to meet their existing needs, and continue to work with them to iterate on that initial version, adapting according to the things they learn about their requirements as we go.</p>
				<p>With a steadily increasing membership, Carbon Co-op are attracting new funding through their innovative uses of technology, including energy monitoring hardware. We’re currently working with them to integrate various technologies into a web based platform for members.</p>
			</div>
		</div>	

</div>


<div class="section-inner">

	<div class="grid media-grid">

		<img src="{{ site.baseurl }}/images/carbon-coop/cc-6.jpg" alt="" />

		<div class="grid-item"><img src="{{ site.baseurl }}/images/carbon-coop/cc-right.jpg" alt="" /></div>
		<div class="grid-item"><img src="{{ site.baseurl }}/images/carbon-coop/cc-left.jpg" alt="" /></div>
		<div class="grid-item"><img src="{{ site.baseurl }}/images/carbon-coop/cc-icons.svg" alt="" /></div>
		<div class="grid-item"><img src="{{ site.baseurl }}/images/carbon-coop/cc-icons.svg" alt="" /></div>

		<img src="{{ site.baseurl }}/images/carbon-coop/cc-3.jpg" alt="" />
		<img src="{{ site.baseurl }}/images/carbon-coop/cc-2.jpg" alt="" />
		<img src="{{ site.baseurl }}/images/carbon-coop/cc-7.jpg" alt="" />

		<div class="grid-item"><img src="{{ site.baseurl }}/images/carbon-coop/cc-4.jpg" alt="" /></div>
		<div class="grid-item"><img src="{{ site.baseurl }}/images/carbon-coop/cc-1.jpg" alt="" /></div>

		<img src="{{ site.baseurl }}/images/carbon-coop/cc-iphone.png" alt="" />
		<img src="{{ site.baseurl }}/images/carbon-coop/cc-browser.jpg" alt="" />
		
	</div>

	{% include project-footer.html %}

</div>