---
order: 9
title: "Carbon Coop"
runner: "A groundbreaking group of residents and housing experts pioneering a new model for making homes in Greater Manchester more energy efficient."
meta:
- UI/UX
- Branding
- Design
- Development
layout: default
header_imgs: 
  default: /images/carbon-coop/cc-topimage-600.jpg
  601px: /images/carbon-coop/cc-topimage-1100.jpg
  1101px: /images/carbon-coop/cc-topimage-1500.jpg
  1501px: /images/carbon-coop/cc-topimage-1800.jpg
thumbs: 
  1580w: /images/project-thumbs/fwlanding-carboncoop-1580.jpg
  1100w: /images/project-thumbs/fwlanding-carboncoop-1100.jpg
  600w: /images/project-thumbs/fwlanding-carboncoop-600.jpg
thumb: /images/project-thumbs/fwlanding-carboncoop-1100.jpg
---


<div class="page-section">

	<div class="wrapper">
		
		{% include project-title.html %}

		<div class="section-text section-text--large">
			<p>We worked with Carbon Co-op to design a core brand, which we developed across a range of different outputs such as print, stationery and exhibition graphics. Illustrations by <a href="http://charlottetrounce.co.uk/">Charlotte Trounce</a> and bespoke iconography add extra depth and versatility to the identity.</p>
			<p>A community focussed website helps the organisation develop their membership model, offering member’s only content, community features and a platform for communicating news and events.</p>
			<p>With a steadily increasing membership, Carbon Co-op are attracting new funding through their innovative uses of technology, including energy monitoring hardware. We’re currently working with them to integrate various technologies into a web based platform for members.</p>
			<ul>
				<li><a href="http://carbon.coop/">Carbon Co-op website</a></li>
			</ul>
		</div>
	</div>	

</div>


<div class="section-inner">

	<div class="grid media-grid">
		
		<img srcset="
				{{ site.asseturl }}/images/carbon-coop/cc-6-1580.jpg 1580w, 
		        {{ site.asseturl }}/images/carbon-coop/cc-6-1100.jpg 1100w,
		        {{ site.asseturl }}/images/carbon-coop/cc-6-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.asseturl }}/images/carbon-coop/cc-6-1580.jpg" alt="" />

		<div class="grid-item">
			<img srcset="
					{{ site.asseturl }}/images/carbon-coop/cc-right-781.jpg 781w,
			        {{ site.asseturl }}/images/carbon-coop/cc-right-600.jpg 600w"
				sizes="(min-width: 600px) 45vw, 90vw"
				src="{{ site.asseturl }}/images/carbon-coop/cc-right-781.jpg" alt="" />
		</div>
		
		<div class="grid-item">
			<img srcset="
					{{ site.asseturl }}/images/carbon-coop/cc-left-781.jpg 781w,
			        {{ site.asseturl }}/images/carbon-coop/cc-left-600.jpg 600w"
				sizes="(min-width: 600px) 45vw, 90vw"
				src="{{ site.asseturl }}/images/carbon-coop/cc-left-781.jpg" alt="" />
		</div>
		
		<div class="grid-item">
			<img src="{{ site.asseturl }}/images/carbon-coop/cc-icons.svg" alt="" />
		</div>
		
		<div class="grid-item">
			<img srcset="
					{{ site.asseturl }}/images/carbon-coop/cc-new-1580.jpg 1580w, 
			        {{ site.asseturl }}/images/carbon-coop/cc-new-1100.jpg 1100w,
			        {{ site.asseturl }}/images/carbon-coop/cc-new-600.jpg 600w"
				sizes="(min-width: 600px) 45vw, 90vw"
				src="{{ site.asseturl }}/images/carbon-coop/cc-new-1580.jpg" alt="" />
		</div>
		
		<img srcset="
				{{ site.asseturl }}/images/carbon-coop/cc-3-1580.jpg 1580w, 
		        {{ site.asseturl }}/images/carbon-coop/cc-3-1100.jpg 1100w,
		        {{ site.asseturl }}/images/carbon-coop/cc-3-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.asseturl }}/images/carbon-coop/cc-3-1580.jpg" alt="" />

		<img srcset="
				{{ site.asseturl }}/images/carbon-coop/cc-2-1580.jpg 1580w, 
		        {{ site.asseturl }}/images/carbon-coop/cc-2-1100.jpg 1100w,
		        {{ site.asseturl }}/images/carbon-coop/cc-2-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.asseturl }}/images/carbon-coop/cc-2-1580.jpg" alt="" />

		<img srcset="
				{{ site.asseturl }}/images/carbon-coop/cc-7-1580.jpg 1580w, 
		        {{ site.asseturl }}/images/carbon-coop/cc-7-1100.jpg 1100w,
		        {{ site.asseturl }}/images/carbon-coop/cc-7-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.asseturl }}/images/carbon-coop/cc-7-1580.jpg" alt="" />

		<div class="grid-item">
			<img srcset="
					{{ site.asseturl }}/images/carbon-coop/cc-4-1580.jpg 1580w, 
			        {{ site.asseturl }}/images/carbon-coop/cc-4-1100.jpg 1100w,
			        {{ site.asseturl }}/images/carbon-coop/cc-4-600.jpg 600w"
				sizes="(min-width: 600px) 45vw, 90vw"
				src="{{ site.asseturl }}/images/carbon-coop/cc-4-1580.jpg" alt="" />
		</div>

		<div class="grid-item">
			<img srcset="
					{{ site.asseturl }}/images/carbon-coop/cc-1-1580.jpg 1580w, 
			        {{ site.asseturl }}/images/carbon-coop/cc-1-1100.jpg 1100w,
			        {{ site.asseturl }}/images/carbon-coop/cc-1-600.jpg 600w"
				sizes="(min-width: 600px) 45vw, 90vw"
				src="{{ site.asseturl }}/images/carbon-coop/cc-1-1580.jpg" alt="" />
		</div>

		<img src="{{ site.asseturl }}/images/carbon-coop/cc-iphone.png" alt="" />

		<img srcset="
				{{ site.asseturl }}/images/carbon-coop/cc-browser-1580.jpg 1580w, 
		        {{ site.asseturl }}/images/carbon-coop/cc-browser-1100.jpg 1100w,
		        {{ site.asseturl }}/images/carbon-coop/cc-browser-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.asseturl }}/images/carbon-coop/cc-browser-1580.jpg" alt="" />

	</div>

	{% include project-footer.html %}

</div>