---
title: "Carbon Coop"
runner: "Carbon Co-op are a groundbreaking group of residents and housing experts who are pioneering a new model for making homes in Greater Manchester more energy efficient."
meta:
- UI/UX
- Branding
- Design
- Development
layout: project
header_img: /images/plando/pd-andyipad.jpg
related:
- "Plan.Do": /work/plando
- "Up": /work/up
---


<div class="hero">
	<div class="text">
		<div class="wrapper">
			
			{% include project-title.html %}

			<div class="project-description">
				<p>We worked with Carbon Co–op to design a core brand, which we developed across a range of different outputs such as print, stationery and exhibition graphics. Illustrations by Charlotte Trounce and bespoke iconography add extra depth and versatility to the identity.</p>
				<p>Initially working with a tight budget, we rapidly designed and developed the first prototype of the Carbon Co–op web platform as a fast and cost-effective way to meet their existing needs. We continue to work with them to iterate on that initial version, adapting according to the things they learn about their requirements as we go.</p>
				<p>Carbon Co-op have a steadily increasing membership, and are attracting new funding through their innovative uses of technology.</p>
			</div>
		</div>	
	</div>
</div>

<div class="wrapper">

	<div class="project-grid">

		<img src="{{ site.baseurl }}/images/tilt/tilt-1.jpg" alt="" />
		
	</div>

	{% if page.related %}
		<div class="project-info">
			<h2 class="elements">Related</h2>
			<ul>
				{% for link in page.related %}
					{% for l in link %}
						<li><a href="{{ l[1] }}">{{ l[0] }}</a></li>
					{% endfor %}
				{% endfor %}
			</ul>
		</div>
	{% endif %}

</div>