---
order: 19
title: "Common Seas"
runner: "Exploring the challenges facing people and the sea, and working on projects that demonstrate and encourage responsible use of natural resources."
meta:
- Branding
- Website design
- Development
layout: default
header_imgs: 
  default: /images/common-seas/cs-topimage-600.jpg
  601px: /images/common-seas/cs-topimage-1100.jpg
  1581px: /images/common-seas/cs-topimage-1580.jpg
thumbs: 
  1580w: /images/project-thumbs/fwlanding-commonseas-1580.jpg
  1100w: /images/project-thumbs/fwlanding-commonseas-1100.jpg
  600w: /images/project-thumbs/fwlanding-commonseas-600.jpg
thumb: /images/project-thumbs/fwlanding-commonseas-1100.jpg
twitter: 
  card: summary_large_image
---


<div class="page-section">

	<div class="wrapper">
		
		{% include project-title.html %}

		<div class="section-text section-text--large">
			<p>Jo Royle has wanted to be the captain of sailing boat since she was seven years old, and years spent at sea since then have taught her that people and the sea need to learn to live together. She set up Common Seas to explore these issues and work towards bringing people and the ocean together to share a common journey.</p>
			<p>We wanted to represent Jo’s hands on approach to the work she does, so we hand painted the logotype and wave marque along with a set of simple illustrative icons. We carried the identity through into a design for a custom Wordpress theme which provides Common Seas with a website to showcase their work.</p>
			<ul>
				<li><a href="http://commonseas.com/">Common Seas website</a></li>
			</ul>
		</div>
	</div>	

</div>

<div class="section-inner">

	<div class="grid media-grid">
		
		<img srcset="
				{{ site.asseturl }}/images/common-seas/cs-waves-1580.jpg 1580w, 
		        {{ site.asseturl }}/images/common-seas/cs-waves-1100.jpg 1100w,
		        {{ site.asseturl }}/images/common-seas/cs-waves-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.asseturl }}/images/common-seas/cs-waves-1580.jpg" alt="" />

		<img srcset="
				{{ site.asseturl }}/images/common-seas/cs-paintings-1580.jpg 1580w, 
		        {{ site.asseturl }}/images/common-seas/cs-paintings-1100.jpg 1100w,
		        {{ site.asseturl }}/images/common-seas/cs-paintings-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.asseturl }}/images/common-seas/cs-paintings-1580.jpg" alt="" />

		<img srcset="
				{{ site.asseturl }}/images/common-seas/cs-iphone1-1580.jpg 1580w, 
		        {{ site.asseturl }}/images/common-seas/cs-iphone1-1100.jpg 1100w,
		        {{ site.asseturl }}/images/common-seas/cs-iphone1-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.asseturl }}/images/common-seas/cs-iphone1-1580.jpg" alt="" />
		
		<img srcset="
				{{ site.asseturl }}/images/common-seas/cs-ipad2-1580.jpg 1580w, 
		        {{ site.asseturl }}/images/common-seas/cs-ipad2-1100.jpg 1100w,
		        {{ site.asseturl }}/images/common-seas/cs-ipad2-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.asseturl }}/images/common-seas/cs-ipad2-1580.jpg" alt="" />
		
		<img srcset="
				{{ site.asseturl }}/images/common-seas/cs-ipad1-1580.jpg 1580w, 
		        {{ site.asseturl }}/images/common-seas/cs-ipad1-1100.jpg 1100w,
		        {{ site.asseturl }}/images/common-seas/cs-ipad1-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.asseturl }}/images/common-seas/cs-ipad1-1580.jpg" alt="" />
		
		<img srcset="
				{{ site.asseturl }}/images/common-seas/cs-browser-1580.jpg 1580w, 
		        {{ site.asseturl }}/images/common-seas/cs-browser-1100.jpg 1100w,
		        {{ site.asseturl }}/images/common-seas/cs-browser-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.asseturl }}/images/common-seas/cs-browser-1580.jpg" alt="" />

		<img srcset="
				{{ site.asseturl }}/images/common-seas/cs-boat-1580.jpg 1580w, 
		        {{ site.asseturl }}/images/common-seas/cs-boat-1100.jpg 1100w,
		        {{ site.asseturl }}/images/common-seas/cs-boat-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.asseturl }}/images/common-seas/cs-boat-1580.jpg" alt="" />
		
		<img srcset="
				{{ site.asseturl }}/images/common-seas/cs-verticalgarden-1580.jpg 1580w, 
		        {{ site.asseturl }}/images/common-seas/cs-verticalgarden-1100.jpg 1100w,
		        {{ site.asseturl }}/images/common-seas/cs-verticalgarden-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.asseturl }}/images/common-seas/cs-verticalgarden-1580.jpg" alt="" />
		
	</div>

	{% include project-footer.html %}

</div>
