---
order: 6
title: "The Community Shares Company"
runner: "Helping groups raise money through community share offers, creating enterprises that are community owned and based on cooperation instead of quick returns."
meta:
- Branding
- Iconography
layout: default
header_imgs: 
  default: /images/community-shares/csc-topimage-600.jpg
  601px: /images/community-shares/csc-topimage-1100.jpg
  1101px: /images/community-shares/csc-topimage-1500.jpg
  1501px: /images/community-shares/csc-topimage-2560.jpg
thumbs: 
  1580w: /images/project-thumbs/fwlanding-community-shares-1580.jpg
  1100w: /images/project-thumbs/fwlanding-community-shares-1100.jpg
  600w: /images/project-thumbs/fwlanding-community-shares-600.jpg
thumb: /images/project-thumbs/fwlanding-community-shares-1100.jpg
twitter: 
  card: summary_large_image
---


<div class="page-section">

	<div class="wrapper">
		
		{% include project-title.html %}
		
		<div class="section-text section-text--large">
			<p>The Community Shares Company need to walk the line between reassuring professionalism, and friendly, energetic organisation putting communities first.</p>
			<p>We produced a flexible visual identity, establishing a colourful palette and a collection of geometric shapes that can be arranged into various configurations to be applied to a wide array of applications such as icons, posters, report graphics and website.</p>
		</div>
	</div>	

</div>


<div class="section-inner">

	<div class="grid media-grid">
		
		<img src="{{ site.asseturl }}/images/community-shares/csc-logo.gif" alt="Animated Community Shares logo" />
		<img src="{{ site.asseturl }}/images/community-shares/csc-patterns1.svg" alt="Abstract patterns used within the Community Shares identity" />

		<img srcset="
				{{ site.asseturl }}/images/community-shares/csc-stationery-1580.jpg 1580w, 
		        {{ site.asseturl }}/images/community-shares/csc-stationery-1100.jpg 1100w,
		        {{ site.asseturl }}/images/community-shares/csc-stationery-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.asseturl }}/images/community-shares/csc-stationery-1580.jpg" alt="" />

		<img srcset="
				{{ site.asseturl }}/images/community-shares/csc-buscards-1580.jpg 1580w, 
		        {{ site.asseturl }}/images/community-shares/csc-buscards-1100.jpg 1100w,
		        {{ site.asseturl }}/images/community-shares/csc-buscards-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.asseturl }}/images/community-shares/csc-buscards-1580.jpg" alt="" />

		<img srcset="
				{{ site.asseturl }}/images/community-shares/csc-tote-1580.jpg 1580w, 
		        {{ site.asseturl }}/images/community-shares/csc-tote-1100.jpg 1100w,
		        {{ site.asseturl }}/images/community-shares/csc-tote-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.asseturl }}/images/community-shares/csc-tote-1580.jpg" alt="" />

		<img src="{{ site.asseturl }}/images/community-shares/csc-icons.svg" alt="" />

		<img srcset="
				{{ site.asseturl }}/images/community-shares/csc-reports-1580.jpg 1580w, 
		        {{ site.asseturl }}/images/community-shares/csc-reports-1100.jpg 1100w,
		        {{ site.asseturl }}/images/community-shares/csc-reports-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.asseturl }}/images/community-shares/csc-reports-1580.jpg" alt="" />

		<img srcset="
				{{ site.asseturl }}/images/community-shares/csc-posters-1580.jpg 1580w, 
		        {{ site.asseturl }}/images/community-shares/csc-posters-1100.jpg 1100w,
		        {{ site.asseturl }}/images/community-shares/csc-posters-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.asseturl }}/images/community-shares/csc-posters-1580.jpg" alt="" />

	</div>

	{% include project-footer.html %}

</div>

