---
title: "Common Seas"
runner: "Common Seas explore the challenges facing people and the sea, working on projects that demonstrate and encourage responsible use of natural resources."
meta:
- UI/UX
- Branding
- Design
- Development
layout: default
header_img: /images/common-seas/cs-topimage.jpg
related:
- "Plan.Do": /work/plando
- "Up": /work/up
thumb: /images/project-thumbs/fwlanding-commonseas.jpg
---


<div class="page-section">

	<div class="wrapper">
		
		{% include project-title.html %}

		<div class="project-description">
			<p>Jo Royle has wanted to be the captain of sailing boat since she was 7 years old, and years spent at sea since then have taught her that people and the sea need to learn to live together. She set up Common Seas to explore these issues and work towards bringing people and the ocean together to share a common journey.</p>
			<p>[Blurb about what we did.]</p>
		</div>
	</div>	

</div>

<div class="section-inner">

	<div class="project-grid">
		
		<img src="{{ site.baseurl }}/images/common-seas/cs-waves.jpg" alt="" />
		<img src="{{ site.baseurl }}/images/common-seas/cs-paintings.jpg" alt="" />
		<img src="{{ site.baseurl }}/images/common-seas/cs-iphone1.jpg" alt="" />
		<img src="{{ site.baseurl }}/images/common-seas/cs-ipad2.jpg" alt="" />
		<img src="{{ site.baseurl }}/images/common-seas/cs-ipad1.jpg" alt="" />
		<img src="{{ site.baseurl }}/images/common-seas/cs-browser.jpg" alt="" />
		<img src="{{ site.baseurl }}/images/common-seas/cs-boat.jpg" alt="" />
		<img src="{{ site.baseurl }}/images/common-seas/cs-verticalgarden.jpg" alt="" />
		
	</div>

	{% include project-footer.html %}

</div>
