---
order: 16
title: "Community Shares"
runner: "Community Shares blurb."
meta:
- Branding
- Iconography
layout: default
header_imgs: 
  default: /images/community-shares/csc-topimage-600.jpg
  601px: /images/community-shares/csc-topimage-1100.jpg
  1101px: /images/community-shares/csc-topimage-1500.jpg
  1501px: /images/community-shares/csc-topimage-2560.jpg
thumbs: 
  1580w: /images/project-thumbs/fwlanding-community-shares-1580.png
  1100w: /images/project-thumbs/fwlanding-community-shares-1100.png
  600w: /images/project-thumbs/fwlanding-community-shares-600.png
thumb: /images/project-thumbs/fwlanding-community-shares-1100.png
---


<div class="page-section">

	<div class="wrapper">
		
		{% include project-title.html %}
		
		<div class="section-text section-text--large">
			<p>Global Generation are hands-on types. They run workshops for young people where they dig, grow vegetables, and make things. This was key to our approach with their new brand identity.</p>
			<p>Beginning with a one-day workshop attended the Global Generation team, some of the young people they work with, and Fieldwork (and led by one of our regular collaborators, Mark Shayler of <a href="http://thisisape.co.uk/">Ape</a>), we spent time uncovering the identity of the organisation and learning about their core purpose.</p>
			<p>We developed a few initial, exploratory ideas for the visual identity, which we iteratively narrowed down and developed into a custom stencil typeface that the team can use to create their own signage and print materials, in true hands-on Global Generation style. We also developed bespoke iconography to provide additional tools for them to use in their communications.</p>
		</div>
	</div>	

</div>


<div class="section-inner">

	<div class="grid media-grid">
		
		<img src="{{ site.asseturl }}/images/community-shares/csc-logo.svg" alt="" />
		<img src="{{ site.asseturl }}/images/community-shares/csc-patterns1.svg" alt="" />

		<img srcset="
				{{ site.asseturl }}/images/community-shares/csc-stationery-1580.jpg 1580w, 
		        {{ site.asseturl }}/images/community-shares/csc-stationery-1100.jpg 1100w,
		        {{ site.asseturl }}/images/community-shares/csc-stationery-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.asseturl }}/images/community-shares/csc-stationery-1580.jpg" alt="" />

		<img srcset="
				{{ site.asseturl }}/images/community-shares/csc-buscards-1580.jpg 1580w, 
		        {{ site.asseturl }}/images/community-shares/csc-buscards-1100.jpg 1100w,
		        {{ site.asseturl }}/images/community-shares/csc-buscards-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.asseturl }}/images/community-shares/csc-buscards-1580.jpg" alt="" />

		<img srcset="
				{{ site.asseturl }}/images/community-shares/csc-tote-1580.jpg 1580w, 
		        {{ site.asseturl }}/images/community-shares/csc-tote-1100.jpg 1100w,
		        {{ site.asseturl }}/images/community-shares/csc-tote-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.asseturl }}/images/community-shares/csc-tote-1580.jpg" alt="" />

		<img src="{{ site.asseturl }}/images/community-shares/csc-icons.svg" alt="" />

		<img srcset="
				{{ site.asseturl }}/images/community-shares/csc-reports-1580.jpg 1580w, 
		        {{ site.asseturl }}/images/community-shares/csc-reports-1100.jpg 1100w,
		        {{ site.asseturl }}/images/community-shares/csc-reports-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.asseturl }}/images/community-shares/csc-reports-1580.jpg" alt="" />

		<img srcset="
				{{ site.asseturl }}/images/community-shares/csc-posters-1580.jpg 1580w, 
		        {{ site.asseturl }}/images/community-shares/csc-posters-1100.jpg 1100w,
		        {{ site.asseturl }}/images/community-shares/csc-posters-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.asseturl }}/images/community-shares/csc-posters-1580.jpg" alt="" />

	</div>

	{% include project-footer.html %}

</div>

