---
title: "Common Seas"
runner: "Common Seas explore the challenges facing people and the sea, working on projects that demonstrate and encourage responsible use of natural resources."
meta:
- UI/UX
- Branding
- Design
- Development
layout: project
header_img: /images/common-seas/cs-topimage.jpg
related:
- "Plan.Do": /work/plando
- "Up": /work/up
---


<div class="hero">
	<div class="text">
		<div class="wrapper">
			
			{% include project-title.html %}

			<div class="project-description">
				<p>Stuff.</p>
			</div>
		</div>	
	</div>
</div>

<div class="wrapper">

	<div class="project-grid">

		<img src="{{ site.baseurl }}/images/common-seas/cs-paintings.jpg" alt="" />
		<img src="{{ site.baseurl }}/images/common-seas/cs-iphone1.jpg" alt="" />
		<img src="{{ site.baseurl }}/images/common-seas/cs-ipad2.jpg" alt="" />
		<img src="{{ site.baseurl }}/images/common-seas/cs-ipad1.jpg" alt="" />
		<img src="{{ site.baseurl }}/images/common-seas/cs-browser.jpg" alt="" />
		<img src="{{ site.baseurl }}/images/common-seas/cs-boat.jpg" alt="" />
		<img src="{{ site.baseurl }}/images/common-seas/cs-verticalgarden.jpg" alt="" />
		
	</div>

	{% if page.related %}
		<div class="project-info">
			<h2 class="elements">Related</h2>
			<ul>
				{% for link in page.related %}
					{% for l in link %}
						<li><a href="{{ l[1] }}">{{ l[0] }}</a></li>
					{% endfor %}
				{% endfor %}
			</ul>
		</div>
	{% endif %}

</div>