---
order: 12
title: "Fieldwork"
runner: "We love our client work, but our in-house projects are also an important part of what we do. We developed our own identity with an eye on both sides of Fieldwork."
meta:
- UI/UX
- Branding
- Design
- Development
layout: default
header_imgs: 
  default: /images/fieldwork/fw-buscardheader-600.jpg
  601px: /images/fieldwork/fw-buscardheader-1100.jpg
  1101px: /images/fieldwork/fw-buscardheader-1500.jpg
  1501px: /images/fieldwork/fw-buscardheader-2560.jpg
thumbs: 
  1580w: /images/project-thumbs/fwlanding-fwbranding-1580.jpg
  1100w: /images/project-thumbs/fwlanding-fwbranding-1100.jpg
  600w: /images/project-thumbs/fwlanding-fwbranding-600.jpg
thumb: /images/project-thumbs/fwlanding-fwbranding-1100.jpg
---


<div class="page-section">

	<div class="section-inner">
		
		{% include project-title.html %}

		<div class="section-text section-text--large">
			<p>At Fieldwork, we try to keep a good balance between client work and in-house projects. We needed a visual identity flexible enough to work across anything from project proposals and invoices, through fun prints and publications, all the way to super geeky stuff like code projects and gadgets.</p>
			<p>After establishing some <a href="http://volumes.madebyfieldwork.com/making/">guiding principals</a> about how we want to work, who we’d most like to work with, and what we want to work on, we started by collecting visual inspiration based around these ideas.</p>
			<p>Through a process of iteration, we developed the simple identity you see on this page and across this website. Then we worked on a collection of visual materials to bring the character of our company to life. It’s a work-in-progress, and always will be.</p>
		</div>
	</div>	

</div>

<div class="section-inner">

	<div class="grid media-grid">
		
		<img srcset="
				{{ site.baseurl }}/images/fieldwork/fw-1-1580.jpg 1580w, 
		        {{ site.baseurl }}/images/fieldwork/fw-1-1100.jpg 1100w,
		        {{ site.baseurl }}/images/fieldwork/fw-1-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.baseurl }}/images/fieldwork/fw-1-1580.jpg" alt="" />

		<div class="grid-item">
			<img srcset="
					{{ site.baseurl }}/images/fieldwork/fw-6-1580.jpg 1580w, 
			        {{ site.baseurl }}/images/fieldwork/fw-6-1100.jpg 1100w,
			        {{ site.baseurl }}/images/fieldwork/fw-6-600.jpg 600w"
				sizes="(min-width: 600px) 45vw, 90vw"
				src="{{ site.baseurl }}/images/fieldwork/fw-6-1580.jpg" alt="" />
		</div>

		<div class="grid-item">
			<img srcset="
					{{ site.baseurl }}/images/fieldwork/fw-8-1580.jpg 1580w, 
			        {{ site.baseurl }}/images/fieldwork/fw-8-1100.jpg 1100w,
			        {{ site.baseurl }}/images/fieldwork/fw-8-600.jpg 600w"
				sizes="(min-width: 600px) 45vw, 90vw"
				src="{{ site.baseurl }}/images/fieldwork/fw-8-1580.jpg" alt="" />
		</div>

		<div class="grid-item">
			<img srcset="
					{{ site.baseurl }}/images/fieldwork/fw-7-1580.jpg 1580w, 
			        {{ site.baseurl }}/images/fieldwork/fw-7-1100.jpg 1100w,
			        {{ site.baseurl }}/images/fieldwork/fw-7-600.jpg 600w"
				sizes="(min-width: 600px) 45vw, 90vw"
				src="{{ site.baseurl }}/images/fieldwork/fw-7-1580.jpg" alt="" />
		</div>

		<div class="grid-item">
			<img srcset="
					{{ site.baseurl }}/images/fieldwork/fw-3-1580.jpg 1580w, 
			        {{ site.baseurl }}/images/fieldwork/fw-3-1100.jpg 1100w,
			        {{ site.baseurl }}/images/fieldwork/fw-3-600.jpg 600w"
				sizes="(min-width: 600px) 45vw, 90vw"
				src="{{ site.baseurl }}/images/fieldwork/fw-3-1580.jpg" alt="" />
		</div>
		
		<img srcset="
				{{ site.baseurl }}/images/fieldwork/fw-5-1580.jpg 1580w, 
		        {{ site.baseurl }}/images/fieldwork/fw-5-1100.jpg 1100w,
		        {{ site.baseurl }}/images/fieldwork/fw-5-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.baseurl }}/images/fieldwork/fw-5-1580.jpg" alt="" />

		<img srcset="
				{{ site.baseurl }}/images/fieldwork/fw-4-1580.jpg 1580w, 
		        {{ site.baseurl }}/images/fieldwork/fw-4-1100.jpg 1100w,
		        {{ site.baseurl }}/images/fieldwork/fw-4-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.baseurl }}/images/fieldwork/fw-4-1580.jpg" alt="" />

		<img srcset="
				{{ site.baseurl }}/images/fieldwork/fw-5-1580.jpg 1580w, 
		        {{ site.baseurl }}/images/fieldwork/fw-5-1100.jpg 1100w,
		        {{ site.baseurl }}/images/fieldwork/fw-5-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.baseurl }}/images/fieldwork/fw-5-1580.jpg" alt="" />

		<img srcset="
				{{ site.baseurl }}/images/fieldwork/fw-9-1580.jpg 1580w, 
		        {{ site.baseurl }}/images/fieldwork/fw-9-1100.jpg 1100w,
		        {{ site.baseurl }}/images/fieldwork/fw-9-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.baseurl }}/images/fieldwork/fw-9-1580.jpg" alt="" />

		<div class="grid-item">
			<img srcset="
					{{ site.baseurl }}/images/fieldwork/fw-11-1580.jpg 1580w, 
			        {{ site.baseurl }}/images/fieldwork/fw-11-1100.jpg 1100w,
			        {{ site.baseurl }}/images/fieldwork/fw-11-600.jpg 600w"
				sizes="(min-width: 600px) 45vw, 90vw"
				src="{{ site.baseurl }}/images/fieldwork/fw-11-1580.jpg" alt="" />
		</div>

		<div class="grid-item">
			<img srcset="
					{{ site.baseurl }}/images/fieldwork/fw-12-1580.jpg 1580w, 
			        {{ site.baseurl }}/images/fieldwork/fw-12-1100.jpg 1100w,
			        {{ site.baseurl }}/images/fieldwork/fw-12-600.jpg 600w"
				sizes="(min-width: 600px) 45vw, 90vw"
				src="{{ site.baseurl }}/images/fieldwork/fw-12-1580.jpg" alt="" />
		</div>

		<img srcset="
				{{ site.baseurl }}/images/fieldwork/fw-10-1580.jpg 1580w, 
		        {{ site.baseurl }}/images/fieldwork/fw-10-1100.jpg 1100w,
		        {{ site.baseurl }}/images/fieldwork/fw-10-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.baseurl }}/images/fieldwork/fw-10-1580.jpg" alt="" />

		<img srcset="
				{{ site.baseurl }}/images/fieldwork/fw-2-1580.jpg 1580w, 
		        {{ site.baseurl }}/images/fieldwork/fw-2-1100.jpg 1100w,
		        {{ site.baseurl }}/images/fieldwork/fw-2-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.baseurl }}/images/fieldwork/fw-2-1580.jpg" alt="" />

	</div>

	{% include project-footer.html %}

</div>
