---
title: "Fieldwork"
runner: "We love our client work, but our in-house projects are also an important part of what we do. We developed our own identity with an eye on both sides of Fieldwork."
meta:
- UI/UX
- Branding
- Design
- Development
layout: project
header_img: /images/fieldwork/fw-buscardheader.jpg
related:
- "Plan.Do": /work/plando
- "Up": /work/up
thumb: /images/project-thumbs/fwlanding-fwbranding.jpg
---


<div class="hero">
	<div class="text">
		<div class="wrapper">
			
			{% include project-title.html %}

			<div class="project-description">
				<p>At Fieldwork, we try to keep a good balance between client work and in-house projects. We needed a visual identity flexible enough to work across anything from project proposals and invoices, through fun prints and publications, all the way to super geeky stuff like code projects and gadgets.</p>
				<p>After establishing some guiding principals about how we want to work, who we’d most like to work with, and what we want to work on, we started by collecting visual inspiration based around these ideas.</p>
				<p>Through a process of iteration, we developed the simple identity you see on this page and across this website. Then we worked on a collection of visual materials to bring the character of our company to life. It’s a work-in-progress, and always will be.</p>
			</div>
		</div>	
	</div>
</div>

<div class="wrapper">

	<div class="project-grid">

		<img src="{{ site.baseurl }}/images/fieldwork/fw-1.jpg" alt="" />
		<div class="project-grid-col-2">
			<div><img src="{{ site.baseurl }}/images/fieldwork/fw-6.jpg" alt="" /></div>
			<div><img src="{{ site.baseurl }}/images/fieldwork/fw-8.jpg" alt="" /></div>
		</div>
		<div class="project-grid-col-2">
			<div><img src="{{ site.baseurl }}/images/fieldwork/fw-7.jpg" alt="" /></div>
			<div><img src="{{ site.baseurl }}/images/fieldwork/fw-3.jpg" alt="" /></div>
		</div>
		<img src="{{ site.baseurl }}/images/fieldwork/fw-5.jpg" alt="" />
		<img src="{{ site.baseurl }}/images/fieldwork/fw-4.jpg" alt="" />
		<img src="{{ site.baseurl }}/images/fieldwork/fw-5.jpg" alt="" />
		<img src="{{ site.baseurl }}/images/fieldwork/fw-9.jpg" alt="" />
		<div class="project-grid-col-2">
			<div><img src="{{ site.baseurl }}/images/fieldwork/fw-11.jpg" alt="" /></div>
			<div><img src="{{ site.baseurl }}/images/fieldwork/fw-12.jpg" alt="" /></div>
		</div>
		<img src="{{ site.baseurl }}/images/fieldwork/fw-10.jpg" alt="" />
		<img src="{{ site.baseurl }}/images/fieldwork/fw-2.jpg" alt="" />

	</div>

	{% include project-footer.html %}

</div>