---
order: 14
title: "Journey Tracker"
runner: "A mobile app using GPS to record and log journeys for sustainable travel challenges, encouraging people to travel more actively and sustainably."
meta:
- UX
- UI design
- App development
layout: default
header_imgs: 
  default: /images/journey-tracker/jt-topimage-600.jpg
  601px: /images/journey-tracker/jt-topimage-1100.jpg
  1101px: /images/journey-tracker/jt-topimage-1500.jpg
  1501px: /images/journey-tracker/jt-topimage-2560.jpg
thumbs: 
  936w: /images/project-thumbs/fwlanding-journeytracker-936.jpg
  600w: /images/project-thumbs/fwlanding-journeytracker-600.jpg
thumb: /images/project-thumbs/fwlanding-journeytracker-936.jpg
twitter: 
  card: summary_large_image
---


<div class="page-section">

	<div class="wrapper">
		
		{% include project-title.html %}

		<div class="section-text section-text--large">
			<p>Sustrans help organisations like local authorities and universities run challenge events that encourage people to change their travel habits and move around in more active and sustainable ways. As we’d already worked on the web platform for these events, they asked us to help them build a quick, simple and mobile-friendly way for participants to get involved and log journeys.</p>
			<p>Since so many people carry GPS enabled devices around in their pockets every day, we devised a very simple mobile app, for iOS and Android devices, that allows participants to track and log their journeys in just a few taps.</p>
		</div>
	</div>	

</div>


<div class="section-inner">

	<div class="grid media-grid">

		<img src="{{ site.asseturl }}/images/journey-tracker/jt-iphone1.png" alt="" />
		<img src="{{ site.asseturl }}/images/journey-tracker/jt-iphone2.png" alt="" />
		<img src="{{ site.asseturl }}/images/journey-tracker/jt-iphone3.png" alt="" />

		<img srcset="
				{{ site.asseturl }}/images/journey-tracker/jt-1-1580.jpg 1580w, 
		        {{ site.asseturl }}/images/journey-tracker/jt-1-1100.jpg 1100w,
		        {{ site.asseturl }}/images/journey-tracker/jt-1-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.asseturl }}/images/journey-tracker/jt-1-1580.jpg" alt="" />

		<img src="{{ site.asseturl }}/images/journey-tracker/jt-iphone4.png" alt="" />
		
	</div>

	{% include project-footer.html %}

</div>
