---
title: "Journey Tracker"
runner: "A mobile app using GPS to record and log journeys for sustainable travel challenges, encouraging people to travel more actively and sustainably."
meta:
- UI/UX
- Branding
- Design
- Development
layout: default
header_img: /images/journey-tracker/jt-topimage.jpg
thumbs: 
  1580px: /images/project-thumbs/fwlanding-journeytracker-1580.jpg
  1100px: /images/project-thumbs/fwlanding-journeytracker-1100.jpg
thumb: /images/project-thumbs/fwlanding-journeytracker
---


<div class="page-section">

	<div class="wrapper">
		
		{% include project-title.html %}

		<div class="section-text section-text--cols">
			<p>Sustrans help organisations like local authorities and universities run challenge events that encourage people to change their travel habits and move around in more active and sustainable ways. As we’d already worked on the web platform for these events, they asked us to help them build a quick, simple and mobile-friendly way for participants to get involved and log journeys.</p>
			<p>Since so many people carry GPS enabled devices around in their pockets every day, we devised a very simple mobile app, for iOS and Android devices, that allows participants to track and log their journeys in just a few taps.</p>
		</div>
	</div>	

</div>


<div class="section-inner">

	<div class="grid media-grid">

		<img src="{{ site.baseurl }}/images/journey-tracker/jt-iphone1.png" alt="" />
		<img src="{{ site.baseurl }}/images/journey-tracker/jt-iphone2.png" alt="" />
		<img src="{{ site.baseurl }}/images/journey-tracker/jt-iphone3.png" alt="" />
		<img src="{{ site.baseurl }}/images/journey-tracker/jt-1.jpg" alt="" />
		<img src="{{ site.baseurl }}/images/journey-tracker/jt-iphone4.png" alt="" />
		
	</div>

	{% include project-footer.html %}

</div>
