---
order: 3
title: "MAVIS"
runner: "A print making, internet connected, musical keyboard to encourage hands-on play and teamwork."
meta:
- UI/UX
- Branding
- Design
- Development
layout: default
header_imgs: 
  default: /images/mavis/mavis-topimage-600.jpg
  601px: /images/mavis/mavis-topimage-1100.jpg
  1101px: /images/mavis/mavis-topimage-1500.jpg
  1501px: /images/mavis/mavis-topimage-2560.jpg
thumbs: 
  1580w: /images/project-thumbs/fwlanding-mavis-1580.jpg
  1100w: /images/project-thumbs/fwlanding-mavis-1100.jpg
  600w: /images/project-thumbs/fwlanding-mavis-600.jpg
thumb: /images/project-thumbs/fwlanding-mavis-600.jpg
---


<div class="page-section">

		<div class="wrapper">
			
			{% include project-title.html %}

			<div class="section-text section-text--large">
				<p>When asked if we’d like to contribute a print for an exhibition called The Science of Play–as part of Design Manchester, and to raise money for Play360–we thought we’d take the brief and throw it around a bit. So we built a machine that could be used to generate one-of-a-kind prints to take away from the exhibition.</p>
				<p>MAVIS (Musically Articulated Visual Illustration System) is a hand-built keyboard, connected to a computer and the internet via an Arduino. Play the keys to make sounds as someone else turns the handle, and MAVIS draws lines on the spooling paper as you go. When youre done, cut off your print and take it with you.</p>
				<p>MAVIS has her own website, where she automatically posts her players’ sessions, in real-time, as digital representations of the prints they produce.</p>
				<ul>
					<li><a href="http://mavis.madebyfieldwork.com">MAVIS live on the web</a></li>
					<li><a href="">Read more about MAVIS</a></li>
				</ul>
			</div>
		</div>	

</div>


<div class="section-inner">

	<div class="grid media-grid">

		<img srcset="
				{{ site.baseurl }}/images/mavis/mavis-2-1580.jpg 1580w, 
		        {{ site.baseurl }}/images/mavis/mavis-2-1100.jpg 1100w,
		        {{ site.baseurl }}/images/mavis/mavis-2-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.baseurl }}/images/mavis/mavis-2-1580.jpg" alt="" />

		<img srcset="
				{{ site.baseurl }}/images/mavis/mavis-6-1580.jpg 1580w, 
		        {{ site.baseurl }}/images/mavis/mavis-6-1100.jpg 1100w,
		        {{ site.baseurl }}/images/mavis/mavis-6-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.baseurl }}/images/mavis/mavis-6-1580.jpg" alt="" />

		<img srcset="
				{{ site.baseurl }}/images/mavis/mavis-5-1580.jpg 1580w, 
		        {{ site.baseurl }}/images/mavis/mavis-5-1100.jpg 1100w,
		        {{ site.baseurl }}/images/mavis/mavis-5-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.baseurl }}/images/mavis/mavis-5-1580.jpg" alt="" />
		
		<div class="grid-item">
			<img srcset="
					{{ site.baseurl }}/images/mavis/mavis-type-1580.jpg 1580w, 
		        	{{ site.baseurl }}/images/mavis/mavis-type-1100.jpg 1100w,
		        	{{ site.baseurl }}/images/mavis/mavis-type-600.jpg 600w"
		    	sizes="(min-width: 600px) 45vw, 90vw"
				src="{{ site.baseurl }}/images/mavis/mavis-type-1580.jpg" alt="" />
		</div>

		<div class="grid-item">
			<img srcset="
					{{ site.baseurl }}/images/mavis/mavis-4-1580.jpg 1580w, 
		        	{{ site.baseurl }}/images/mavis/mavis-4-1100.jpg 1100w,
		        	{{ site.baseurl }}/images/mavis/mavis-4-600.jpg 600w"
		    	sizes="(min-width: 600px) 45vw, 90vw"
				src="{{ site.baseurl }}/images/mavis/mavis-4-1580.jpg" alt="" />
		</div>
		
		<img srcset="
				{{ site.baseurl }}/images/mavis/mavis-pensclose-1580.jpg 1580w, 
		        {{ site.baseurl }}/images/mavis/mavis-pensclose-1100.jpg 1100w,
		        {{ site.baseurl }}/images/mavis/mavis-pensclose-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.baseurl }}/images/mavis/mavis-pensclose-1580.jpg" alt="" />

		<img src="{{ site.baseurl }}/images/mavis/mavis-illustrations.svg" alt="" />
		
		<div class="grid-item">
			<img srcset="
					{{ site.baseurl }}/images/mavis/mavis-woodcut-1580.jpg 1580w, 
		        	{{ site.baseurl }}/images/mavis/mavis-woodcut-1100.jpg 1100w,
		        	{{ site.baseurl }}/images/mavis/mavis-woodcut-600.jpg 600w"
		    	sizes="(min-width: 600px) 45vw, 90vw"
				src="{{ site.baseurl }}/images/mavis/mavis-woodcut-1580.jpg" alt="" />
		</div>

		<div class="grid-item">
			<img srcset="
					{{ site.baseurl }}/images/mavis/mavis-painting-1580.jpg 1580w, 
		        	{{ site.baseurl }}/images/mavis/mavis-painting-1100.jpg 1100w,
		        	{{ site.baseurl }}/images/mavis/mavis-painting-600.jpg 600w"
		    	sizes="(min-width: 600px) 45vw, 90vw"
				src="{{ site.baseurl }}/images/mavis/mavis-painting-1580.jpg" alt="" />
		</div>

		<div class="grid-item">
			<img srcset="
					{{ site.baseurl }}/images/mavis/mavis-stuff-1580.jpg 1580w, 
		        	{{ site.baseurl }}/images/mavis/mavis-stuff-1100.jpg 1100w,
		        	{{ site.baseurl }}/images/mavis/mavis-stuff-600.jpg 600w"
		    	sizes="(min-width: 600px) 45vw, 90vw"
				src="{{ site.baseurl }}/images/mavis/mavis-stuff-1580.jpg" alt="" />
		</div>

		<div class="grid-item">
			<img srcset="
					{{ site.baseurl }}/images/mavis/mavis-spring-1580.jpg 1580w, 
		        	{{ site.baseurl }}/images/mavis/mavis-spring-1100.jpg 1100w,
		        	{{ site.baseurl }}/images/mavis/mavis-spring-600.jpg 600w"
		    	sizes="(min-width: 600px) 45vw, 90vw"
				src="{{ site.baseurl }}/images/mavis/mavis-spring-1580.jpg" alt="" />
		</div>
	
		<img srcset="
				{{ site.baseurl }}/images/mavis/mavis-wires-1580.jpg 1580w, 
		        {{ site.baseurl }}/images/mavis/mavis-wires-1100.jpg 1100w,
		        {{ site.baseurl }}/images/mavis/mavis-wires-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.baseurl }}/images/mavis/mavis-wires-1580.jpg" alt="" />

		<img src="{{ site.baseurl }}/images/mavis/mavis-ipad.svg" alt="" />
		
	</div>

	{% include project-footer.html %}

</div>
