---
title: "Plan.Do"
runner: "Helping young people develop and evidence employability skills through social action projects."
meta:
- UI/UX
- Branding
- Design
- Development
layout: default
header_img: /images/plando/pd-andyipad.jpg
thumbs: 
  1580px: /images/project-thumbs/fwlanding-plando-1580.jpg
  1100px: /images/project-thumbs/fwlanding-plando-1100.jpg
thumb: /images/project-thumbs/fwlanding-plando
---


<div class="page-section">

	<div class="wrapper">
		
		{% include project-title.html %}

		<div class="section-text section-text--large">
			<p>Catch-22 came to us with an idea for a digital platform that would involve more young people with social action projects, helping them gain and evidence skills for employment at the same time.</p>
			<p>We collaborated with a team from Catch-22 and groups of Young Advisors on a series of workshops to define key design objectives, user motivations, and product features. Then designed and developed version one of the application using an iterative and agile process.</p>
			<p>Using the first version of Plan.Do, young people can create and manage social action projects using collaborative task lists and communication tools. They can evidence their good work by uploading photos and building an archive of project activity, and can gain skills badges within the application.</p>
			<p class="highlighted">As a finalist in the Google Global Impact Awards, Plan.Do won £200,000 to continue development of the project.</p>
		</div>
	</div>	

</div>


<div class="section-inner">

	<div class="grid media-grid">

		<img src="{{ site.baseurl }}/images/plando/pd-ipadprojectdash.svg" alt="" />

		<!-- <p class="caption-r arrow-down right">Discovery Workshops</p> -->

		<div class="grid-item"><img src="{{ site.baseurl }}/images/plando/pd-workshop2.jpg" alt="" /></div>
		<div class="grid-item"><img src="{{ site.baseurl }}/images/plando/pd-workshop3.jpg" alt="" /></div>
		<div class="grid-item"><img src="{{ site.baseurl }}/images/plando/pd-workshop4.jpg" alt="" /></div>
		<div class="grid-item"><img src="{{ site.baseurl }}/images/plando/pd-workshop1.jpg" alt="" /></div>

		<!-- <p class="caption-r arrow-down right">UX/UI Design &amp; Development</p> -->
		
		<img src="{{ site.baseurl }}/images/plando/pd-iphonetasklist.svg" alt="" />
		<img src="{{ site.baseurl }}/images/plando/pd-webbrowserdash.png" alt="" />
		<img src="{{ site.baseurl }}/images/plando/pd-userdash.jpg" alt="" />
		<img src="{{ site.baseurl }}/images/plando/pd-feed.png" alt="" />
		<img src="{{ site.baseurl }}/images/plando/pd-iphone.jpg" alt="" />
		<img src="{{ site.baseurl }}/images/plando/pd-webbrowseroverview.png" alt="" />
		<img src="{{ site.baseurl }}/images/plando/pd-browserhomepage.jpg" alt="" />

		<!--  <p class="caption-r arrow-down right">Branding &amp; Iconography</p> -->

		<div class="grid-item"><img src="{{ site.baseurl }}/images/plando/pd-marque.svg" alt="" /></div>
		<div class="grid-item"><img src="{{ site.baseurl }}/images/plando/pd-icons.svg" alt="" /></div>
		
		<img src="{{ site.baseurl }}/images/plando/pd-avatars.svg" alt="" />

	</div>

	{% include project-footer.html %}

</div>
