---
order: 1
title: "Project Wild Thing"
runner: "What began as a documentary film about the decreasing connection that children have with nature, has become a community movement of over 10,000 individuals and organisations."
meta:
- UI/UX
- Branding
- Design
- Development
layout: default
header_imgs: 
  default: /images/project-wild-thing/pwt-topimage-600.jpg
  601px: /images/project-wild-thing/pwt-topimage-1100.jpg
  1101px: /images/project-wild-thing/pwt-topimage-1500.jpg
  1501px: /images/project-wild-thing/pwt-topimage-2560.jpg
thumbs: 
  1580w: /images/project-thumbs/fwlanding-pwt-1580.jpg
  1100w: /images/project-thumbs/fwlanding-pwt-1100.jpg
  600w: /images/project-thumbs/fwlanding-pwt-600.jpg
thumb: /images/project-thumbs/fwlanding-pwt-1100.jpg
---


<div class="page-section">

	<div class="wrapper">
		
		{% include project-title.html %}

		<div class="section-text section-text--large">
			<p>The Wild Network are a collection of organisations who came together around the Project Wild Thing film, and pooled resources to help kickstart a movement to reconnect kids and nature.</p>
			<p>We developed a brand identity, custom hand-drawn type, a series of illustrations, and a website to promote the film and get the community started. We applied the visual identity across film, web, and various printed materials.</p>
			<ul>
				<li><a href="http://projectwildthing.com/">Project Wild Thing website</a></li>
				<li>We also made the <a href="{{ site.baseurl }}/work/wildtime">Wildtime mobile app</a>.</li>
			</ul>
		</div>
	</div>	

</div>


<div class="section-inner">

	<div class="grid media-grid">

		<img src="{{ site.baseurl }}/images/project-wild-thing/pwt-logo.png" alt="" />
		
		<div class="grid-item">
			<img srcset="
					{{ site.baseurl }}/images/project-wild-thing/pwt-sketching-1580.jpg 1580w, 
			        {{ site.baseurl }}/images/project-wild-thing/pwt-sketching-1100.jpg 1100w,
			        {{ site.baseurl }}/images/project-wild-thing/pwt-sketching-600.jpg 600w"
				sizes="(min-width: 600px) 45vw, 90vw"
				src="{{ site.baseurl }}/images/project-wild-thing/pwt-sketching-1580.jpg" alt="" />
		</div>
	
		<div class="grid-item">
			<img srcset="
					{{ site.baseurl }}/images/project-wild-thing/pwt-planning-1580.jpg 1580w, 
			        {{ site.baseurl }}/images/project-wild-thing/pwt-planning-1100.jpg 1100w,
			        {{ site.baseurl }}/images/project-wild-thing/pwt-planning-600.jpg 600w"
				sizes="(min-width: 600px) 45vw, 90vw"
				src="{{ site.baseurl }}/images/project-wild-thing/pwt-planning-1580.jpg" alt="" />
		</div>

		<div class="grid-item">
			<img srcset="
					{{ site.baseurl }}/images/project-wild-thing/pwt-2-1580.jpg 1580w, 
			        {{ site.baseurl }}/images/project-wild-thing/pwt-2-1100.jpg 1100w,
			        {{ site.baseurl }}/images/project-wild-thing/pwt-2-600.jpg 600w"
				sizes="(min-width: 600px) 45vw, 90vw"
				src="{{ site.baseurl }}/images/project-wild-thing/pwt-2-1580.jpg" alt="" />
		</div>

		<div class="grid-item">
			<img srcset="
					{{ site.baseurl }}/images/project-wild-thing/pwt-davidsquirrel-1580.jpg 1580w, 
			        {{ site.baseurl }}/images/project-wild-thing/pwt-davidsquirrel-1100.jpg 1100w,
			        {{ site.baseurl }}/images/project-wild-thing/pwt-davidsquirrel-600.jpg 600w"
				sizes="(min-width: 600px) 45vw, 90vw"
				src="{{ site.baseurl }}/images/project-wild-thing/pwt-davidsquirrel-1580.jpg" alt="" />
		</div>
		
		<img src="{{ site.baseurl }}/images/project-wild-thing/pwt-gettingwilder.svg" alt="" />
		<img src="{{ site.baseurl }}/images/project-wild-thing/pwt-typography.svg" alt="" />

		<img srcset="
				{{ site.baseurl }}/images/project-wild-thing/pwt-filmposter-1580.jpg 1580w, 
		        {{ site.baseurl }}/images/project-wild-thing/pwt-filmposter-1100.jpg 1100w,
		        {{ site.baseurl }}/images/project-wild-thing/pwt-filmposter-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.baseurl }}/images/project-wild-thing/pwt-filmposter-1580.jpg" alt="" />

		<img src="{{ site.baseurl }}/images/project-wild-thing/pwt-labels.svg" alt="" />

		<img srcset="
				{{ site.baseurl }}/images/project-wild-thing/pwt-tote-1580.jpg 1580w, 
		        {{ site.baseurl }}/images/project-wild-thing/pwt-tote-1100.jpg 1100w,
		        {{ site.baseurl }}/images/project-wild-thing/pwt-tote-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.baseurl }}/images/project-wild-thing/pwt-3-1580.jpg" alt="" />
		
		<img srcset="
				{{ site.baseurl }}/images/project-wild-thing/pwt-3-1580.jpg 1580w, 
		        {{ site.baseurl }}/images/project-wild-thing/pwt-3-1100.jpg 1100w,
		        {{ site.baseurl }}/images/project-wild-thing/pwt-3-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.baseurl }}/images/project-wild-thing/pwt-3-1580.jpg" alt="" />

		<img src="{{ site.baseurl }}/images/project-wild-thing/pwt-ipad1.svg" alt="" />
		<img src="{{ site.baseurl }}/images/project-wild-thing/pwt-iphone1.svg" alt="" />
		<img src="{{ site.baseurl }}/images/project-wild-thing/pwt-iphone2.svg" alt="" />

	</div>

	{% include project-footer.html %}

</div>
