---
title: "Project Wild Thing"
runner: "Bluuuurb."
meta:
- UI/UX
- Branding
- Design
- Development
layout: project
header_img: /images/project-wild-thing/pwt-topimage.jpg
related:
- "Plan.Do": /work/plando
- "Up": /work/up
thumb: /images/project-thumbs/fwlanding-pwt.jpg
---


<div class="hero">
	<div class="text">
		<div class="wrapper">
			
			{% include project-title.html %}

			<div class="project-description">
				<p>Project Wild Thing is a film-led movement to re-connect kids and nature.</p>
			</div>
		</div>	
	</div>
</div>

<div class="wrapper">

	<div class="project-grid">

		<img src="{{ site.baseurl }}/images/project-wild-thing/pwt-logo.png" alt="" />
		<div class="project-grid-col-2">
			<div><img src="{{ site.baseurl }}/images/project-wild-thing/pwt-sketching.jpg" alt="" /></div>
			<div><img src="{{ site.baseurl }}/images/project-wild-thing/pwt-planning.jpg" alt="" /></div>
		</div>
		<div class="project-grid-col-2">
			<div><img src="{{ site.baseurl }}/images/project-wild-thing/pwt-2.jpg" alt="" /></div>
			<div><img src="{{ site.baseurl }}/images/project-wild-thing/pwt-davidsquirrel.jpg" alt="" /></div>
		</div>
		<img src="{{ site.baseurl }}/images/project-wild-thing/pwt-gettingwilder.svg" alt="" />
		<img src="{{ site.baseurl }}/images/project-wild-thing/pwt-typography.svg" alt="" />
		<img src="{{ site.baseurl }}/images/project-wild-thing/pwt-filmposter.jpg" alt="" />
		<img src="{{ site.baseurl }}/images/project-wild-thing/pwt-labels.svg" alt="" />
		<img src="{{ site.baseurl }}/images/project-wild-thing/pwt-tote.jpg" alt="" />
		<img src="{{ site.baseurl }}/images/project-wild-thing/pwt-3.jpg" alt="" />
		<img src="{{ site.baseurl }}/images/project-wild-thing/pwt-ipad1.svg" alt="" />
		<img src="{{ site.baseurl }}/images/project-wild-thing/pwt-iphone1.svg" alt="" />
		<img src="{{ site.baseurl }}/images/project-wild-thing/pwt-iphone2.svg" alt="" />

	</div>

	{% include project-footer.html %}

</div>
