---
order: 5
title: "Substance"
runner: "Using research and technology to provide organisations with the information they need to do better work."
meta:
- Discovery
- Website Design
- Development
- Wordpress
layout: default
header_imgs: 
  default: /images/substance/substance-topimage-600.jpg
  601px: /images/substance/substance-topimage-1100.jpg
  1101px: /images/substance/substance-topimage-1500.jpg
  1501px: /images/substance/substance-topimage-2560.jpg
thumbs: 
  1580w: /images/project-thumbs/fwlanding-substance-1580.jpg
  1100w: /images/project-thumbs/fwlanding-substance-1100.jpg
  600w: /images/project-thumbs/fwlanding-substance-600.jpg
thumb: /images/project-thumbs/fwlanding-substance-1100.jpg
twitter: 
  card: summary_large_image
---


<div class="page-section">

	<div class="wrapper">
		
		{% include project-title.html %}
		
		<div class="section-text section-text--large">
			<p>Substance work with charity, social and government organisations to gather and make sense of their data using research and technology. We worked with them to design and build a Wordpress based website, regularly updated with news, case studies and publications, to help potential clients understand the value of Substance’ services and products.</p>
			<p>The new website has a section dedicated to promoting and engaging new customers for Substance’s digital product, Views — an online impact reporting tool for organisations. We designed a package selection process to help potential customers find the right solution, and encourage them to get in touch to start the on-boarding process.</p>
			<ul>
				<li><a href="http://www.substance.net/">Substance website</a></li>
			</ul>
		</div>
	</div>	

</div>


<div class="section-inner">

	<div class="grid media-grid">
		<img srcset="
				{{ site.asseturl }}/images/substance/substance-homepage-1580.png 1580w, 
		        {{ site.asseturl }}/images/substance/substance-homepage-1100.png 1100w,
		        {{ site.asseturl }}/images/substance/substance-homepage-600.png 600w"
		    sizes="90vw"
			src="{{ site.asseturl }}/images/substance/substance-homepage-1580.png" alt="" />

		<img srcset="
				{{ site.asseturl }}/images/substance/substance-iphone1-1580.png 1580w, 
		        {{ site.asseturl }}/images/substance/substance-iphone1-1100.png 1100w,
		        {{ site.asseturl }}/images/substance/substance-iphone1-600.png 600w"
		    sizes="90vw"
			src="{{ site.asseturl }}/images/substance/substance-iphone1-1580.png" alt="" />

		<img srcset="
				{{ site.asseturl }}/images/substance/substance-iphone2-1580.jpg 1580w, 
		        {{ site.asseturl }}/images/substance/substance-iphone2-1100.jpg 1100w,
		        {{ site.asseturl }}/images/substance/substance-iphone2-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.asseturl }}/images/substance/substance-iphone2-1580.jpg" alt="" />

		<img srcset="
				{{ site.asseturl }}/images/substance/substance-ipad1-1580.png 1580w, 
		        {{ site.asseturl }}/images/substance/substance-ipad1-1100.png 1100w,
		        {{ site.asseturl }}/images/substance/substance-ipad1-600.png 600w"
		    sizes="90vw"
			src="{{ site.asseturl }}/images/substance/substance-ipad1-1580.png" alt="" />

		<div class="grid-item">
			<img src="{{ site.asseturl }}/images/substance/substance-logo.svg" alt="" />
		</div>

		<div class="grid-item">
			<img srcset="
					{{ site.asseturl }}/images/substance/substance-iphone-desk-1580.jpg 1580w, 
			        {{ site.asseturl }}/images/substance/substance-iphone-desk-1100.jpg 1100w,
			        {{ site.asseturl }}/images/substance/substance-iphone-desk-600.jpg 600w"
				sizes="(min-width: 600px) 45vw, 90vw"
				src="{{ site.asseturl }}/images/substance/substance-iphone-desk-1580.jpg" 
				alt="" />
		</div>

		<img srcset="
				{{ site.asseturl }}/images/substance/substance-wireframes-1580.jpg 1580w, 
		        {{ site.asseturl }}/images/substance/substance-wireframes-1100.jpg 1100w,
		        {{ site.asseturl }}/images/substance/substance-wireframes-600.jpg 600w"
			sizes="(min-width: 600px) 45vw, 90vw"
			src="{{ site.asseturl }}/images/substance/substance-wireframes-1580.jpg" 
			alt="" />

		<img src="{{ site.asseturl }}/images/substance/substance-icons.svg" alt="" />

		<img srcset="
				{{ site.asseturl }}/images/substance/substance-ipad2-1580.jpg 1580w, 
		        {{ site.asseturl }}/images/substance/substance-ipad2-1100.jpg 1100w,
		        {{ site.asseturl }}/images/substance/substance-ipad2-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.asseturl }}/images/substance/substance-ipad2-1580.jpg" alt="" />

		<img srcset="
				{{ site.asseturl }}/images/substance/substance-ipad3-1580.png 1580w, 
		        {{ site.asseturl }}/images/substance/substance-ipad3-1100.png 1100w,
		        {{ site.asseturl }}/images/substance/substance-ipad3-600.png 600w"
		    sizes="90vw"
			src="{{ site.asseturl }}/images/substance/substance-ipad3-1580.png" alt="" />
		
		<img srcset="
				{{ site.asseturl }}/images/substance/substance-browser-1580.png 1580w, 
		        {{ site.asseturl }}/images/substance/substance-browser-1100.png 1100w,
		        {{ site.asseturl }}/images/substance/substance-browser-600.png 600w"
		    sizes="90vw"
			src="{{ site.asseturl }}/images/substance/substance-browser-1580.png" alt="" />

	</div>

	{% include project-footer.html %}

</div>

