---
order: 7
title: "Sustrans Travel Challenges"
runner: "A flexible digital platform for running multiple travel challenges with partner organisations."
meta:
- Product discovery
- Research
- UX
- UI design
- Development
layout: default
header_imgs: 
  default: /images/sustrans-travel-challenges/sc-topimage-600.jpg
  601px: /images/sustrans-travel-challenges/sc-topimage-1100.jpg
  1101px: /images/sustrans-travel-challenges/sc-topimage-1500.jpg
  1501px: /images/sustrans-travel-challenges/sc-topimage-2560.jpg
thumbs: 
  1580w: /images/project-thumbs/fwlanding-sustrans-travel-challenges-1580.png
  1100w: /images/project-thumbs/fwlanding-sustrans-travel-challenges-1100.png
  600w: /images/project-thumbs/fwlanding-sustrans-travel-challenges-600.png
thumb: /images/project-thumbs/fwlanding-sustrans-travel-challenges-1100.png
twitter: 
  card: summary_large_image
---


<div class="page-section">

	<div class="wrapper">
		
		{% include project-title.html %}
		
		<div class="section-text section-text--large">
			<p>Sustrans needed a platform to run sustainable travel challenge events, allowing participants to log journeys, track progress, set targets, earn rewards and compete against each other. It needed to handle multiple editions of these events, each with their own website, and often running alongside each other. Because they work with various partner organisations to run challenge events, the web-based tool had to be quick and simple for administrators to configure, and flexible with features and co-branding.</p>
			<p>We designed and built an extensive and flexible platform allowing the challenge team to quickly create challenge websites, and customise everything from the branding, to the metrics on the home page, to the leaderboards and ranking system. </p>
			<p>Since launching version 1.0 of the application in mid-2012, it has had 31,041 participants making 363,108 sustainable travel journeys, saving 276,352kg of CO2 and burning 67,471,100 calories. The platform also provides Sustrans with fine-grained data export options which they use to integrate with their internal research and monitoring systems.</p>
			<p>Virtual Journey illustration by <a href="http://www.crayonfire.co.uk/">Neil Stevens</a></p>
		</div>
	</div>	

</div>


<div class="section-inner">

	<div class="grid media-grid">
		<img srcset="
				{{ site.asseturl }}/images/sustrans-travel-challenges/sc-ipad-dashboard-1580.png 1580w, 
		        {{ site.asseturl }}/images/sustrans-travel-challenges/sc-ipad-dashboard-1100.png 1100w,
		        {{ site.asseturl }}/images/sustrans-travel-challenges/sc-ipad-dashboard-600.png 600w"
		    sizes="90vw"
			src="{{ site.asseturl }}/images/sustrans-travel-challenges/sc-ipad-dashboard-1580.png" alt="" />

		<img srcset="
				{{ site.asseturl }}/images/sustrans-travel-challenges/sc-iphone-targets-1580.png 1580w, 
		        {{ site.asseturl }}/images/sustrans-travel-challenges/sc-iphone-targets-1100.png 1100w,
		        {{ site.asseturl }}/images/sustrans-travel-challenges/sc-iphone-targets-600.png 600w"
		    sizes="90vw"
			src="{{ site.asseturl }}/images/sustrans-travel-challenges/sc-iphone-targets-1580.png" alt="" />

		<img src="{{ site.asseturl }}/images/sustrans-travel-challenges/sc-icons.svg" alt="" />

		<img srcset="
				{{ site.asseturl }}/images/sustrans-travel-challenges/sc-iphones-1580.png 1580w, 
		        {{ site.asseturl }}/images/sustrans-travel-challenges/sc-iphones-1100.png 1100w,
		        {{ site.asseturl }}/images/sustrans-travel-challenges/sc-iphones-600.png 600w"
		    sizes="90vw"
			src="{{ site.asseturl }}/images/sustrans-travel-challenges/sc-iphones-1580.png" alt="" />

		<img srcset="
				{{ site.asseturl }}/images/sustrans-travel-challenges/sc-ipad-virtual-journey-1580.png 1580w, 
		        {{ site.asseturl }}/images/sustrans-travel-challenges/sc-ipad-virtual-journey-1100.png 1100w,
		        {{ site.asseturl }}/images/sustrans-travel-challenges/sc-ipad-virtual-journey-600.png 600w"
		    sizes="90vw"
			src="{{ site.asseturl }}/images/sustrans-travel-challenges/sc-ipad-virtual-journey-1580.png" alt="" />
	
		<div class="animated-panorama">
			<div>
				<img src="{{ site.asseturl }}/images/sustrans-travel-challenges/sc-virtual-journey-panorama.png" alt="" />
			</div>
		</div>

		<img srcset="
				{{ site.asseturl }}/images/sustrans-travel-challenges/sc-homepage-1580.png 1580w, 
		        {{ site.asseturl }}/images/sustrans-travel-challenges/sc-homepage-1100.png 1100w,
		        {{ site.asseturl }}/images/sustrans-travel-challenges/sc-homepage-600.png 600w"
		    sizes="90vw"
			src="{{ site.asseturl }}/images/sustrans-travel-challenges/sc-homepage-1580.png" alt="" />

	</div>

	{% include project-footer.html %}

</div>

