---
order: 20
title: "Tilt"
runner: "TILT de-mystify architecture and design to make refreshing spaces that complement the purpose and personality of the people that use them."
meta:
- Branding
- Website design
- Development
layout: default
header_imgs: 
  default: /images/tilt/tilt-topimage-600.jpg
  601px: /images/tilt/tilt-topimage-1100.jpg
  1101px: /images/tilt/tilt-topimage-1500.jpg
  1501px: /images/tilt/tilt-topimage-2560.jpg
thumbs: 
  936w: /images/project-thumbs/fwlanding-tilt-936.jpg
  600w: /images/project-thumbs/fwlanding-tilt-600.jpg
thumb: /images/project-thumbs/fwlanding-tilt-936.jpg
twitter: 
  card: summary_large_image
---


<div class="page-section">

	<div class="wrapper">
		
		{% include project-title.html %}

		<div class="section-text section-text--large">
			<p>For TILT’s new website, we wanted to explore ways to tell the stories of their innovative process. The challenge here was in creating a content managed site that would use the collection of high-quality imagery, gathered throughout their work, to showcase the story of each project and product.</p>
			<p>We devised a grid system with strict image dimensions to provide a consistent sense of order at varying screen sizes and across various devices. Combining this with a minimal design allows TILT’s work to shine and their wealth of content to do the talking.</p>
		</div>
	</div>	

</div>


<div class="section-inner">

	<div class="grid media-grid">
		
		<img srcset="
				{{ site.asseturl }}/images/tilt/tilt-1-1580.jpg 1580w, 
		        {{ site.asseturl }}/images/tilt/tilt-1-1100.jpg 1100w,
		        {{ site.asseturl }}/images/tilt/tilt-1-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.asseturl }}/images/tilt/tilt-1-1580.jpg" alt="" />

		<img srcset="
				{{ site.asseturl }}/images/tilt/tilt-planning-1580.jpg 1580w, 
		        {{ site.asseturl }}/images/tilt/tilt-planning-1100.jpg 1100w,
		        {{ site.asseturl }}/images/tilt/tilt-planning-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.asseturl }}/images/tilt/tilt-planning-1580.jpg" alt="" />

		<img srcset="
				{{ site.asseturl }}/images/tilt/tilt-3-1580.jpg 1580w, 
		        {{ site.asseturl }}/images/tilt/tilt-3-1100.jpg 1100w,
		        {{ site.asseturl }}/images/tilt/tilt-3-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.asseturl }}/images/tilt/tilt-3-1580.jpg" alt="" />

		<img srcset="
				{{ site.asseturl }}/images/tilt/tilt-4-1580.jpg 1580w, 
		        {{ site.asseturl }}/images/tilt/tilt-4-1100.jpg 1100w,
		        {{ site.asseturl }}/images/tilt/tilt-4-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.asseturl }}/images/tilt/tilt-4-1580.jpg" alt="" />

		<img srcset="
				{{ site.asseturl }}/images/tilt/tilt-5-1580.jpg 1580w, 
		        {{ site.asseturl }}/images/tilt/tilt-5-1100.jpg 1100w,
		        {{ site.asseturl }}/images/tilt/tilt-5-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.asseturl }}/images/tilt/tilt-5-1580.jpg" alt="" />

		<img srcset="
				{{ site.asseturl }}/images/tilt/tilt-6-1580.jpg 1580w, 
		        {{ site.asseturl }}/images/tilt/tilt-6-1100.jpg 1100w,
		        {{ site.asseturl }}/images/tilt/tilt-6-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.asseturl }}/images/tilt/tilt-6-1580.jpg" alt="" />

		<img srcset="
				{{ site.asseturl }}/images/tilt/tilt-7-1580.jpg 1580w, 
		        {{ site.asseturl }}/images/tilt/tilt-7-1100.jpg 1100w,
		        {{ site.asseturl }}/images/tilt/tilt-7-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.asseturl }}/images/tilt/tilt-7-1580.jpg" alt="" />

		<img srcset="
				{{ site.asseturl }}/images/tilt/tilt-browser-1580.jpg 1580w, 
		        {{ site.asseturl }}/images/tilt/tilt-browser-1100.jpg 1100w,
		        {{ site.asseturl }}/images/tilt/tilt-browser-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.asseturl }}/images/tilt/tilt-browser-1580.jpg" alt="" />
		
	</div>

	{% include project-footer.html %}

</div>
