---
title: "Tilt"
runner: "TILT design enabling spaces, creating inspiring atmospheres that transform the way people interact with each other. They de-mystify architecture and design to make refreshing spaces that complement the purpose and personality of the people that use them."
meta:
- UI/UX
- Branding
- Design
- Development
layout: project
header_img: /images/plando/pd-andyipad.jpg
related:
- "Plan.Do": /work/plando
- "Up": /work/up
thumb: /images/project-thumbs/fwlanding-tilt.jpg
---


<div class="hero">
	<div class="text">
		<div class="wrapper">
			
			{% include project-title.html %}

			<div class="project-description">
				<p>Designing and developing a new website for TILT gave us the opportunity to explore ways to tell the stories of their innovative process. The challenge here was in creating a content managed site that would use the lovely imagery they’ve collected throughout their work to showcase the story of each project and product.</p>
				<p>We devised a grid system with strict image dimensions to provide a consistent sense of order at varying screen sizes and across various devices. This grid combined with a minimal design allows TILT’s wealth of content to do the talking, and their work to shine.</p>
			</div>
		</div>	
	</div>
</div>

<div class="wrapper">

	<div class="project-grid">

		<img src="{{ site.baseurl }}/images/tilt/tilt-1.jpg" alt="" />
		<img src="{{ site.baseurl }}/images/tilt/tilt-3.jpg" alt="" />
		<img src="{{ site.baseurl }}/images/tilt/tilt-4.jpg" alt="" />
		<img src="{{ site.baseurl }}/images/tilt/tilt-5.jpg" alt="" />
		<img src="{{ site.baseurl }}/images/tilt/tilt-6.jpg" alt="" />
		<img src="{{ site.baseurl }}/images/tilt/tilt-7.jpg" alt="" />
		
	</div>

	{% include project-footer.html %}

</div>