---
title: "Volume One: A Guide to Making Things"
runner: "Some blurb."
meta:
- UI/UX
- Branding
- Design
- Development
layout: project
header_img: /images/volume-one/vol-topimage.svg
related:
- "Plan.Do": /work/plando
- "Up": /work/up
thumb: /images/project-thumbs/fwlanding-volumes.png
---


<div class="hero">
	<div class="text">
		<div class="wrapper">
			
			{% include project-title.html %}

			<div class="project-description">
				<p>Catch-22 came to us having identified an opportunity to involve more young people with social action projects, helping them gain and evidence skills for employment at the same time.</p>
				<p>The organisation were keen to involve their target audience in the discovery phase—something we like to do at Fieldwork. We collaborated with Catch-22 staff and groups of young people from Young Advisors on a series of workshops to define key design objectives, user motivations, and product features. Workshops devised to make the group feel like a team working on a new product, rather than like a focus group, made for productive and insightful sessions.</p>
				<p>After the discovery phase, we designed, developed and iterated to produce a minimum viable product with which to test the concept, and start gathering valuable feedback from users. The intended use and target audience meant using technologies that work well across multiple devices, mobile being a critical consideration. Because we wanted to test the idea quickly, and make the most out of the development budget, we decided to build for the web platform, and not native mobile platforms at this early stage. This meant we only had to work with a single code base, and could focus development time on key features that would work across platforms via any web browser.</p>
				<p>We developed the Plan.Do visual identity in parallel with the first user interface designs. Colourful, clean and simple, it hints at the vibrancy and fun of collaborative projects, whilst leaving a lot of room for user generated content and vital interface features. We wanted to avoid the typical cliches often found in products aimed at young people, and deliver something respectful of their role as contributor and collaborator.</p>
				<p>Using the first version of Plan.Do, young people can create and manage social action projects using collaborative task lists and communication tools. They can evidence their good work by uploading photos and building an archive of project activity, and can gain skills badges within the application.</p>
			</div>
		</div>	
	</div>
</div>

<div class="wrapper">

	<div class="project-grid">

		<img src="{{ site.baseurl }}/images/volume-one/vol-8.jpg" alt="" />
		<img src="{{ site.baseurl }}/images/volume-one/vol-4.jpg" alt="" />
		<img src="{{ site.baseurl }}/images/volume-one/vol-3.jpg" alt="" />

		<div class="project-grid-col-2">
			<div><img src="{{ site.baseurl }}/images/volume-one/vol-grab.svg" alt="" /></div>
			<div><img src="{{ site.baseurl }}/images/volume-one/vol-globe.svg" alt="" /></div>
		</div>
		<div class="project-grid-col-2">
			<div><img src="{{ site.baseurl }}/images/volume-one/vol-sunday.svg" alt="" /></div>
			<div><img src="{{ site.baseurl }}/images/volume-one/vol-monster.svg" alt="" /></div>
		</div>

		<img src="{{ site.baseurl }}/images/volume-one/vol-1.jpg" alt="" />

		<div class="project-grid-col-2">
			<div><img src="{{ site.baseurl }}/images/volume-one/vol-6.jpg" alt="" /></div>
			<div><img src="{{ site.baseurl }}/images/volume-one/vol-7.jpg" alt="" /></div>
		</div>
		
		<img src="{{ site.baseurl }}/images/volume-one/vol-web1.png" alt="" />
		<img src="{{ site.baseurl }}/images/volume-one/vol-web2.png" alt="" />
		<img src="{{ site.baseurl }}/images/volume-one/vol-web3.png" alt="" />
		
	</div>

	{% include project-footer.html %}

</div>