---
title: "Volume One: A Guide to Making Things"
runner: "At the start wrote some ideas down so that we’d have something to come back to later and check we’re still on track. A while later we used them as inspiration for Volume One."
meta:
- UI/UX
- Branding
- Design
- Development
layout: default
header_img: /images/volume-one/vol-topimage.svg
thumbs: 
  1580px: /images/project-thumbs/fwlanding-volumes-1580.jpg
  1100px: /images/project-thumbs/fwlanding-volumes-1100.jpg
thumb: /images/project-thumbs/fwlanding-volumes
---


<div class="page-section">

	<div class="wrapper">
		
		{% include project-title.html %}

		<div class="section-text section-text--cols">
			<p>Volumes is a limited edition print series. Collaborating with talented artists, illustrators, designers, coders and makers, we explore a different subject in each edition. Anything goes, as long as it fits inside an A5 folder.</p>
			<p>A Guide to Making Things is the first (and currently only) in the series. We worked with the brilliant Hey, who interpreted our eight ideas to create illustrations, which we produced as a limited run of 100 sets of postcards, and a companion website with animated versions. The eight ideas are the guiding principals we wrote when we first started Fieldwork.</p>
			<p>This is one of our studio projects—something we do for a combination of fun, honing our skills and team, and self-promotion (in that order).</p>
			<ul>
				<li><a href="http://volumes.madebyfieldwork.com/making/">Visit the website</a></li>
			</ul>
		</div>
	</div>	

</div>


<div class="section-inner">

	<div class="grid media-grid">

		<img src="{{ site.baseurl }}/images/volume-one/vol-8.jpg" alt="" />
		<img src="{{ site.baseurl }}/images/volume-one/vol-4.jpg" alt="" />
		<img src="{{ site.baseurl }}/images/volume-one/vol-3.jpg" alt="" />

		<div class="grid-item"><img src="{{ site.baseurl }}/images/volume-one/vol-grab.svg" alt="" /></div>
		<div class="grid-item"><img src="{{ site.baseurl }}/images/volume-one/vol-globe.svg" alt="" /></div>
		<div class="grid-item"><img src="{{ site.baseurl }}/images/volume-one/vol-sunday.svg" alt="" /></div>
		<div class="grid-item"><img src="{{ site.baseurl }}/images/volume-one/vol-monster.svg" alt="" /></div>

		<img src="{{ site.baseurl }}/images/volume-one/vol-1.jpg" alt="" />

		<div class="grid-item"><img src="{{ site.baseurl }}/images/volume-one/vol-6.jpg" alt="" /></div>
		<div class="grid-item"><img src="{{ site.baseurl }}/images/volume-one/vol-7.jpg" alt="" /></div>
		
		<img src="{{ site.baseurl }}/images/volume-one/vol-web1.png" alt="" />
		<img src="{{ site.baseurl }}/images/volume-one/vol-web2.png" alt="" />
		<img src="{{ site.baseurl }}/images/volume-one/vol-web3.png" alt="" />
		
	</div>

	{% include project-footer.html %}

</div>
