---
order: 16
title: "Volume One: A Guide to Making Things"
runner: "At the start wrote some ideas down so that we’d have something to come back to later and check we’re still on track. A while later we used them as inspiration for Volume One."
meta:
- Print design
- Website design
- Development
scripts:
- /js/work/volume-one.js
layout: default
thumb: /images/project-thumbs/fwlanding-volumes.png
twitter:
  card: summary_large_image
---

<div class="project-section project-intro wrapper">
	<div>
		<h1 class="project-title">{{ page.title }}</h1>
		<p>Maecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Vestibulum id ligula porta felis euismod semper.</p>
	</div>
</div>

<div class="section-full-bleed">

	<div class="grid media-grid media-grid-new">
			{% responsive_image path: images/volume-one/volumes_header-image.png, alt: "Bosville Site on a monitor" %}
	</div>

	<div class="project-section wrapper">
		<div>
			<h2>It’s Complicated</h2>
			<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam quis risus eget urna mollis ornare vel eu leo. Cras mattis consectetur purus sit amet fermentum. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla. Donec id elit non mi porta gravida at eget metus.</p>
			<p>Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur blandit tempus porttitor. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
		</div>
	</div>

	<div class="grid media-grid media-grid-new">
		<div class="grid-item"><img src="{{ site.asseturl }}/images/volume-one/volumes_image-1.png" alt="" /></div>
		<div class="grid-item"><img src="{{ site.asseturl }}/images/volume-one/volumes_image-2.png" alt="" /></div>
		<div class="grid-item"><img src="{{ site.asseturl }}/images/volume-one/volumes_image-3.png" alt="" /></div>
		<div class="grid-item"><img src="{{ site.asseturl }}/images/volume-one/volumes_image-4.png" alt="" /></div>
	</div>

	<div class="project-section wrapper">
		<div>
			<h2>It’s Complicated</h2>
			<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam quis risus eget urna mollis ornare vel eu leo. Cras mattis consectetur purus sit amet fermentum. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla. Donec id elit non mi porta gravida at eget metus.</p>
			<p>Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur blandit tempus porttitor. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
		</div>
	</div>

	<div class="grid media-grid ">
		<div class="grid-item" style="background: #61c2b8; width: 100%; padding: 5% 0;">
			{% include work/volume-one/monster.svg %}
		</div>
	</div>

	<div class="project-section wrapper">
		<div>
			<h2>It’s Complicated</h2>
			<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam quis risus eget urna mollis ornare vel eu leo. Cras mattis consectetur purus sit amet fermentum. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla. Donec id elit non mi porta gravida at eget metus.</p>
			<p>Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur blandit tempus porttitor. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
		</div>
	</div>

	<div class="grid media-grid media-grid-new">
		<div class="grid-item"><img src="{{ site.asseturl }}/images/volume-one/volumes_image-6.png" alt="" /></div>
		<div class="grid-item"><img src="{{ site.asseturl }}/images/volume-one/volumes_image-7.png" alt="" /></div>
	</div>

	{% include project-footer.html %}
</div>
