---
title: "Wildtime"
runner: "A mobile app to help parents, teachers and kids find activities to do outside, investigating and exploring nature."
meta:
- UI/UX
- Branding
- Design
- Development
layout: default
header_imgs: 
  default: /images/wildtime/wt-topimage-600.jpg
  601px: /images/wildtime/wt-topimage-1100.jpg
  1101px: /images/wildtime/wt-topimage-1500.jpg
  1501px: /images/wildtime/wt-topimage-2560.jpg
thumbs: 
  1580px: /images/project-thumbs/fwlanding-wildtime-1580.jpg
  1100px: /images/project-thumbs/fwlanding-wildtime-1100.jpg
thumb: /images/project-thumbs/fwlanding-wildtime
---


<div class="page-section">

	<div class="wrapper">
		
		{% include project-title.html %}

		<div class="section-text section-text--large">
			<p>The Wildtime mobile app is an answer to the question: How can we use technology to encourage parents and kids to get away from the screen and go outside? This is an ongoing brief for The Wild Network and <a href="{{ site.baseurl }}/work/project-wild-thing">Project Wild Thing</a> (and you can get involved <a href="http://projectwildthing.com/">here</a>). </p>
			<p>Wild time is a very simple app for iOS and Android devices. Parents, kids and teachers use it to find fun and educational outdoor activities based on the amount of time they have. Got 20 minutes to fit in some Wildtime with the kids?</p>
		</div>
	</div>	

</div>


<div class="section-inner">

	<div class="grid media-grid">

		<img src="{{ site.baseurl }}/images/wildtime/wt-introscreen.svg" alt="" />
		
		<div class="grid-item">
			<img srcset="
					{{ site.baseurl }}/images/wildtime/wt-kids-1580.jpg 1580w, 
			        {{ site.baseurl }}/images/wildtime/wt-kids-1100.jpg 1100w,
			        {{ site.baseurl }}/images/wildtime/wt-kids-600.jpg 600w"
				sizes="(min-width: 600px) 45vw, 90vw"
				src="{{ site.baseurl }}/images/wildtime/wt-kids-1580.jpg" alt="" />
		</div>

		<div class="grid-item">
			<img srcset="
					{{ site.baseurl }}/images/wildtime/wt-sketches-1580.jpg 1580w, 
			        {{ site.baseurl }}/images/wildtime/wt-sketches-1100.jpg 1100w,
			        {{ site.baseurl }}/images/wildtime/wt-sketches-600.jpg 600w"
				sizes="(min-width: 600px) 45vw, 90vw"
				src="{{ site.baseurl }}/images/wildtime/wt-sketches-1580.jpg" alt="" />
		</div>
		
		<img srcset="
				{{ site.baseurl }}/images/wildtime/wt-fossils-1580.jpg 1580w, 
		        {{ site.baseurl }}/images/wildtime/wt-fossils-1100.jpg 1100w,
		        {{ site.baseurl }}/images/wildtime/wt-fossils-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.baseurl }}/images/wildtime/wt-fossils-1580.jpg" alt="" />

		<img src="{{ site.baseurl }}/images/wildtime/wt-icons.png" alt="" />
		<img src="{{ site.baseurl }}/images/wildtime/wt-iphone2.png" alt="" />
		<img src="{{ site.baseurl }}/images/wildtime/wt-iphone3.png" alt="" />
		<img src="{{ site.baseurl }}/images/wildtime/wt-zoomed.svg" alt="" />
		
	</div>

	{% include project-footer.html %}

</div>
