---
title: "WildTime"
runner: "WildTime app blurb."
meta:
- UI/UX
- Branding
- Design
- Development
layout: project
header_img: /images/plando/pd-andyipad.jpg
related:
- "Plan.Do": /work/plando
- "Up": /work/up
---


<div class="hero">
	<div class="text">
		<div class="wrapper">
			
			{% include project-title.html %}

			<div class="project-description">
				<p>Blurb blurb.</p>
			</div>
		</div>	
	</div>
</div>

<div class="wrapper">

	<div class="project-grid">

		<img src="{{ site.baseurl }}/images/wildtime/wt-iphone1.png" alt="" />
		<img src="{{ site.baseurl }}/images/wildtime/wt-iphone2.png" alt="" />
		<img src="{{ site.baseurl }}/images/wildtime/wt-iphone3.png" alt="" />
		
	</div>

	{% if page.related %}
		<div class="project-info">
			<h2 class="elements">Related</h2>
			<ul>
				{% for link in page.related %}
					{% for l in link %}
						<li><a href="{{ l[1] }}">{{ l[0] }}</a></li>
					{% endfor %}
				{% endfor %}
			</ul>
		</div>
	{% endif %}

</div>