---
title: "WildTime"
runner: "WildTime app blurb."
meta:
- UI/UX
- Branding
- Design
- Development
layout: project
header_img: /images/wildtime/wt-topimage.jpg
related:
- "Plan.Do": /work/plando
- "Up": /work/up
thumb: /images/project-thumbs/fwlanding-wildtime.jpg
---


<div class="hero">
	<div class="text">
		<div class="wrapper">
			
			{% include project-title.html %}

			<div class="project-description">
				<p>Blurb blurb.</p>
			</div>
		</div>	
	</div>
</div>

<div class="wrapper">

	<div class="project-grid">

		<img src="{{ site.baseurl }}/images/wildtime/wt-introscreen.svg" alt="" />
		<div class="project-grid-col-2">
			<div><img src="{{ site.baseurl }}/images/wildtime/wt-kids.jpg" alt="" /></div>
			<div><img src="{{ site.baseurl }}/images/wildtime/wt-sketches.jpg" alt="" /></div>
		</div>
		<img src="{{ site.baseurl }}/images/wildtime/wt-fossils.jpg" alt="" />
		<img src="{{ site.baseurl }}/images/wildtime/wt-icons.png" alt="" />
		<img src="{{ site.baseurl }}/images/wildtime/wt-iphone2.png" alt="" />
		<img src="{{ site.baseurl }}/images/wildtime/wt-iphone3.png" alt="" />
		<img src="{{ site.baseurl }}/images/wildtime/wt-zoomed.svg" alt="" />
		
	</div>

	{% include project-footer.html %}

</div>