---
layout: home
---


<div class="section-inner home-page-section">
    <h2>Projects</h2>

    <ul class="grid projects">
        {% for project in site.featured %}
            <li class="grid-item">
                <a href="{{ site.baseurl }}{{ project.url }}">
                    <figure>
                        <img srcset="
                            {% for thumb in project.thumbs %}{{ site.baseurl }}{{ thumb[1] }} {{ thumb[0] }},
                            {% endfor %}{{ site.baseurl }}{{ project.thumb }}-600.jpg 600w"
                         sizes="90vw"
                         src="{{ site.baseurl }}{{ project.thumb }}-600.jpg" alt="" />
                        <figcaption class="project-index-content">
                            {{ project.runner }}
                        </figcaption>
                    </figure>
                    <h3>{{ project.title }}</h3>
                    <p class="project-index-meta">
                        {{ project.meta | array_to_sentence_string }}
                    </p>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>


<div class="page-section home-page-blog-wrapper">
    <div class="section-inner home-page-section overflow-visible">
        <h2>Feed</h2>
        <ul class="grid home-page-blog overflow-visible" id="home-page-blog"></ul>
    </div>
</div>


<div class="page-section home-page-section home-page-social-blocks">
    <div class="social-blocks-wrapper">

        <div class="social-block social-block--spotify">
            <div>
                <a href="https://twitter.com/MadeByFieldwork" class="social-block-icon icon-twitter"></a>
                <p>Now playing: Some Song Title</p>
            </div>
        </div>

        <div class="social-block social-block--twitter">
            <div>
                <a href="https://twitter.com/MadeByFieldwork" class="social-block-icon icon-twitter"></a>
                <div id="latest-tweet"></div>
            </div>
        </div>

        <div class="social-block social-block--instagram">
            <div style="background-image: url(http://photos-b.ak.instagram.com/hphotos-ak-xfp1/10785045_1501036103496225_389811498_n.jpg)">
                <a href="https://twitter.com/MadeByFieldwork" class="social-block-icon icon-instagram"></a>
                <p>Plotting with the Swarm guys on the next chapter for #projectwildthing</p>
            </div>
        </div>

    </div>
</div>


