---
title: "Us"
description: "Fieldwork"
layout: default
header_img: /images/us/fieldwork-hero.jpg
---

<section class="hero">
  <div class="text">
    <div class="wrapper">
      
      <div class="project-title">
        <h1>We love making things, collaborating, identifying interesting problems and figuring out what we can build to help solve them.</h1>
        <p>{{ page.runner }}</p>

        {% if page.additional %}
          <p class="additional">{{ page.additional }}</p>
        {% endif %}
        
        {% if page.meta %}
          <ul class="project-meta">
            {% for meta in page.meta %}
              <li>{{ meta }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

      <div class="hero-description">
        <p>We build things with you, collaboratively, to support and enhance the work that you do. Combining your knowledge of your organisation and its work, with our experience and design process, to produce things that have real impact.</p>
        <p>The best way to explore possibilities and generate new ideas, is to get started. Less talking, more doing. If you were to visit our studio right now, you’d probably find us tinkering with something, making things with pixels, wires or paper. This is what we love doing, and we pour that energy and excitement into every project we undertake.</p>
      </div>
    </div>  
  </div>
</section>

<section class="hero">
  <div class="text">
    <div class="wrapper">
      
      <div class="project-title">
        <h1>We work with strategy, design and technology to produce coherent and effective results on a broad range of projects.</h1>
      </div>

      <div class="content-section-body content-columns">
          <h2>Websites</h2>
          <p>We bring together multiple disciplines to design and build websites that meet the needs of your organisation and it’s content.</p>
          <ul>
            <li>Content strategy</li>
            <li>Website design</li>
            <li>Responsive web development</li>
            <li>Ecommerce</li>
          </ul>

          <h2>Digital Products</h2>
          <p>We make digital products for the web and mobile platforms, and help organisations discover opportunities to be more impactful by building bespoke applications.</p>
          <ul>
            <li>Product discovery</li>
            <li>User research</li>
            <li>User experience</li>
            <li>User interface design</li>
            <li>Agile product management</li>
            <li>Ruby on Rails</li>
            <li>PHP</li>
          </ul>
        
          <h2>Brand Identity</h2>
          <p>We create identity systems ranging from simple visual identities for small, focussed brands to strategic communications for large organisations with varied activities.</p>
          <ul>
            <li>Research & strategy</li>
            <li>Tone of voice</li>
            <li>Logo design</li>
            <li>Identity systems</li>
            <li>Brand guidelines</li>
          </ul>

          <h2>Visual Communication</h2>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
          <ul>
            <li>Illustration</li>
            <li>Print & editorial design</li>
            <li>Photography</li>
            <li>Videography</li>
            <li>Packaging Design</li>
          </ul>
        

      </div>
    </div>  
  </div>
</section>



<section class="hero">
  <div class="text">
    <div class="wrapper">

      <div class="project-grid">
        <div class="project-grid-col-2">
          <div><img src="{{ site.baseurl }}/images/us/fieldwork-shelf.jpg" alt="" /></div>
          <div><img src="{{ site.baseurl }}/images/us/fieldwork-window.jpg" alt="" /></div>
        </div>
      </div>
      
      <div class="project-title">
        <h1>We’re a focused team of makers and do-ers who specialise in crafting engaging experiences across digital, web and brand.</h1>
      </div>

      <div class="content-section-body">
        <div class="pop-it-mod-3-1">
          <h2>Andy Gott<span>Co-founder</span></h2>
          <!-- <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p> -->
          <ul class="social-icons">
            <li><a href="https://twitter.com/_andygott" class="icon-twitter"></a></li>
            <li><a href="http://instagram.com/andygott" class="icon-instagram"></a></li>
            <li><a href="http://www.pinterest.com/andygott/" class="icon-pinterest"></a></li>
            <li><a href="https://github.com/andygott" class="icon-github"></a></li>
          </ul>
        </div>

        <div class="pop-it-mod-3-1">
          <h2>Loz Ives<span>Co-founder</span></h2>
          <!-- <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p> -->
          <ul class="social-icons">
            <li><a href="https://twitter.com/MadeByFieldwork" class="icon-twitter"></a></li>
            <li><a href="http://instagram.com/madebyfieldwork" class="icon-instagram"></a></li>
            <li><a href="https://www.facebook.com/madebyfieldwork" class="icon-facebook"></a></li>
            <li><a href="https://github.com/EMT" class="icon-github"></a></li>
          </ul>
        </div>

        <div class="pop-it-mod-3-1">
          <h2>Sadie Evans<span>Designer</span></h2>
          <!-- <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p> -->
          <ul class="social-icons">
            <li><a href="https://twitter.com/MadeByFieldwork" class="icon-twitter"></a></li>
            <li><a href="http://instagram.com/madebyfieldwork" class="icon-instagram"></a></li>
            <li><a href="https://www.facebook.com/madebyfieldwork" class="icon-facebook"></a></li>
            <li><a href="https://github.com/EMT" class="icon-github"></a></li>
          </ul>
        </div>

        <div class="pop-it-mod-3-1">
          <h2>Ed Ball<span>Developer</span></h2>
          <!-- <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p> -->
          <ul class="social-icons">
            <li><a href="https://twitter.com/MadeByFieldwork" class="icon-twitter"></a></li>
            <li><a href="http://instagram.com/madebyfieldwork" class="icon-instagram"></a></li>
            <li><a href="https://www.facebook.com/madebyfieldwork" class="icon-facebook"></a></li>
            <li><a href="https://github.com/EMT" class="icon-github"></a></li>
          </ul>
        </div>

        <div class="pop-it-mod-3-1">
          <h2>Harry Parton<span>Developer</span></h2>
          <!-- <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p> -->
          <ul class="social-icons">
            <li><a href="https://twitter.com/MadeByFieldwork" class="icon-twitter"></a></li>
            <li><a href="http://instagram.com/madebyfieldwork" class="icon-instagram"></a></li>
            <li><a href="https://www.facebook.com/madebyfieldwork" class="icon-facebook"></a></li>
            <li><a href="https://github.com/EMT" class="icon-github"></a></li>
          </ul>
        </div>

        <div class="pop-it-mod-3-1">
          <h2>Eve Warren<span>Designer</span></h2>
          <!-- <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p> -->
          <ul class="social-icons">
            <li><a href="https://twitter.com/MadeByFieldwork" class="icon-twitter"></a></li>
            <li><a href="http://instagram.com/madebyfieldwork" class="icon-instagram"></a></li>
            <li><a href="https://www.facebook.com/madebyfieldwork" class="icon-facebook"></a></li>
            <li><a href="https://github.com/EMT" class="icon-github"></a></li>
          </ul>
        </div>
      </div>
    </div>  
  </div>
</section>
