---
title: "Us"
description: "Fieldwork"
layout: project
header_img: /images/us/fieldwork-hero.jpg
---

<section class="hero">
  <div class="text">
    <div class="wrapper">
      
      <div class="project-title">
        <h1>{{ page.title }}</h1>
        <p>{{ page.runner }}</p>

        {% if page.additional %}
          <p class="additional">{{ page.additional }}</p>
        {% endif %}
        
        {% if page.meta %}
          <ul class="project-meta">
            {% for meta in page.meta %}
              <li>{{ meta }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

      <div class="hero-description">
        <p>We love making things, collaborating, identifying interesting problems and figuring out what we can build to help solve them. </p>
        <p>We build things with you, collaboratively, to support and enhance the work that you do. Combining your knowledge of your organisation and its work, with our experience and design process, to produce things that have real impact.</p>
        <p>The best way to explore possibilities and generate new ideas, is to get started. Less talking, more doing. If you were to visit our studio right now, you’d probably find us tinkering with something, making things with pixels, wires or paper. This is what we love doing, and we pour that energy and excitement into every project we undertake.</p>
      </div>
    </div>  
  </div>
</section>

<section class="hero pop-it-section">
  <div class="text">
    <div class="wrapper">
      
      <div class="project-title">
        <h1>What we do</h1>
      </div>

      <div class="content-section-body">

        <div class="pop-it-col-2-1">
          <h2>Digital Products</h2>
          <p>Many organisations are exploring the potential for developing digital products to enhance their work. We help them with everything from concept to implementation and launch.</p>
          <ul>
            <li>Product research, discovery & strategy</li>
            <li>Developing user personas & workflows</li>
            <li>User experience & user interface design</li>
            <li>Development & deployment for web & mobile platforms</li>
          </ul>

          <h2>Websites</h2>
          <p></p>
          <ul>
            <li>Research, discovery & strategy</li>
            <li>Content strategy & information architecture</li>
            <li>User experience, user interface & website design</li>
            <li>Development & deployment</li>
          </ul>
        </div>

        <div class="pop-it-col-2-1">
          <h2>Brand & Identity</h2>
          <p></p>
          <ul>
            <li>Content Strategy</li>
            <li>Website Design</li>
            <li>WordPress</li>
            <li>Responsive Web Development</li>
            <li>Identity</li>
          </ul>

          <h2>Web & Digital</h2>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
          <ul>
            <li>Content Strategy</li>
            <li>Website Design</li>
            <li>WordPress</li>
            <li>Responsive Web Development</li>
            <li>Identity</li>
          </ul>
        </div>

      </div>
    </div>  
  </div>
</section>



<section class="hero">
  <div class="text">
    <div class="wrapper">

      <div class="project-grid">
        <div class="project-grid-col-2">
          <div><img src="{{ site.baseurl }}/images/us/fieldwork-shelf.jpg" alt="" /></div>
          <div><img src="{{ site.baseurl }}/images/us/fieldwork-window.jpg" alt="" /></div>
        </div>
      </div>
      
      <div class="project-title">
        <h1>We’re a focused team of makers and do-ers who specialise in crafting engaging experiences across digital, web and brand.</h1>
      </div>

      <div class="content-section-body">
        <div class="pop-it-mod-2-1">
          <h2>Andy Gott<span>Co-founder</span></h2>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
          <ul class="social-icons">
            <li><a href="https://twitter.com/MadeByFieldwork" class="icon-twitter"></a></li>
            <li><a href="http://instagram.com/madebyfieldwork" class="icon-instagram"></a></li>
            <li><a href="https://www.facebook.com/madebyfieldwork" class="icon-facebook"></a></li>
            <li><a href="https://github.com/EMT" class="icon-github"></a></li>
          </ul>
        </div>

        <div class="pop-it-mod-2-1">
          <h2>Loz Ives<span>Co-founder</span></h2>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
          <ul class="social-icons">
            <li><a href="https://twitter.com/MadeByFieldwork" class="icon-twitter"></a></li>
            <li><a href="http://instagram.com/madebyfieldwork" class="icon-instagram"></a></li>
            <li><a href="https://www.facebook.com/madebyfieldwork" class="icon-facebook"></a></li>
            <li><a href="https://github.com/EMT" class="icon-github"></a></li>
          </ul>
        </div>

        <div class="pop-it-mod-2-1">
          <h2>Sadie Evans<span>Designer</span></h2>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
          <ul class="social-icons">
            <li><a href="https://twitter.com/MadeByFieldwork" class="icon-twitter"></a></li>
            <li><a href="http://instagram.com/madebyfieldwork" class="icon-instagram"></a></li>
            <li><a href="https://www.facebook.com/madebyfieldwork" class="icon-facebook"></a></li>
            <li><a href="https://github.com/EMT" class="icon-github"></a></li>
          </ul>
        </div>

        <div class="pop-it-mod-2-1">
          <h2>Ed Ball<span>Developer</span></h2>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
          <ul class="social-icons">
            <li><a href="https://twitter.com/MadeByFieldwork" class="icon-twitter"></a></li>
            <li><a href="http://instagram.com/madebyfieldwork" class="icon-instagram"></a></li>
            <li><a href="https://www.facebook.com/madebyfieldwork" class="icon-facebook"></a></li>
            <li><a href="https://github.com/EMT" class="icon-github"></a></li>
          </ul>
        </div>

        <div class="pop-it-mod-2-1">
          <h2>Harry Parton<span>Developer</span></h2>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
          <ul class="social-icons">
            <li><a href="https://twitter.com/MadeByFieldwork" class="icon-twitter"></a></li>
            <li><a href="http://instagram.com/madebyfieldwork" class="icon-instagram"></a></li>
            <li><a href="https://www.facebook.com/madebyfieldwork" class="icon-facebook"></a></li>
            <li><a href="https://github.com/EMT" class="icon-github"></a></li>
          </ul>
        </div>

        <div class="pop-it-mod-2-1">
          <h2>Eve Warren<span>Designer</span></h2>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
          <ul class="social-icons">
            <li><a href="https://twitter.com/MadeByFieldwork" class="icon-twitter"></a></li>
            <li><a href="http://instagram.com/madebyfieldwork" class="icon-instagram"></a></li>
            <li><a href="https://www.facebook.com/madebyfieldwork" class="icon-facebook"></a></li>
            <li><a href="https://github.com/EMT" class="icon-github"></a></li>
          </ul>
        </div>
      </div>
    </div>  
  </div>
</section>
