---
title: "Work"
description: "Our Projects"
layout: default
body_classes: no-hero
---

<div class="section-inner">

    <!-- <h1>Projects</h1> -->

    <ul class="grid projects">
        {% assign projects = site.work | sort: 'order' %}
        {% for project in projects | sort: 'order' %}
            <li class="grid-item">
                <a href="{{ site.baseurl }}{{ project.url }}">
                    <figure>
                    <img srcset="
                            {% for thumb in project.thumbs %}{{ site.baseurl }}{{ thumb[1] }} {{ thumb[0] }},
                            {% endfor %}{{ site.baseurl }}{{ project.thumb }}-600.jpg 600w"
                         sizes="90vw"
                         src="{{ site.baseurl }}{{ project.thumb }}-600.jpg" alt="" />

                        <figcaption class="project-index-content">
                            {{ project.runner }}
                        </figcaption>
                    </figure>
                    <h2>{{ project.title }}</h2>
                    <p class="project-index-meta">
                        {{ project.meta | array_to_sentence_string }}
                    </p>
                </a>
            </li>
        {% endfor %}
    </ul>

</div>
