---
order: 1
title: "Global Generation"
runner: "A space for reflection in the middle of one of the world’s busiest cities, Global Generation build community and connect people with the natural world through hands-on experiences."
meta:
- Discovery
- Branding
- Iconography
layout: default
header_imgs: 
  default: /images/global-generation/gg-topimage-600.jpg
  601px: /images/global-generation/gg-topimage-1100.jpg
  1101px: /images/global-generation/gg-topimage-1500.jpg
  1501px: /images/global-generation/gg-topimage-2560.jpg
thumbs: 
  1580w: /images/project-thumbs/fwlanding-global-generation-1580.jpg
  1100w: /images/project-thumbs/fwlanding-global-generation-1100.jpg
  600w: /images/project-thumbs/fwlanding-global-generation-600.jpg
thumb: /images/project-thumbs/fwlanding-global-generation-1100.jpg
---


<div class="page-section">

	<div class="wrapper">
		
		{% include project-title.html %}
		
		<div class="section-text section-text--large">
			<p>Global Generation are hands-on types. They run workshops for young people where they dig, grow vegetables, and make things. This was key to our approach with their new brand identity.</p>
			<p>Beginning with a one-day workshop attended the Global Generation team, some of the young people they work with, and Fieldwork (and led by one of our regular collaborators, Mark Shayler of <a href="http://thisisape.co.uk/">Ape</a>), we spent time uncovering the identity of the organisation and learning about their core purpose.</p>
			<p>We developed a few initial, exploratory ideas for the visual identity, which we iteratively narrowed down and developed into a custom stencil typeface that the team can use to create their own signage and print materials, in true hands-on Global Generation style. We also developed bespoke iconography to provide additional tools for them to use in their communications.</p>
		</div>
	</div>	

</div>


<div class="section-inner">

	<div class="grid media-grid">
		<div class="grid-item">
			<img srcset="
					{{ site.asseturl }}/images/global-generation/gg-logo-1580.jpg 1580w, 
			        {{ site.asseturl }}/images/global-generation/gg-logo-1100.jpg 1100w,
			        {{ site.asseturl }}/images/global-generation/gg-logo-600.jpg 600w"
				sizes="(min-width: 600px) 45vw, 90vw"
				src="{{ site.asseturl }}/images/global-generation/gg-logo-1580.jpg" 
				alt="" />
		</div>

		<div class="grid-item">
			<img srcset="
					{{ site.asseturl }}/images/global-generation/gg-g-1580.jpg 1580w, 
			        {{ site.asseturl }}/images/global-generation/gg-g-1100.jpg 1100w,
			        {{ site.asseturl }}/images/global-generation/gg-g-600.jpg 600w"
				sizes="(min-width: 600px) 45vw, 90vw"
				src="{{ site.asseturl }}/images/global-generation/gg-g-1580.jpg" 
				alt="" />
		</div>

		<img srcset="
				{{ site.asseturl }}/images/global-generation/gg-icons-1580.jpg 1580w, 
		        {{ site.asseturl }}/images/global-generation/gg-icons-1100.jpg 1100w,
		        {{ site.asseturl }}/images/global-generation/gg-icons-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.asseturl }}/images/global-generation/gg-icons-1580.jpg" alt="" />

		<img srcset="
				{{ site.asseturl }}/images/global-generation/gg-sun-1580.jpg 1580w, 
		        {{ site.asseturl }}/images/global-generation/gg-sun-1100.jpg 1100w,
		        {{ site.asseturl }}/images/global-generation/gg-sun-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.asseturl }}/images/global-generation/gg-sun-1580.jpg" alt="" />

		<img srcset="
				{{ site.asseturl }}/images/global-generation/gg-buscards-1580.jpg 1580w, 
		        {{ site.asseturl }}/images/global-generation/gg-buscards-1100.jpg 1100w,
		        {{ site.asseturl }}/images/global-generation/gg-buscards-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.asseturl }}/images/global-generation/gg-buscards-1580.jpg" alt="" />

		<img srcset="
				{{ site.asseturl }}/images/global-generation/gg-skip-1580.jpg 1580w, 
		        {{ site.asseturl }}/images/global-generation/gg-skip-1100.jpg 1100w,
		        {{ site.asseturl }}/images/global-generation/gg-skip-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.asseturl }}/images/global-generation/gg-skip-1580.jpg" alt="" />

		<img srcset="
				{{ site.asseturl }}/images/global-generation/gg-font-1580.png 1580w, 
		        {{ site.asseturl }}/images/global-generation/gg-font-1100.png 1100w,
		        {{ site.asseturl }}/images/global-generation/gg-font-600.png 600w"
		    sizes="90vw"
			src="{{ site.asseturl }}/images/global-generation/gg-font-1580.png" alt="" />

		<div class="grid-item">
			<img srcset="
					{{ site.asseturl }}/images/global-generation/gg-growtype-1580.png 1580w, 
			        {{ site.asseturl }}/images/global-generation/gg-growtype-1100.png 1100w,
			        {{ site.asseturl }}/images/global-generation/gg-growtype-600.png 600w"
				sizes="(min-width: 600px) 45vw, 90vw"
				src="{{ site.asseturl }}/images/global-generation/gg-growtype-1580.png" 
				alt="" />
		</div>

		<div class="grid-item">
			<img srcset="
					{{ site.asseturl }}/images/global-generation/gg-letterdrawing-1580.jpg 1580w, 
			        {{ site.asseturl }}/images/global-generation/gg-letterdrawing-1100.jpg 1100w,
			        {{ site.asseturl }}/images/global-generation/gg-letterdrawing-600.jpg 600w"
				sizes="(min-width: 600px) 45vw, 90vw"
				src="{{ site.asseturl }}/images/global-generation/gg-letterdrawing-1580.jpg" 
				alt="" />
		</div>

		<img srcset="
				{{ site.asseturl }}/images/global-generation/gg-stencil-1580.jpg 1580w, 
		        {{ site.asseturl }}/images/global-generation/gg-stencil-1100.jpg 1100w,
		        {{ site.asseturl }}/images/global-generation/gg-stencil-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.asseturl }}/images/global-generation/gg-stencil-1580.jpg" alt="" />

		<img srcset="
				{{ site.asseturl }}/images/global-generation/gg-bee-1580.jpg 1580w, 
		        {{ site.asseturl }}/images/global-generation/gg-bee-1100.jpg 1100w,
		        {{ site.asseturl }}/images/global-generation/gg-bee-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.asseturl }}/images/global-generation/gg-bee-1580.jpg" alt="" />

		<img srcset="
				{{ site.asseturl }}/images/global-generation/gg-bowl-1580.jpg 1580w, 
		        {{ site.asseturl }}/images/global-generation/gg-bowl-1100.jpg 1100w,
		        {{ site.asseturl }}/images/global-generation/gg-bowl-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.asseturl }}/images/global-generation/gg-bowl-1580.jpg" alt="" />

		<img srcset="
				{{ site.asseturl }}/images/global-generation/gg-skipwatering-1580.jpg 1580w, 
		        {{ site.asseturl }}/images/global-generation/gg-skipwatering-1100.jpg 1100w,
		        {{ site.asseturl }}/images/global-generation/gg-skipwatering-600.jpg 600w"
		    sizes="90vw"
			src="{{ site.asseturl }}/images/global-generation/gg-skipwatering-1580.jpg" alt="" />

	</div>

	{% include project-footer.html %}

</div>

