
// Basic Styles


body {
  font-family: 'Neuzeit';
  font-size: 15px;
  line-height: 1.4em;
  color: rgb(109,110,113);
  // background: rgb(239,239,239);
  background: rgb(255,255,255);
  margin-top: 6em;
  position: relative;
  min-height: 100%;
  -webkit-font-smoothing:antialiased
}


 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-github:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\e802'; font-size: 0.9em; margin-right: 0.4em; margin-top: -0.5em;} /* '' Twitter icon is a bit big and too low so some specific styles to fix that! */
.icon-instagram:before { content: '\e803'; } /* '' */

header > div,
footer > div,
.wrapper {
  max-width: 1500px;
  width: 90%;
  margin: 0 auto;
}

.wrapper:after, .grid:after {
  content: '';
  clear: both;
  display: block;
}

html {
  height: 100%;
}

body {
  height: 100%;
  padding-bottom: 20em;
}

.wrap, 
.page-content {
  height: 100%;
}

// Mixins

@mixin border-box{
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

@mixin column($count, $width, $gutter) {
  -webkit-column-count: $count;
  -moz-column-count: $count;
  column-count: $count;
  -webkit-column-width: $width;
  -moz-column-width: $width;
  column-width: $width;
  -webkit-column-gap: $gutter;
  -moz-column-gap: $gutter;
  column-gap: $gutter;
}

