

// Slightly Modified footer code from the old site, needs a bit of touching up.



.site-footer {
	color: $footer-type-color;
	// background: rgb(255,255,255);
	position: static;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	border-top: 1px solid rgba(109,110,113,0.25);
	line-height: 1.35;
}

.footer-block {
	display: block;
	margin: 2em 0;

	&.project-planner {
		&:hover {
			background: rgb(240,240,240);
		}
	}

	h3 {
		color: rgb(109, 110, 113);
		margin-bottom: 0.3em;
	}
	p {
		margin-bottom: 1em;
	}
	a {
		color: $footer-type-color;
		text-decoration: none;
		-webkit-transition: all .3s ease-out;
		-moz-transition: all .3s ease-out;
		-ms-transition: all .3s ease-out;
		-o-transition: all .3s ease-out;
		transition: all .3s ease-out;

		&:hover {
			color: $link-hover-color;
		}
	}

	.tel {
		margin-bottom: 0;
	}
}

a.footer-block {
	color: rgb(153,153,153);
	text-decoration: none;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.social li {
	margin: 0.2em 0;
}



footer input[type="email"] {
	border-bottom: 1px solid rgba(109, 110, 113, 0.25);
	border-top: 0;
	border-left: 0;
	border-right: 0;
	background: rgba(0, 0, 0, 0);
	padding: 0;
	color: rgb(167, 169, 172);
	font-size: 1em;
	font-family: 'Neuzeit';
	margin-bottom: 0.4em;
	width: 50%;
	padding: 0.4em 0;
}

footer input[type="submit"] {
	border: 0;
	border-bottom: 1px solid rgba(109, 110, 113, 0.25);
	background: rgba(0, 0, 0, 0);
	padding: 0;
	color: rgb(167, 169, 172);
	font-size: 1em;
	display: block;
	font-family: 'Neuzeit';
	margin-bottom: 0.4em;
	padding: 0.4em 0;
	cursor: pointer;
}




@media only screen and (min-width: 650px) {

	.footer-wrapper {
		display: table;
		width: 100%;
		margin: 0 1em 0 -1em;
	}

	.footer-block {
		display: table-cell;
		vertical-align: top;
		box-sizing: border-box;
		padding: 4% 1em;
		// width: 50%;

		&:first-child {
			padding-right: 0;
		}
	}

}

@media only screen and (min-width: 1050px) {

	.footer-block {
		width: 25%;
		padding: 4% 2em;

		&:first-child {
			padding-right: 0;
		}
		&.join-newsletter {
			width: 35%;
		}
		&.social-wrapper {
			width: 15%;
		}
	}

}

