
// Slightly Modified header code from the old site, needs a bit of touching up.


header {
	background: rgba(255,255,255,0.9);
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	padding: 0.25em 0;
	z-index: 2;
}

// .project header {
// 	background: rgba(255,255,255,0);
// 	transition: all 0.3s ease-out;
// } 

header.visible {
	border-bottom: 1px solid rgba(109,110,113,0.25);
	background: rgba(255,255,255,1);
}

.index-open header {
	border-bottom-color: rgb(0,77,89);
}
.search-open header {
	border-bottom-color: rgb(0,207,202);
}

header .marque {
    margin-top: 0.85em;
    height: 20px;
    display: inline-block;
    position: relative;
}

header .marque img {
	position: absolute;
	height: 100%;
}

header nav {
	float: right;
	overflow: hidden;
}
header nav a {
	text-decoration: none;
	line-height: 3em;
	color: rgb(102,102,102);
	border-bottom: 1px solid transparent;
	display: block;
	padding: 0 0.6em;
	float: left;
}
header nav a:hover,
.work nav a.work,
.us nav a.us,
.journal nav a.journal {
	border-bottom: 1px solid rgb(255,48,67);
}
nav .search,
nav .index {
	padding: 0;
}
nav .search {
	text-indent: -999em;
	background: transparent url('images/icon-sprite.png') -70px 17px no-repeat;
	height: 3em;
	width: 14px;
	margin: 0 0 0 0.6em;
	position: relative;
}
.search-open nav .search,
nav .search:hover {
	border-bottom-color: transparent;
	background-position: -70px -33px;
}
.search-open nav .search:after {
	content: ' ';
	position: absolute;
	z-index: 10;
	bottom: -1px;
	right: -1px;
	width: 0; 
	height: 0; 
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid rgb(0,207,202);
}
nav .index {
	text-indent: -999em;
	background: transparent url('images/icon-sprite.svg') no-repeat 0 14px;
	background-size: 200%;
	height: 3em;
	width: 16px;
	margin: 0 0 0 0.6em;
	position: relative;
}
.index-open nav .index,
nav .index:hover {
	border-bottom-color: transparent;
	background-position: -16px 14px;
}
.no-svg nav .index {
	background-image: url('images/icon-sprite.png');
}

.index-open nav .index:after {
	content: ' ';
	position: absolute;
	z-index: 10;
	bottom: -1px;
	right: 1px;
	width: 0; 
	height: 0; 
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid rgb(0,77,89);
}



// TEMP ICON/HEADER STUFF.


header .marque {
	float: left;
}

header nav {
	float: right;
	overflow: hidden;
	width: 30%;
}

header nav a:first-of-type {
	padding-left: 0;
}

.social-icons {
	display: inline-block;
	line-height: 3em;

	a {
		color: rgb(102,102,102);
		text-decoration: none;
		font-size: 1.2em;
		transition: all 0.3s ease-out;
	}

	li {
		display: inline-block;
	}
}

.header-social-icons {
	float: right;
	width: 20%;
	text-align: right;
}

.hero-header header .social-icons a {
	color: rgb(255,255,255);
}
.hero-header header.visible .social-icons a {
	color: rgb(102,102,102);
}


@media only screen and (max-width: 900px) {

	header nav {
		width: 40%;
	}

}