.homepage-header {
	background:$grey--mega-light;
	background: linear-gradient(to bottom, $grey--mega-light 0%, $grey--mega-light 99%, $white 100%); 
	padding-top: 16%;
	position: relative;
	overflow:hidden;
}

.homepage-header > svg {
	display: block;
margin-bottom: 0px;
position: relative;
bottom: -2px;
}

.svg-wrapper{
	width: 100%;
	display: block;
	height: auto;
	position: relative;
	padding-top: 32.95%;
}

@media only screen and (max-width: 1130px) {
	.svg-wrapper{
		width:156%;
		padding-top:51.45%;
	}
}

@media only screen and (max-width: 600px) {
	.svg-wrapper{
		width:224%;
		padding-top:73.95%;
	}
}

.svg-wrapper svg{
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	height:100%;
	transform: translateZ(0);
}

.home-page {
	margin-top: 0;
}

.home-page-intro-wrapper-outer {
	position: absolute;
	// bottom: 55%;
	// top:20%;
	// display:table;
	top:0%;
	height:65%;
	left: 50%;
	width: 30%;
	font-size: 1.5em;
	// color: $white;
	line-height: 1.4;

	h1 {
		// color: $white;
		margin-bottom: 0.6em;
	}
}


.home-page-intro-wrapper-inner{
	display:table;
	height:100%;
	margin-top:23px;
}

.home-page-intro{
	display: table-cell;
	vertical-align: middle;
}

.home-page .page-content {
	border-top: 1px solid $link-color;
	background-color: $link-color;
	color: rgb(255,255,255);
}

.featured-block {
	display: block;
	position: relative;
	padding-bottom: 50%;
	background: rgb(0,0,0);
	font-size: $type-large;
	line-height: $line-large;

	&:hover {
		.featured-image {
			opacity: 0.8;
		}
	}
	
	.featured-image {
		background-size: cover;
		background-position: center center;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: 0.8;
	}
	.featured-block-info {
		position: absolute;
		left: 50%;
		top: 35%;
		bottom: 0;
	}
	h2,
	p,
	.featured-runner {
		color: rgb(255,255,255);
		// width: 50%;
		max-width: 18em;
		// margin-left: 50%;
		z-index: 2;
	}
	h2 {
		// color: rgb(62,155,185);
	}

	&.featured-block--alt {
		background: rgb(255,255,255);
		.featured-image {
			opacity: 1;
			transition: all .3s ease-out;
		}
		&:hover .featured-image {
			opacity: 0.8;
		}
		.featured-block-info {
			background: $fw-red;
			top: 0;
			bottom: 50%;
			right: 25%;
			padding: 2em 1em 1em 1em;
		}
	}
}

.featured-list-wrapper {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}

.featured-list {
	box-sizing: border-box;
	width: 50%;
	float: right;
	font-size: $type-large;
	line-height: $line-large;

	&:first-child {
		float: left;
		padding-right: 1em;
	}

	> h2 {
		margin-bottom: 2em;
		color: rgb(255,255,255);
	}
	a {
		color: rgb(255,255,255);
		margin-bottom: 0.3em;
		display: block;
		// width: 80%;
		// padding-right: 2em;
		position: relative;
		border-bottom: 1px solid rgba(23,77,89,0.2);
		padding-bottom: 0.3em;

		h2,
		p {
			display: inline;
		}

		h2 {
			color: $link-hover-color;
		}
	}
	&.blog-posts a.featured-list-item {
		h2 {
			color: rgb(255,255,255);
		}
		&:hover h2 {
			color: $link-hover-color;
		}
	}
	a:after {
		content: '→';
		font-size: 1.5em;
		position: absolute;
		right: 0;
		top: 0;
	}

	.featured-read-more {
		// color: $link-color;
		margin-top: 1.3em;
		border-bottom: 0;
	}
}

.home-twitter {
	text-align: center;

	.icon-twitter {
		// display: block;
		color: rgb(255,255,255);
		font-size: 3em;
		// margin-bottom: 0.6em;
	}
	p {
		margin-top: 2em;
		a {
			color: $link-hover-color;
		}
	}
}

.huge-type {
	text-align: center;
	font-size: 23px;
	line-height: 5em;
}


// .inner-content {
// 	position: absolute;
// 	top: 10px;
// 	right: 10px;
// 	left: 10px;
// 	background: lightgreen;
// 	bottom: 10px;
// }

// .grid-item {
// 	position: relative;
// }

// .home-page .hero-picture {
//   background-position: bottom;
// }

.home-page-grid {
  margin:80px 0;
  overflow: hidden;
}

// .grid-item{
//   height: 0;
//   padding-bottom:67.9%; /* only works if width is 100%*/
//   padding-bottom:34.4%;
//   width: 50%;
//   float: left;
// }

// .grid-item img{
//   width:100%;
// }

.circle{
	@include vendorize(transform-origin, center center);
}

.pipe, .arc{
	cursor: pointer;
	transition: all 1s;
}

.square{
	@include vendorize(animation, slide 4s infinite ease-in-out);
}

.square-two{
	@include vendorize(animation, slide-alt 4s infinite ease-in-out);
	@include vendorize(animation-timing-function, cubic-bezier(0.550, 0.085, 0.680, 0.530));
}

.square--vert{
	@include vendorize(animation, slide-vert 1s infinite ease-in-out alternate);
	@include vendorize(animation, slide-vert 1s infinite cubic-bezier(0.770, 0.000, 0.175, 1.000) alternate);
}

.square--vert-2{
	@include vendorize(animation-delay, -1000ms);
}

.floating-eye{
	@include vendorize(animation, float 3s infinite ease-in-out alternate);
}

.little-ball{
	@include vendorize(animation, little-ball-spin 4s infinite cubic-bezier(0.680, -0.550, 0.265, 1.550));
	@include vendorize(transform-origin, center center);
	@include vendorize(transform-origin, 1417px 547.3px);
}

.little-ball-2{
	@include vendorize(animation-delay,-1s);
	@include vendorize(transform-origin, 1370.4px 547.4px);
}

.little-ball-3{
	@include vendorize(transform-origin, 1322.4px 547.3px);
}

.pulsating-circles g{
	@include vendorize(transform, scale(0.75));
	@include vendorize(transform-origin, center center);
	@include vendorize(animation, pulsate 3s infinite cubic-bezier(0.450, -0.600, 0.570, 1.650));

}

@for $i from 1 through 6{
   .pulsating-circles g:nth-child(#{$i}){ 
      @include vendorize(animation-delay, (#{$i * 100}ms));
      @include vendorize(transform-origin, 378.6px 196.8px);
   }
}


.little-ball--alt{
	@include vendorize(animation, little-ball-alt-spin 2s infinite ease-in-out);
    @include vendorize(transform-origin, 1730.1px 422.25px);
}

.little-ball--alt-2{
    @include vendorize(transform-origin, 1776.71px 422.25px);
	@include vendorize(animation-delay, -500ms);
}


@media only screen and (min-width: 1800px) {
	.home-page-intro-wrapper-outer{
		font-size:2em;
	}
}

@media only screen and (max-width: 1330px) {
	.home-page-intro-wrapper-outer {
		width:40%;
	}
}

@media only screen and (max-width: 1130px) {
	.home-page-intro-wrapper-outer {
		margin-left:5%;
		position:static;
		width:60%;
		margin-bottom:60px;

	}
}

@media only screen and (max-width: 900px) {
	.homepage-header{
		padding-top: 80px;
	}

	.home-page-intro {
	}
}

@media only screen and (max-width: 640px) {
	.home-page-intro-wrapper-outer {
		width:90%;
	}
}

@include keyframes(slide) {
	0%   { @include vendorize(transform, translateX(0)); @include vendorize(animation-timing-function, cubic-bezier(0.325, 0.005, 0.350, 0.995));}
	40%   { @include vendorize(transform, translateX(-261px)); }
	50%   { @include vendorize(transform, translateX(-261px)); @include vendorize(animation-timing-function, cubic-bezier(0.575, 0.005, 0.515, 1.005));}
	90%   { @include vendorize(transform, translateX(0)); }
	100% { @include vendorize(transform, translateX(0)); }
}

@include keyframes(slide-alt) {
	0%   { @include vendorize(transform, translateX(0)); @include vendorize(animation-timing-function, cubic-bezier(0.575, 0.005, 0.515, 1.005));}
	40%   { @include vendorize(transform, translateX(-261px)); }
	50%   { @include vendorize(transform, translateX(-261px)); @include vendorize(animation-timing-function, cubic-bezier(0.325, 0.005, 0.350, 0.995));}
	90%   { @include vendorize(transform, translateX(0)); }
	100% { @include vendorize(transform, translateX(0)); }
}

@include keyframes(slide-vert) {
	0%   { @include vendorize(transform, translateY(0));}
	100% { @include vendorize(transform, translateY(90px));}
}

@include keyframes(float) {
	0%   { @include vendorize(transform, translateY(0px));}
	100% { @include vendorize(transform, translateY(-10px));}
}


@include keyframes(little-ball-spin) {
	0%  { @include vendorize(transform, rotate(0deg));}
	25% { @include vendorize(transform, rotate(270deg));}
	50% { @include vendorize(transform, rotate(270deg));}
	75% { @include vendorize(transform, rotate(0deg));}
}

@include keyframes(little-ball-alt-spin) {
	0%  { @include vendorize(transform, translateY(0px) rotate(0deg));}
	50%  { @include vendorize(transform, translateY(-40px) rotate(180deg));}
	100%  { @include vendorize(transform, translateY(0px) rotate(360deg));}
}

@include keyframes(pulsate) {
	0%    { @include vendorize(transform, scale(0.75));}
	20%   { @include vendorize(transform, scale(1));}
	50%   { @include vendorize(transform, scale(1));}
	70%   { @include vendorize(transform, scale(0.75));}
	100%  { @include vendorize(transform, scale(0.75));}
}