
// Captions 

.caption-l, 
.caption-r {
  @include border-box;
  padding: 3em 0 3em 50%;
  margin: 2em 0;
  position: relative;
  color: rgb(167,169,172);
}

.arrow-up:after, 
.arrow-down:after {
  background-image: url("../images/arrow.png");
  background-repeat: no-repeat;
  background-size: 23px 58px;
  content: '';
  display: block;
  width: 25px;
  height: 29px;
  position: absolute;
}

.arrow-up:after {
  background-position: 1% 1%;
}

.arrow-up:after, 
.arrow-down:after {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);

}

.arrow-down:after {
  background-position: 1% 100%;
}

.left, 
.left:after {
  left: 0;
}

.right, 
.right:after {
  right: 0;
}



@media screen and (max-width: 600px) {

  .caption-l, 
  .caption-r {
    padding-left: 0;
    padding-right: 0;
  }

}