/**
 * Basic generic grid
 */

.grid {
    overflow: hidden;
    margin: 0 -0.5em;   

    img {
        width: 100%;
    }

    .grid-item {
        @include border-box();
        position: relative;
        padding: 0 0.5em 0;
        margin-bottom: 3em;

        figure {
            overflow: hidden;
            position: relative;
            display: block;
            height: 0;
            padding-bottom: 68%;
        }
        img {
            display: block;
            width: 100%;
            transition: all .3s ease-out;
            /* prevent weird 1px width/height/position changes on hover in Chrome */
            position: relative;
            -webkit-backface-visibility: hidden;
        }
        a {
            text-decoration: none;
            color: rgb(102,102,102);

            &:hover img {
                opacity: 0.1;
                -webkit-backface-visibility: hidden;
            }
            &:hover .project-index-content {
                opacity: 1;
            }
        }

        h2,
        h3 {
            padding-top: 0.5em;
        }
    }
}

.media-grid {
    img,
    iframe {
        display: block;
        max-width: 100%;
    }

    > * {
        margin-bottom: 1em;
    }

    [data-embed] {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    .grid-item {
        margin-bottom: 1em;
        
        &:nth-child(odd) {
            clear: none !important;
        }
    }

    .animated-panorama {
        position: relative;
        padding-bottom: 50%;
        max-height: 670px;

        div {
            margin-left: -100%;

            -webkit-transform: translate3d(0, 0, 1);
            -webkit-animation-duration: 60s;
            -webkit-animation-name: animated-panorama-wrapper;
            -webkit-animation-direction: alternate;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-timing-function: linear;

            -moz-transform: translate3d(0, 0, 1);
            -moz-animation-duration: 60s;
            -moz-animation-name: animated-panorama-wrapper;
            -moz-animation-direction: alternate;
            -moz-animation-iteration-count: infinite;
            -moz-animation-timing-function: linear;

            transform: translate3d(0, 0, 1);
            animation-duration: 60s;
            animation-name: animated-panorama-wrapper;
            animation-direction: alternate;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        img {
            position: absolute;
            width: auto;
            max-width: none;
            height: 100%;
            margin-left: 100%;

            -webkit-animation-duration: 60s;
            -webkit-animation-name: animated-panorama;
            -webkit-animation-direction: alternate;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-timing-function: linear;

            -moz-animation-duration: 60s;
            -moz-animation-name: animated-panorama;
            -moz-animation-direction: alternate;
            -moz-animation-iteration-count: infinite;
            -moz-animation-timing-function: linear;

            animation-duration: 60s;
            animation-name: animated-panorama;
            animation-direction: alternate;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
    }
}

.media-grid-new {
    > * {
        margin-bottom: 0;
    }

    .grid-item {
        margin: 0;
        padding: 0;
    }
}


@-webkit-keyframes animated-panorama-wrapper {
    from {
        margin-left: -100%;
    }

    to {
        margin-left: 0;
    }
}
@-moz-keyframes animated-panorama-wrapper {
    from {
        margin-left: -100%;
    }

    to {
        margin-left: 0;
    }
}
@keyframes animated-panorama-wrapper {
    from {
        margin-left: -100%;
    }

    to {
        margin-left: 0;
    }
}

@-webkit-keyframes animated-panorama {
    from {
        -webkit-transform: translate3d(0, 0, 0);
    }

    to {
        -webkit-transform: translate3d(-100%, 0, 0);
    }
}
@-moz-keyframes animated-panorama {
    from {
        -moz-transform: translate3d(0, 0, 0);
    }

    to {
        -moz-transform: translate3d(-100%, 0, 0);
    }
}
@keyframes animated-panorama {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(-100%, 0, 0);
    }
}


@media all and (min-width: 600px) {
    .grid {
        .grid-item {
            width: 50%;
            float: left;

            &:nth-child(odd) {
                clear: left;
            }
        }
    }
}


@media all and (min-width: 850px) {
    .grid {
        .grid-item {
            h2,
            h3,
            p {
                padding-left: 25%; 
            }
        }

        .grid-item-4-1 {
            width: 25%;
            &:nth-child(odd) {
                clear: none;
            }
        }
    }
}

 
