
/**
 * Projects index page styles
 */

.projects {
	padding-bottom: 4%;

	figure {
		background-color: rgb(232,57,68);
	}
	.project-index-meta {
		opacity: 0.6;
	}
	.project-index-content {
		font-size: $type-large;
		line-height: $line-large;
		color: rgb(255,255,255);
		position: absolute;
		top: 1em;
		bottom: 1em;
		left: 1em;
		right: 1em;
		max-width: 20em;
		opacity: 0;
		transition: all .3s ease-out;
	}
}


/**
 * Individual project page styles
 */

.project-footer {
	width: 50%;
	float: right;
	padding: 3.5em 0 5em 0.5em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.project-social {
	// float: left;
	// font-size: 0.6666em;

	ul {
		list-style: none;
		margin: 0;
	}
	li {
		display: inline-block;
	}
	li:before {
		content: '  /  ';
	}
	li:first-child:before {
		content: '';
	}
	a {
		text-decoration: none;
		color: rgb(23,77,89);
		-webkit-transition: all .3s ease-out;
		-moz-transition: all .3s ease-out;
		-ms-transition: all .3s ease-out;
		-o-transition: all .3s ease-out;
		transition: all .3s ease-out;
	}
	a:hover {
		color: rgb(81,206,201);
	}
}

.project-nav {
	padding-top: 1em;

	a {
		text-decoration: none;
		display: block;
		float: left;
		clear: left;
		color: $link-color;
		border-bottom: 1px solid rgba(119,119,119,0.4);
		-webkit-transition: all .3s ease-out;

		&:hover {
			color: $link-hover-color;
		}
	}
}


@media all and (min-width: 600px) {
	.projects {
		.project-index-content {
			font-size: $type-base;
			line-height: $line-base;
		}
	}
}

@media all and (min-width: 850px) {
	.projects {
		.project-index-content {
			top: 2em;
			left: 25%;
			right: 0.5em;
			padding-right: 3em;
		}
	}
}

@media all and (min-width: 1160px) {
	.projects {
		.project-index-content {
			font-size: $type-large;
			line-height: $line-large;
		}
	}
}

@media all and (min-width: 1300px) {
	.projects {
		.project-index-content {
			top: 50%;
			bottom: 2em;
		}
	}
}
