
/**
 * Projects index page styles
 */

.projects {
	overflow: hidden;
	margin: 0 -0.5em;
	padding-bottom: 4em;

	li {
		@include border-box();
		width: 33.33%;
		float: left;
		padding: 0 0.5em 1em;
		position: relative;
	}
	img {
		max-width: 100%;
	}
	a {
		text-decoration: none;
		color: rgb(102,102,102);
	}
	h2 {
		font-size: 1.5em;
		line-height: 1.5em;
		// color: rgb(244,52,67);
		color: rgb(255,255,255);
		position: absolute;
		top: 1em;
		bottom: 1em;
		left: 1.5em;
		right: 1.5em;
	}
	p {
		background: rgba(255,255,255,0.9);
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0.5em;
		right: 0.5em;
		padding: 1em;
		opacity: 0;
		transition: all .3s ease-out;
	}
	p:hover {
		opacity: 1;
	}
}


/**
 * Individual project page styles
 */

// All of this could do with double checking - it got quite messy at this point with the blog and the site in two different directories.

body.project {
	margin-top: 0;
	background: rgb(255,255,255);
}

.project header {
	transition: all 0.2s ease-in;
	background: rgba(255,255,255,0);
	border-bottom: 0;
}

.project header nav a {
	color: rgb(255,255,255);
	transition: all 0.2s ease-in;
}

.project header .red-marque {
	display: none;
	opacity: 0;
}

.project header.visible {
	background: rgba(255,255,255,0.9);

	nav a {
		color: rgb(102, 102, 102);
	}

	.white-marque {
		display: none;
		opacity: 0;
	}

	.red-marque {
		display: inherit;
		opacity: 1;
	}
}


.hero-picture {
	height: 65%;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size:cover;
	background-size: cover;
}

@media screen and (min-width: 950px) {
	.hero-picture {
		background-attachment: fixed;
	}
}

.hero {
	width: 100%;
	margin-bottom: 5%;

	.wrapper {
		padding-top: 5%;
	}

	.text {
		width: 100%;
		background: white;
	}
	
	.project-description {
		width: 50%;
		float: left;
		@include column(2, 300px, 2em);

		h2 {
			color: red;
			margin-bottom: 0.5em;
		}
	}

	.project-title {
		font-size: 1.5em;	
		width: 25%;
		float: left;
		margin-right: 25%;
		color: rgb(147,149,152);
	}

	.wrapper:after {
		content: '';
		display: table;
		clear: both;
	}

	h1 {
	    margin-bottom: 0.3em;
	    line-height: 1.4545em;
	    color: rgb(244,52,67);
	}

	p {
		line-height: 1.3;
		margin-bottom: 1em;
		// color: rgb(0,0,0);
	}
	
	.project-meta {
		font-size: 0.6666em;
		list-style: none;
	}

	.project-grid {
		margin-bottom: 5em;
	}

}

.project-social {
	float: left;
	font-size: 0.6666em;

	ul {
		list-style: none;
		margin: 0.7em 0;
	}
	li {
		display: inline-block;
	}
	li a:before {
		content: '  /  ';
	}
	li:first-child a:before {
		content: '';
	}
	a {
		text-decoration: none;
		color: rgb(153,153,153);
		-webkit-transition: all .3s ease-out;
		-moz-transition: all .3s ease-out;
		-ms-transition: all .3s ease-out;
		-o-transition: all .3s ease-out;
		transition: all .3s ease-out;
	}
	a:hover {
		color: rgb(23,77,89);
	}
}

.project-info {
	width: 50%;
	float: right;
	padding: 3em 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;

	li, .client {
		color: rgb(167,169,172);
	}

	li {
		margin: 0.5em 0;
	}

	span {
		display: block;
	}

	.elements {
		margin-top: 2.5em;
		margin-bottom: 0.5em;
	}

	a {
		color: rgb(153,153,153);
		text-decoration: none;
	}

	.clients {
		margin-bottom: 0.5em;
	}

	.info-title {
		margin-bottom: 2.5em;
	}

}


.gif {
	background-size: auto 90% !important; 
	background-color: rgb(239,238,237);
}


.project-grid {
	overflow: hidden;
	clear: both;
	margin: 0;

	img {
		max-width: 100%;
	}

	> img {
		margin-bottom: 1em;
	}

	.project-grid-col-2 {
		margin-bottom: 1em;
		overflow: hidden;

		> * {
			@include border-box();
			width: 50%;
			float: left;
			padding-left: 0.5em;

			&:first-child {
				padding-left: 0;
				padding-right: 0.5em;
			}
		}
	}
}


@media screen and (max-width: 900px) {

.hero {
	.project-description {
		width: 100%;
		margin: 0;
	}

	.project-title {
		width: 100%;
		margin: 0 0 5% 0;
	}

	.wrapper {
		padding-top: 10%;
	}
}
}

@media screen and (max-width: 600px) {

.project-info {
	width: 100%;
}

}