<footer class="site-footer">
	<div class="section-inner">
		<div class="footer-wrapper">
			<div class="footer-block our-info">
				<h3>Contact</h3>
				<p class="address">
					<span>22 Lever St</span>
					<span>Manchester</span>
					<span>M1 1EA</span>
				</p> 
				<p class="tel"><a href="tel:01612355318">+44 (0)161 235 5318</a></p>
				<p class="email"><a href="mailto:hello@madebyfieldwork.com">hello@madebyfieldwork.com</a></p>
			</div>
			<a href="{{ site.baseurl }}/planner" class="footer-block project-planner">
				<h3>Plan a Project</h3>
				<p>Do you have a project in mind? Use our project planner to get started.</p>
			</a>
			<div class="footer-block join-newsletter">
				<h3>Subscribe to our Newsletter</h3>
				<p>Good wholesome stuff, once a month or thereabouts.</p>
					<form action="http://madebyfieldwork.us5.list-manage.com/subscribe/post?u=ddaef69afc0d488b89fd489d5&amp;id=62a1889638" method="post" name="mc-embedded-subscribe-form" class="contact-form" novalidate>
					<input type="text" class="text" name="NAME" id="name" placeholder="Name" />
					<input type="email" class="text" name="EMAIL" id="email" placeholder="Email address" />
					<input type="submit" value="Sign me up" />
				</form>
			</div>
			<div class="footer-block social-wrapper">
				<ul class="social">
					<li><a class="" href="http://twitter.com/madebyfieldwork">Twitter</a></li>
					<li><a class="" href="http://facebook.com/madebyfieldwork">Facebook</a></li>
					<li><a class="" href="http://flickr.com/photos/madebyfieldwork">Flickr</a></li>
					<li><a class="" href="https://github.com/EMT">Github</a></li>
					<li><a class="" href="http://vimeo.com/madebyfieldwork">Vimeo</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{{ site.baseurl }}/js/jquery.fitvids.js"></script>
<script src="{{ site.baseurl }}/js/jquery.nouislider.min.js"></script>
<script src="{{ site.baseurl }}/js/snap.svg-min.js"></script>

{% if page.scripts %}
    {% for script in page.scripts %}
        <script src="{{ site.baseurl }}{{ script }}"></script>
    {% endfor %}
{% endif %}

{% if page.run %}
    <script>{{ page.run }}</script>
{% endif %}

<script>
	$(document).ready(function(){
	    $('body').fitVids();
	});

	$('[data-embed]').on('click', function(e) {
		e.preventDefault();
		var $parent = $(this),
			$img = $parent.find('img');
		$img.replaceWith($parent.data('embed'));
		$parent.addClass('video-in-place').fitVids();
	});
</script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34217297-1']);
  _gaq.push(['_setDomainName', 'madebyfieldwork.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
