<footer id="footer">
	<div>
		<ul class="social">
			<li><a class="" href="http://twitter.com/madebyfieldwork">Twitter</a></li>
			<li><a class="" href="http://facebook.com/madebyfieldwork">Facebook</a></li>
			<li><a class="" href="http://flickr.com/photos/madebyfieldwork">Flickr</a></li>
			<li><a class="" href="https://github.com/EMT">Github</a></li>
			<li><a class="" href="http://vimeo.com/madebyfieldwork">Vimeo</a></li>
		</ul>
		<p>22 Lever St Manchester M1 1EA | hello@madebyfieldwork.com | 0161 235 5318</p>
	</div>
</footer>


<script>
	$(window).scroll(function() {
		// Opacity for the header on project pages
		var bheight = $(window).height(),
			percent = 0.6,
			hpercent = bheight * percent,
			header = $('.project header');

	    if ($(window).scrollTop() > hpercent) {
	        header.css("background", "rgba(255,255,255,1)");
	        header.addClass('visible');
	    }
	    else{
	        header.css("background", "rgba(255,255,255,0)");
	        header.removeClass('visible');
	    }
	});
</script>