<footer id="footer">
	<div>
		<ul class="social">
			<li><a class="" href="http://twitter.com/madebyfieldwork">Twitter</a></li>
			<li><a class="" href="http://facebook.com/madebyfieldwork">Facebook</a></li>
			<li><a class="" href="http://flickr.com/photos/madebyfieldwork">Flickr</a></li>
			<li><a class="" href="https://github.com/EMT">github</a></li>
			<li><a class="" href="http://vimeo.com/madebyfieldwork">Vimeo</a></li>
		</ul>
		<p>&copy; <?= date('Y'); ?> Fieldwork Labs Ltd</p>
	</div>
</footer>
