	<header>
		<div>
			<a class="marque" href="/">
<!-- 				<img class="white-marque" src="/images/fw-logo-white.svg" alt="Fieldwork – Home" /> -->
				<img class="red-marque" src="/images/fw-logo.svg" alt="Fieldwork – Home" />
			</a>
			<nav>
				<a class="work fade-transition" href="/work">Work</a>
				<a class="us fade-transition" href="/us">Us</a>
				<a class="journal fade-transition" href="/emt">Feed</a>
				<a class="contact fade-transition" href="/contact">Contact</a>
				<a class="search" id="open-search" href="/search">Search</a>
				<a class="index" id="open-index" href="/favourites">Favourites</a>
			</nav>
		</div>
	</header>
	
