
	<header id="site-header">
		<div>
			<a class="marque" href="{{ site.baseurl }}/">
				<img class="red-marque" src="{{ site.asseturl }}/images/fw-logo.svg" alt="Fieldwork" />
			</a>
			<ul class="social-icons header-social-icons">
				<li><a href="https://twitter.com/MadeByFieldwork" class="icon-twitter"></a></li>
				<li><a href="http://instagram.com/madebyfieldwork" class="icon-instagram"></a></li>
				<li><a href="https://www.facebook.com/madebyfieldwork" class="icon-facebook"></a></li>
				<li><a href="https://github.com/EMT" class="icon-github"></a></li>
			</ul>
			<nav>
				<a class="work fade-transition {% if page.url == '/work/' or page.url contains '/work/' %}selected{%endif%}" href="{{ site.baseurl }}/work">Work</a>
				<a class="us fade-transition {% if page.url == '/us/' %}selected{%endif%}" href="{{ site.baseurl }}/us">Us</a>
				<a class="journal fade-transition" href="http://beta.madebyfieldwork.com/emt/">Blog</a>
				<a class="contact fade-transition {% if page.url == '/contact/' %}selected{%endif%}" href="{{ site.baseurl }}/contact">Contact</a>
			</nav>
		</div>
	</header>

	
