	<header>
		<div>
			<a class="marque" href="{{ site.baseurl }}/">
				<img class="white-marque" src="{{ site.baseurl }}/images/fw-logo-white.svg" alt="Fieldwork – Home" />
				<img class="red-marque" src="{{ site.baseurl }}/images/fw-logo.svg" alt="Fieldwork – Home" />
			</a>
			<ul class="social-icons header-social-icons">
				<li><a href="https://twitter.com/MadeByFieldwork" class="icon-twitter"></a></li>
				<li><a href="http://instagram.com/madebyfieldwork" class="icon-instagram"></a></li>
				<li><a href="https://www.facebook.com/madebyfieldwork" class="icon-facebook"></a></li>
				<li><a href="https://github.com/EMT" class="icon-github"></a></li>
			</ul>
			<nav>
				<a class="work fade-transition" href="{{ site.baseurl }}/work">Work</a>
				<a class="us fade-transition" href="{{ site.baseurl }}/us">Us</a>
				<a class="journal fade-transition" href="{{ site.baseurl }}/emt">Feed</a>
				<a class="contact fade-transition" href="{{ site.baseurl }}/contact">Contact</a>
				<a class="search" id="open-search" href="{{ site.baseurl }}/search">Search</a>
				<a class="index" id="open-index" href="{{ site.baseurl }}/favourites">Favourites</a>
			</nav>
		</div>
	</header>
	
