<div class="project-social">
	<ul>
		<li><a href="https://twitter.com/intent/tweet?text={{ page.title | cgi_escape }}{{ site.title_appendage | cgi_escape }}&amp;related=madebyfieldwork&amp;url={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}" target="_blank">Tweet</a></li>
		<li><a href="https://www.facebook.com/dialog/feed?picture={{ site.url | cgi_escape }}{{ page.thumb | cgi_escape }}&amp;name={{ page.title | cgi_escape }}&amp;link={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}&amp;app_id=456569247759258&amp;redirect_uri={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}" target="_blank">Share</a></li>
		<li><a href="http://pinterest.com/pin/create/button/?media={{ site.url | cgi_escape }}{{ page.thumb | cgi_escape }}&amp;url={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}" target="_blank">Pin</a></li>
		<li><a href="http://www.tumblr.com/share/photo?source={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}&amp;caption={{ page.runner | cgi_escape }}&amp;click_thru={{ site.url | cgi_escape }}{{ page.thumb | cgi_escape }}" target="_blank">Tumbl</a></li>
		
	</ul>
</div>