/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
	position: relative;
	z-index: 2;
	cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	-webkit-transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
	-moz-transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
	transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
	-webkit-transform: translateY(2px);
	-moz-transform: translateY(2px);
	transform: translateY(2px);

}

/* Position tooltip above the element */
[data-tooltip]:before {
	position: absolute;
	bottom: 150%;
	left: 50%;
	margin-bottom: 5px;
	margin-left: -80px;
	padding: 7px;
	width: 160px;
	-webkit-border-radius: 3px;
	-moz-border-radius:    3px;
	border-radius:         3px;
	background-color: #000;
	background-color: hsla(0, 0%, 20%, 0.9);
	color: #fff;
	content: attr(data-tooltip);
	text-transform: capitalize;
	text-align: center;
	font-size: 14px;
	line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
	position: absolute;
	bottom: 150%;
	left: 50%;
	margin-left: -5px;
	width: 0;
	border-top: 5px solid #000;
	border-top: 5px solid hsla(0, 0%, 20%, 0.9);
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	content: " ";
	font-size: 0;
	line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
	visibility: visible;
	opacity: 1;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	transform: translateY(0);
}




.category-icons a.tag  {
	content: '';
	display: block;
	height: 10px;
	width: 10px;
	border-radius: 15px;
	position: relative;
	background: rgb(209, 211, 212);
}


.category-icons {
	list-style: none;
	margin: 0.8em 0;
	padding: 0;
}

.category-icons li {
	display: inline-block;
	margin: 0 0.1em;
}

.category-icons a.tag:hover:after, .category-icons a.tag.active:after {
	content: '';
	display: block;
	top: 3px;
	left: 3px;
	right: 3px;
	bottom: 3px;
	border-radius: 15px;
	background: rgb(255,255,255);
	position: absolute;
}


li.code a.tag,
li.code:hover a:after,
.wrapper.code-main li.code a:after, 
.code-main .no-image, .code-main .post-content .no-image {
	background-color: $blog-code;
}

li.inspiration a.tag,
li.inspiration:hover a:after,
.wrapper.inspiration-main li.inspiration a:after,
.inspiration-main .no-image, .inspiration-main .post-content .no-image {
	background-color: $blog-inspiration;
}

li.made a.tag,
li.made:hover a:after,
.wrapper.made-main li.made a:after,
.made-main .no-image, .made-main .post-content .no-image {
	background-color: $blog-made;
}

li.thinking a.tag,
li.thinking:hover a:after,
.wrapper.thinking-main li.thinking a:after,
.thinking-main .no-image {
	background-color: $blog-thinking;
}

li.people a.tag,
li.people:hover a:after,
.wrapper.people-main li.people a:after,
.people-main .no-image {
	background-color: $blog-people;
}

li.process a.tag,
li.process:hover a:after,
.wrapper.process-main li.process a:after,
.process-main .no-image, {
	background-color: $blog-process;
}

li.ideas a.tag,
li.ideas:hover a:after,
.wrapper.ideas-main li.ideas a:after,
.ideas-main .no-image {
	background-color: $blog-ideas;
}

li.adventures a.tag,
li.adventures:hover a:after,
.wrapper.adventures-main li.adventures a:after,
.adventures-main .no-image {
	background-color: $blog-adventures;
}

li.design a.tag,
li.design:hover a:after,
.wrapper.design-main li.design a:after,
.design-main .no-image {
	background-color: $blog-design;
}

li.studio a.tag,
li.studio:hover a:after,
.wrapper.studio-main li.studio a:after,
.studio-main .no-image {
	background-color: $blog-studio;
}

li.found a.tag,
li.found:hover a:after,
.wrapper.found-main li.found a:after,
.found-main .no-image {
	background-color: $blog-found;
}

li.interesting a.tag,
li.interesting:hover a:after,
.wrapper.interesting-main li.interesting a:after,
.interesting-main .no-image {
	background-color: $blog-interesting;
}

// Color
.blog-category.code-main {
	.cat-highlight,
	.blog-content a,
	.blog-content h3,
	.blog-content h2 {
		color: $blog-code;
	}
}

.blog-category.inspiration-main {
	.cat-highlight,
	.blog-content a,
	.blog-content h3,
	.blog-content h2 {
		color: $blog-inspiration;
	}
}

.blog-category.made-main {
	.cat-highlight,
	.blog-content a,
	.blog-content h3,
	.blog-content h2 {
		color: $blog-made;
	}
}

.blog-category.thinking-main {
	.cat-highlight,
	.blog-content a,
	.blog-content h3,
	.blog-content h2 {
		color: $blog-thinking;
	}
}

.blog-category.people-main {
	.cat-highlight,
	.blog-content a,
	.blog-content h3,
	.blog-content h2 {
		color: $blog-people;
	}
}

.blog-category.process-main {
	.cat-highlight,
	.blog-content a,
	.blog-content h3,
	.blog-content h2 {
		color: $blog-process;
	}
}

.blog-category.ideas-main {
	.cat-highlight,
	.blog-content a,
	.blog-content h3,
	.blog-content h2 {
		color: $blog-ideas;
	}
}

.blog-category.adventures-main {
	.cat-highlight,
	.blog-content a,
	.blog-content h3,
	.blog-content h2 {
		color: $blog-adventures;
	}
}

.blog-category.design-main {
	.cat-highlight,
	.blog-content a,
	.blog-content h3,
	.blog-content h2 {
		color: $blog-design;
	}
}

.blog-category.studio-main {
	.cat-highlight,
	.blog-content a,
	.blog-content h3,
	.blog-content h2 {
		color: $blog-studio;
	}
}

.blog-category.found-main {
	.cat-highlight,
	.blog-content a,
	.blog-content h3,
	.blog-content h2 {
		color: $blog-found;
	}
}

.blog-category.interesting-main {
	.cat-highlight,
	.blog-content a,
	.blog-content h3,
	.blog-content h2 {
		color: $blog-interesting;
	}
}
