//Grid
$column-count: 20;
$gutter-width: 20px;
$column-width: (100% / $column-count);

// Colours
$grey-type: rgb(119,119,119);
$fw-red: rgb(232,57,68);
$turquoise: rgb(0, 196, 179);
$orange: rgb(255, 143, 18);
$white: rgb(255,255,255);

$blue--light:rgb(126,219,212); //home page header background
$grey--mega-light: rgb(250,250,250);

$link-color: rgb(23,77,89);
$link-hover-color: rgb(82,206,201);

$footer-type-color: rgb(153,153,153);

// Type Sizes
$type-base: 15px;
$line-base: 1.4em;

// $type-large: 1.3333em;
$type-large: 1.13333em;
$line-large: 1.4em;

$max-line-length: 560px;

// Screen sizes
$screen-width-medium: 1060px;
$screen-width-small: 800px;

// Blog Categories

// Code -
$blog-code: rgb(255,91,52);
// Design -
$blog-design: rgb(255,191,59);
// Inspiration -
$blog-inspiration: rgb(104,68,88);
// Process -
$blog-process: rgb(0,196,179);
// People -
$blog-people: rgb(0,188,111);
// Made -
$blog-made: rgb(0,116,200);
// Adventures -
$blog-adventures: rgb(220,95,19);
// Thinking -
$blog-thinking: rgb(112,160,135);
// Interesting -
$blog-interesting: rgb(244,97,119);
// Ideas -
$blog-ideas: rgb(0,121,95);
// Found -
$blog-found: rgb(0,160,174);
// Studio -
$blog-studio: rgb(246,50,62);