//Grid
$column-count: 20;
$gutter-width: 20px;
$column-width: (100% / $column-count);

// Colours
$fw-red: rgb(232,57,68);
$turquoise: rgb(0, 196, 179);
$orange: rgb(255, 143, 18);

$link-color: rgb(23,77,89);
$link-hover-color: rgb(82,206,201);

$footer-type-color: rgb(153,153,153);

// Type Sizes
$type-base: 15px;
$line-base: 1.4em;

$type-large: 1.3333em;
$line-large: 1.4em;

$max-line-length: 560px;
