.hire-us form, .hire-us .thanks {
  width: 60%;
  margin: 2em auto;
}

.thanks {
  display: none;
}

.button {
padding: 1em 2em;
color: rgb(255, 255, 255);
text-decoration: none;

-webkit-transition: background 0.3s;
-moz-transition: background 0.3s;
-ms-transition: background 0.3s;
-o-transition: background 0.3s;
transition: background 0.3s;
border: none;
cursor: pointer;
}

.submit {
  background: rgb(5, 206, 123);
  
  &:hover {
    background: darken(rgb(5, 206, 123), 12%);
  }

}

.error {
  background: rgb(255, 91, 53);

  &:hover {
    background: darken(rgb(255, 91, 53), 12%);
  }

}

.hire-us form {
  .what {
    label {
      margin-bottom: 1em;
      margin-left: 0.5em;
      margin-top: 0.1em;
    }
  }
  
  label:hover {
    cursor: pointer;
  }

}

.form-group{
	margin-bottom:20px;
}

.hire-us  {
  input[type="text"], input[type="email"], input[type="tel"], input[type="url"], input[type="password"], textarea {
  	box-sizing: border-box;
  	background-color: rgb(252, 252, 252);
  	border: 1px solid rgb(220, 220, 220);
  	display: block;
  	font-size: 1em;
  	padding: 0.4em;
  	margin-bottom: 0.4em;
  	width: 100%;
  	vertical-align: middle;
    font-family: 'Neuzeit';
  }
  

  label {
  	color: rgb(88, 89, 91);
  	border: 0;
  	display: inline-block;
  	font-size: 1em;
  	font-weight: bold;
  	line-height: 1.4em;
  	margin-bottom: 0.25em;
  	position: relative;
  	text-transform: none;
  }

  textarea {
  	min-height: 200px;
  }

  .digital-details, .print-details {
  	display: none;
    border-top: 2px solid lightgrey;
    border-bottom: 2px solid lightgrey;
    padding: 1em 0;

    input {
      display: none;
    }
    
    .grid-col-third {
      text-align: center;
      margin: 10px 0;
    }

  }


  input[type=text].value {
    background: none;
    border: none;
    text-align: center;
  }


  input[type=checkbox]:checked + label {
      color: red;
  }



  form > p, form > div, p.title {
    margin: 0 0 20px 0;
  }
}

// Fade in animation testing from display none

.shown {
	display: block !important;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

// Issue Testing - Red glow.

input[type="email"].issue {
	border: 1px solid red;
	transition: border 1s ease-out;
}
