

.button {
padding: 0.75em 2em;
font-size: 1em;
color: rgb(255, 255, 255);
text-decoration: none;
-webkit-transition: background 0.3s;
-moz-transition: background 0.3s;
-ms-transition: background 0.3s;
-o-transition: background 0.3s;
transition: background 0.3s;
border: none;
cursor: pointer;
}

.submit {
  background: rgb(5, 206, 123);
  position: relative;
  
  &:hover {
    background: darken(rgb(5, 206, 123), 12%);
  }
  &:disabled {
    background: rgb(114,184,148);
  }
  &:focus {
    outline-width: 0;
  }
}

.btn-loader {
  display: inline-block;
  vertical-align: middle;
  max-height: 3.8em;
  margin-top: -2px;
  opacity: 0;
  -webkit-transition: all .3s ease-out;

  &.visible {
    opacity: 1;
  }
}

form.hire-us {
  .what {
    label {
      margin-bottom: 1em;
      margin-left: 0.5em;
      margin-top: 0.1em;
    }
  }
  
  label:hover {
    cursor: pointer;
  }

}

form.hire-us .name, form.hire-us .email {
  float: left;
  width: 47.25%;
}

form.hire-us .email {
  margin-left: 5%;
}
form input {
    -webkit-appearance: none;
    border-radius: 0;
}


.form-group{
	margin-bottom:20px;
}

form.hire-us {
  input[type="text"], input[type="email"], input[type="tel"], input[type="url"], input[type="password"], textarea {
  	box-sizing: border-box;
  	background-color: rgb(240,240,238);
  	border: none;
  	display: block;
  	font-size: 1em;
  	padding: 0.4em;
  	margin-bottom: 1.4em;
  	width: 100%;
  	vertical-align: middle;
    font-family: 'Neuzeit';
  }
  

  label {
  	color: rgb(88, 89, 91);
  	border: 0;
  	display: inline-block;
  	font-size: 1em;
  	font-weight: bold;
  	line-height: 1.4em;
  	margin-bottom: 0.5em;
  	position: relative;
  	text-transform: none;
  }

  textarea {
  	min-height: 200px;
  }

  .digital-details, .print-details {
  margin-bottom: 1.4em;
    input {
      display: none;
    }
    
    .grid-col-third {
      text-align: center;
      padding: 0.5em;
      box-sizing: border-box;
      width: 33.3%;
      float: left;

      label {
        padding: 15px;
        margin-bottom: 0;
        background: rgb(240,240,238);
        display: block;
      }

    }

  }




  input[type=text].slider-value {
    background: none;
    border: none;
    text-align: center;
  }


  input[type=checkbox]:checked + label {
      background: rgb(232, 57, 68);
      color: white;
  }


}


.feedback-msg {
  position: fixed;
  bottom: -300px;
  left: 0;
  right: 0;
  padding: 2em 0;
  z-index: 1000;
  color: $white;
  -webkit-transition: bottom 0.5s ease-out;

  &.msg-success {
    background: rgb(5,206,123);
  }
  &.msg-error {
    background: $fw-red;
  }
  &.msg-visible {
    bottom: 0;
  }
  
  p {
    max-width: 1500px;
    width: 90%;
    margin: 0 auto;
  }
  a {
    color: $white;
  }
}
