.loader {
	position: absolute;
	width: 15px;
	height: 15px;
	right: 0;
	top: -50%;
	border: 8px solid darken(rgb(5, 206, 123),25%);
	border-right-color: rgba(0, 0, 0, 0);
	border-right-color: rgba(0, 0, 0, 0);
	border-radius: 50%;
	opacity: 0.3;
}

.error .loader {
  border: none;
  background: url('/images/failure.png');
  height: 30px;
  width: 30px;
}

.loader.done {
  background: url('/images/success.png');
  height: 30px;
  width: 30px;
  border: none;
}

.spin {
	-webkit-animation: spin 1s linear infinite;
	-moz-animation: spin 1s linear infinite;
	-ms-animation: spin 1s linear infinite;
	-o-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
}

@keyframes spin
{
	from { transform: rotate(0deg); }
	50%  { transform: rotate(180deg); }
	to   { transform: rotate(360deg); }
}

@-webkit-keyframes spin
{
	from { -webkit-transform: rotate(0deg); }
	50%  { -webkit-transform: rotate(180deg); }
	to   { -webkit-transform: rotate(360deg); }
}