// Notifications - from pattern library (modified)


.msg {
    margin: 0 0 2em;
    padding: 1em 0;
    position: fixed;
    top: 57px;
    left: 0;
    right: 0;
    z-index: 1;
    -webkit-transform: translateY(-57px);
    transition: all 0.4s ease-out;
}

.msg .wrapper {
	position: relative;
}

.msg.active {
	-webkit-transform: translateY(0px);
}

.msg span {
	display: block;
}

.msg a {
	color: inherit;
}

.msg.warning {
    background-color: rgb(242, 242, 202);
    color: darken(rgb(242, 242, 202),60%);
}

.msg.success {
    background-color: rgb(5, 206, 123);
    color: darken(rgb(5, 206, 123),25%);
}

.msg.error {
    background-color: rgb(255, 91, 53);
    color: darken(rgb(255, 91, 53),25%);
}

.msg.note {
	background-color: rgb(172, 224, 219);
	color: rgb(13, 126, 121);
}
