{% include top.html %}

    <body class="{% if page.header_img %}hero-header{% endif %}{% if page.body_classes %} {{ page.body_classes }}{% endif %}">

	    {% include header.html %}
		
		<div class="contact">

			<div id="map"></div>

		  	<div class="wrapper">
			  	<ul class="category-links">
			  		<li><a class="us" href="#">Us</a></li>
			  		<li><a class="eating" href="#">Eating</a></li>
			  		<li><a class="drinking" href="#">Drinking</a></li>
			  	</ul>	
		  	</div>

		</div>

	    <div class="page-content">
	      {{ content }}
	      {% include footer.html %}

	      <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
	      <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />

	      <script>
		      // Provide your access token
		      L.mapbox.accessToken = 'pk.eyJ1IjoiZWRmaWVsZHdvcmsiLCJhIjoicTMwZTkydyJ9.PReYJSCAJ4cFTBOsINez8A';

		      var map = L.mapbox.map('map', 'edfieldwork.kb21lg3g', { zoomControl: false })
		          .setView([53.482, -2.235], 16);

		      new L.Control.Zoom({ position: 'bottomleft' }).addTo(map);
	      </script>
	    </div>
    </body>
</html>