{% include top.html %}

    <body class="{% if page.header_img %}hero-header{% endif %}{% if page.body_classes %} {{ page.body_classes }}{% endif %}">

	    {% include header.html %}
		
		<div class="contact">
		  	<iframe class="map" width='100%' height='500px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/edfieldwork.kb21lg3g/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1IjoiZWRmaWVsZHdvcmsiLCJhIjoicTMwZTkydyJ9.PReYJSCAJ4cFTBOsINez8A'></iframe>

		  	<div class="wrapper">
			  	<ul class="category-links">
			  		<li><a class="us" href="#">Us</a></li>
			  		<li><a class="eating" href="#">Eating</a></li>
			  		<li><a class="drinking" href="#">Drinking</a></li>
			  	</ul>	
		  	</div>

		</div>

	    <div class="page-content">
	      {{ content }}
	      {% include footer.html %}
	      <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
	      <script src='{{ site.baseurl }}/js/map.js'></script>
	    </div>
    </body>
</html>