{% include top.html %}

    <body class="{% if page.header_img %}hero-header{% endif %}{% if page.body_classes %} {{ page.body_classes }}{% endif %}">

	    {% include header.html %}
		
		{% if page.header_img %}
			<div style="background-image: url('{{ site.asseturl }}{{ page.header_img }}');" class="hero-picture"></div>
		{% elsif page.header_imgs %}
			<div class="hero-picture header-bg-img"></div>
		{% endif %}

	    <div class="page-content">
	      {{ content }}
	      {% include footer.html %}
	    </div>
    </body>
</html>