{% include top.html %}


    <body class="home-page">

	    {% include header.html %}
		<div class="homepage-header" id="homepage-header">

			<div class="section-inner home-page-intro-wrapper">
				<div class="home-page-intro js-home-page-intro">
					<div class="home-page-intro-inner js-home-page-intro-inner">
						<h1>We Make Things</h1>
						<p>From digital platforms to brand identities, we work with you, collaboratively, to make things that help your organisation do great work.</p>
					</div>
				</div>
			</div>

			<div class="svg-wrapper" id="svg-wrapper">
				{% include home-illustration.svg %}
			</div>
		</div>


	    <div class="page-content">
		    {{ content }}
			{% include footer.html %}
	    </div>

	    <script src='{{ site.baseurl }}/js/home.js'></script>

	    <script>
	    	function sizeHeader() {
	    		var $introText = $('.js-home-page-intro'),
	    			header_height = $('#site-header').innerHeight(),
	    			extra_height = $(window).innerHeight() - $('#svg-wrapper').innerHeight(),
	    			intro_text_height = $introText.innerHeight(),
	    			min_intro_text_spacing = 120;

	    		if (extra_height < intro_text_height + header_height + min_intro_text_spacing) {
	    			extra_height = intro_text_height + header_height + min_intro_text_spacing;
	    		}
  			
	    		$('#homepage-header').css({paddingTop: extra_height + 'px'});
	    		$('.js-home-page-intro').css({bottom: (((extra_height - intro_text_height - header_height) / 2)) + 'px'});
	     	}

	     	$(window).on('resize', function() {
	     		sizeHeader();
	     	});

	     	sizeHeader();

	     	// Grab and render blog post previews
	     	$.get('http://beta.madebyfieldwork.com/emt/feed/json', function(data) {
	     		var html = '', 
	     			d,
	     			monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
	     		
	     		for (var i = 0, len = Math.min(data.length, 4); i < len; i ++) {
	     			d = new Date(data[i].date);
	     			html += '<li class="grid-item grid-item-4-1">'
		     				+ '<ul class="category-icons">';
	
		     				for (var ci = 0, clen = data[i].categories.length; ci < clen; ci ++) {
	                        	html += '<li data-tooltip="' + convertToSlug(data[i].categories[ci]) + '" class="' + convertToSlug(data[i].categories[ci]) + '"><a class="tag" href="http://beta.madebyfieldwork.com/emt/category/' + convertToSlug(data[i].categories[ci]) + '/"></a></li>';
	                        }
	                    	
	                    	html += '</ul>'
	                    	+ '<a href="' + data[i].permalink + '">'
		                    	+ '<h2>' + data[i].title + '</h2>'
		                    	+ '<ul class="post-meta">'
			                        + '<li>' + d.getDate() + ' ' + monthNames[d.getMonth()] + ' ' + d.getFullYear() + '</li>'
			                        + '<li>Posted by ' + data[i].author + '</li>'
		                    	+ '</ul>'
		                    	+ '<p class="post-excerpt">' + data[i].excerpt + '</p>'
		                    	+ '<p class="post-more">Read more →</p>'
	                    	+ '</a>'
	                    + '</li>';
	     		}

	     		$('#home-page-blog').html(html);
	     	});

			function convertToSlug(string) {
			    return string.toLowerCase().replace(/ /g,'-').replace(/[^\w-]+/g,'');
			}

			function fetchTweet() {
				var config = {
				  "id": '509725445344878593',
				  "domId": 'latest-tweet',
				  "maxTweets": 1,
				  "enableLinks": true,
				  "showTime": false,
				  "showInteraction": false,
				  "showUser": false
				};
				twitterFetcher.fetch(config);
			}

			 /*********************************************************************
			 *  #### Twitter Post Fetcher v12.0 ####
			 *  Coded by Jason Mayes 2013. A present to all the developers out there.
			 *  www.jasonmayes.com
			 *  Please keep this disclaimer with my code if you use it. Thanks. :-)
			 *  Got feedback or questions, ask here: 
			 *  http://www.jasonmayes.com/projects/twitterApi/
			 *  Github: https://github.com/jasonmayes/Twitter-Post-Fetcher
			 *  Updates will be posted to this site.
			 *********************************************************************/
			var twitterFetcher=function(){function w(a){return a.replace(/<b[^>]*>(.*?)<\/b>/gi,function(a,g){return g}).replace(/class=".*?"|data-query-source=".*?"|dir=".*?"|rel=".*?"/gi,"")}function m(a,c){for(var g=[],f=new RegExp("(^| )"+c+"( |$)"),h=a.getElementsByTagName("*"),b=0,k=h.length;b<k;b++)f.test(h[b].className)&&g.push(h[b]);return g}var x="",k=20,y=!0,p=[],s=!1,q=!0,r=!0,t=null,u=!0,z=!0,v=null,A=!0,B=!1;return{fetch:function(a){void 0===a.maxTweets&&(a.maxTweets=20);void 0===a.enableLinks&&
			(a.enableLinks=!0);void 0===a.showUser&&(a.showUser=!0);void 0===a.showTime&&(a.showTime=!0);void 0===a.dateFunction&&(a.dateFunction="default");void 0===a.showRetweet&&(a.showRetweet=!0);void 0===a.customCallback&&(a.customCallback=null);void 0===a.showInteraction&&(a.showInteraction=!0);void 0===a.showImages&&(a.showImages=!1);if(s)p.push(a);else{s=!0;x=a.domId;k=a.maxTweets;y=a.enableLinks;r=a.showUser;q=a.showTime;z=a.showRetweet;t=a.dateFunction;v=a.customCallback;A=a.showInteraction;B=a.showImages;
			var c=document.createElement("script");c.type="text/javascript";c.src="//cdn.syndication.twimg.com/widgets/timelines/"+a.id+"?&lang="+(a.lang||"en")+"&callback=twitterFetcher.callback&suppress_response_codes=true&rnd="+Math.random();document.getElementsByTagName("head")[0].appendChild(c)}},callback:function(a){var c=document.createElement("div");c.innerHTML=a.body;"undefined"===typeof c.getElementsByClassName&&(u=!1);a=[];var g=[],f=[],h=[],b=[],n=[],e=0;if(u)for(c=c.getElementsByClassName("tweet");e<
			c.length;){0<c[e].getElementsByClassName("retweet-credit").length?b.push(!0):b.push(!1);if(!b[e]||b[e]&&z)a.push(c[e].getElementsByClassName("e-entry-title")[0]),n.push(c[e].getAttribute("data-tweet-id")),g.push(c[e].getElementsByClassName("p-author")[0]),f.push(c[e].getElementsByClassName("dt-updated")[0]),void 0!==c[e].getElementsByClassName("inline-media")[0]?h.push(c[e].getElementsByClassName("inline-media")[0]):h.push(void 0);e++}else for(c=m(c,"tweet");e<c.length;)a.push(m(c[e],"e-entry-title")[0]),
			n.push(c[e].getAttribute("data-tweet-id")),g.push(m(c[e],"p-author")[0]),f.push(m(c[e],"dt-updated")[0]),void 0!==m(c[e],"inline-media")[0]?h.push(m(c[e],"inline-media")[0]):h.push(void 0),0<m(c[e],"retweet-credit").length?b.push(!0):b.push(!1),e++;a.length>k&&(a.splice(k,a.length-k),g.splice(k,g.length-k),f.splice(k,f.length-k),b.splice(k,b.length-k),h.splice(k,h.length-k));c=[];e=a.length;for(b=0;b<e;){if("string"!==typeof t){var d=f[b].getAttribute("datetime"),l=new Date(f[b].getAttribute("datetime").replace(/-/g,
			"/").replace("T"," ").split("+")[0]),d=t(l,d);f[b].setAttribute("aria-label",d);if(a[b].innerText)if(u)f[b].innerText=d;else{var l=document.createElement("p"),C=document.createTextNode(d);l.appendChild(C);l.setAttribute("aria-label",d);f[b]=l}else f[b].textContent=d}d="";y?(r&&(d+='<div class="user">'+w(g[b].innerHTML)+"</div>"),d+='<p class="tweet">'+w(a[b].innerHTML)+"</p>",q&&(d+='<p class="timePosted">'+f[b].getAttribute("aria-label")+"</p>")):a[b].innerText?(r&&(d+='<p class="user">'+g[b].innerText+
			"</p>"),d+='<p class="tweet">'+a[b].innerText+"</p>",q&&(d+='<p class="timePosted">'+f[b].innerText+"</p>")):(r&&(d+='<p class="user">'+g[b].textContent+"</p>"),d+='<p class="tweet">'+a[b].textContent+"</p>",q&&(d+='<p class="timePosted">'+f[b].textContent+"</p>"));A&&(d+='<p class="interact"><a href="https://twitter.com/intent/tweet?in_reply_to='+n[b]+'" class="twitter_reply_icon">Reply</a><a href="https://twitter.com/intent/retweet?tweet_id='+n[b]+'" class="twitter_retweet_icon">Retweet</a><a href="https://twitter.com/intent/favorite?tweet_id='+
			n[b]+'" class="twitter_fav_icon">Favorite</a></p>');B&&void 0!==h[b]&&(l=h[b],void 0!==l?(l=l.innerHTML.match(/data-srcset="([A-z0-9%_\.-]+)/i)[0],l=decodeURIComponent(l).split('"')[1]):l=void 0,d+='<div class="media"><img src="'+l+'" alt="Image from tweet" /></div>');c.push(d);b++}if(null===v){a=c.length;g=0;f=document.getElementById(x);for(h="<ul>";g<a;)h+="<li>"+c[g]+"</li>",g++;f.innerHTML=h+"</ul>"}else v(c);s=!1;0<p.length&&(twitterFetcher.fetch(p[0]),p.splice(0,1))}}}();
	    	
	    	fetchTweet();
	    </script>

    </body>
</html>